Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

test(filters): update test expectations for basePath in filter links (IDAS-321)
  packages/forms-web-app/src/pages/project-search/utils/filters/get-filters.component.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(packages/forms-web-app): extract shared filter utility (idas-41)
  packages/forms-web-app/src/pages/_utils/filters/get-filters-view-model.js
  packages/forms-web-app/src/pages/_utils/filters/get-filters.js
  packages/forms-web-app/src/pages/project-search/utils/filters/get-filters.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): base working build for projects map page (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): projects map code quality and security fixes (idas-321)
  packages/forms-web-app/src/pages/project-search/utils/get-related-content-links.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(web): add testPathIgnorePatterns dist to shared jest config (idas-321)
  jest.config.js
  packages/forms-web-app/jest.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

revert(api): remove geojson controller and test added in feature branch (idas-321)
  packages/applications-service-api/__tests__/unit/controllers/applications.geojson.test.js
  packages/applications-service-api/src/controllers/applications.geojson.js
Due: azure-pipelines-ci.yml

feat(packages/forms-web-app): add projects-map view and register route (idas-40)
  packages/forms-web-app/src/pages/projects-map/includes/active-filters.njk
  packages/forms-web-app/src/pages/projects-map/includes/filters.njk
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/router.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): consolidate show/hide filters (idas-321)
  docker-compose.yml
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/filter-toggle.njk
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/sass/components/ui/map.scss
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): cleaned up query string building (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fixed bug in switching links (idas-321)
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/includes/search.njk
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/filter-toggle.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): use session flag as sole source of truth for filter panel visibility (idas-321)
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): simplify toggle filter in controller (idas-321)
  packages/forms-web-app/src/pages/_utils/filters/get-active-filter-query-params-with-removed-filter.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/filter-toggle.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): simplify toggle filter in controller (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): added govuk class to popup link (idas-321)
  package-lock.json
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

revert(web): remove unused geojson service and revert api-wrapper to main (idas-321)
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/services/projects-map.service.js
  packages/forms-web-app/src/services/projects-map.service.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): activate geojson route for projects map (idas-40)
  packages/applications-service-api/src/routes/applications.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: upgraded node to v22.22 from v20 (idas-322)
  .nvmrc
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/ni-redirects/package.json
Due: azure-pipelines-ci.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(tests): resolve test failures after Node 22 upgrade (idas-322)
  package-lock.json
  package.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  turbo.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(ni-redirects): enable ES module support in Jest for Node 22 (idas-322)
  packages/ni-redirects/jest.config.js
  packages/ni-redirects/package.json
Due: azure-pipelines-ci.yml

chore: upgrade to Node v22 (idas-322)
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/ni-redirects/jest.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: upgrade to node v22 (idas-322)
  README.md
  azure-pipelines-e2e-test.yml
  e2e-tests/cypress.config.js
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete/regsitration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
  e2e-tests/cypress/support/common-methods/clickContentsLink.js
  e2e-tests/cypress/support/common-methods/clickOnBackLink.js
  e2e-tests/cypress/support/common-methods/clickProjectLink.js
  e2e-tests/cypress/support/common-methods/selectRadioYesOrNo.js
  e2e-tests/cypress/support/e2e.js
  e2e-tests/cypress/support/register-type-of-party-page/selectRadioOption.js
  packages/e2e_tests/package.json
Due: azure-pipelines-ci.yml

chore: improve e2e_tests stability and fixed typo (idas-322)
  .prettierignore
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/support/e2e.js
Due: azure-pipelines-ci.yml

chore(tooling): update wrapper ci files to 3.25.2
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-ci.yml

fix(web): hide projects map link from the project search page
  packages/forms-web-app/src/pages/project-search/includes/search.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): change translations numbers (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add string link (IDAS-249)
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update files (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update snap (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update contact us page trans (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update contact us page files (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(subscribers): use update query in nsip- representation-update
  packages/back-office-subscribers/lib/__tests__/build-prisma-update-query.test.js
  packages/back-office-subscribers/lib/__tests__/build-update-query.test.js
  packages/back-office-subscribers/lib/build-prisma-update-query.js
  packages/back-office-subscribers/lib/build-update-query.js
  packages/back-office-subscribers/nsip-representation-update/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation-update/index.js
Due: azure-pipelines-ci.yml
