Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: correct Welsh translation for to-date validation message
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update test snapshots
  packages/forms-web-app/src/pages/projects/documents/_translations/__snapshots__/translations.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@e6c4520daee9c0e5ee1ea8af2c47a4a1fea4d656 🚀
  master/workspace.json
Due: none

fix: all projects download file (csv) includes internal field (APPLICS-490)
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: none

test: add locators for welsh switcher to base page and create a test which checks the switcher
  packages/e2e_tests/cypress/e2e/locale-switcher.cy.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

fix: all projects download file (csv) includes internal field (APPLICS-490) (#1243)
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@260fbe9a3e105b8cd633b3551df2b53a9be32319 🚀
  master/workspace.json
Due: none

feat: update pipeline files to node 20
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy-ni-redirects.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: none

feat: upgrade to node 20
  .nvmrc
  README.md
  azure-pipelines-build.yml
  docker-compose.yml
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/ni-redirects/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: upgrade to node 20
  .nvmrc
  README.md
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy-ni-redirects.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
  docker-compose.yml
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/ni-redirects/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@51cd9e6fccf93d3573debf5aa44390dbd9657af7 🚀
  master/workspace.json
Due: none

fix: update Welsh translation
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: update Welsh translation (#1252)
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@4004ea27ab18412c365ca130285ed2b1f1fb3fe3 🚀
  master/workspace.json
Due: none

feat: update translations for contact information
  packages/forms-web-app/src/locales/__snapshots__/common.test.js.snap
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add choose and select deadline item translations
  packages/forms-web-app/src/pages/_utils/get-content-by-locale.js
  packages/forms-web-app/src/pages/_utils/get-content-by-locale.test.js
  packages/forms-web-app/src/pages/examination/_session/submission-items-session.js
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
  packages/forms-web-app/src/pages/examination/_utils/_view-models/deadline-item-view-model.js
  packages/forms-web-app/src/pages/examination/_utils/_view-models/deadline-item-view-model.test.js
  packages/forms-web-app/src/pages/examination/choose-deadline/__mocks__/fixtures.js
  packages/forms-web-app/src/pages/examination/choose-deadline/_utils/get-open-timetables-view-model.js
  packages/forms-web-app/src/pages/examination/choose-deadline/_utils/get-page-data.js
  packages/forms-web-app/src/pages/examination/choose-deadline/_utils/validate-examination-choose-deadline.js
  packages/forms-web-app/src/pages/examination/choose-deadline/controller.component.test.js
  packages/forms-web-app/src/pages/examination/choose-deadline/controller.js
  packages/forms-web-app/src/pages/examination/choose-deadline/router.js
  packages/forms-web-app/src/pages/examination/choose-deadline/view.njk
  packages/forms-web-app/src/pages/examination/exmaination.router.js
  packages/forms-web-app/src/pages/examination/have-your-say/utils/setup/setup-examination-journey.component.test.js
  packages/forms-web-app/src/pages/examination/select-deadline/controller.js
  packages/forms-web-app/src/pages/examination/select-deadline/controller.test.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/get-deadline-item-options.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/get-deadline-item-options.test.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/get-page-data.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/get-page-data.test.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/validate-examination-select-deadline.js
  packages/forms-web-app/src/pages/examination/select-deadline/view.njk
  packages/forms-web-app/src/routes/config.js
  packages/forms-web-app/src/services/__mocks__/timetable.fixtures.js
  packages/forms-web-app/src/utils/timetables/__mocks__/fixtures.js
  packages/forms-web-app/src/utils/timetables/format-timetable-items.js
  packages/forms-web-app/src/utils/timetables/format-timetable-items.test.js
  packages/forms-web-app/src/utils/timetables/get-selected-timetable.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update function name for consistency
  packages/forms-web-app/src/pages/examination/_utils/_view-models/deadline-item-view-model.js
  packages/forms-web-app/src/pages/examination/_utils/_view-models/deadline-item-view-model.test.js
  packages/forms-web-app/src/pages/examination/select-deadline/utils/get-deadline-item-options.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(azure-pipelines-release.yml): add timeout parameter to release jobs
  azure-pipelines-release.yml
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@e015bcdd7eda41a6dd30bda4052443d72531be04 🚀
  master/workspace.json
Due: none

Revert "feat: tech debt - api document search term split (APPLICS-476) (#1239)"
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/document.ni.repository.test.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
Due: none

fix: update examination namespace
  packages/forms-web-app/src/pages/examination/have-your-say/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update contact page content (#1256)
  packages/forms-web-app/src/locales/__snapshots__/common.test.js.snap
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@22720c2c8396b81ab1bbf76948c671cbd6432764 🚀
  master/workspace.json
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@d403fc5dab7e412733247bc4f61df809593f0e79 🚀
  master/workspace.json
Due: none

ci: trigger pr pipeline for merge-queue branches
  azure-pipelines-ci.yml
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@5d69ca728018c6d9d0faaa71deea38a2cb1cdae8 🚀
  master/workspace.json
Due: none

test: update test descriptiom
  packages/forms-web-app/src/pages/_utils/get-content-by-locale.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: all dependabot commits
  e2e-tests/package-lock.json
  package-lock.json
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package-lock.json
Due: none

feat: add evidence or comment translations
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
  packages/forms-web-app/src/pages/examination/_utils/get-content/get-submission-item-title-by-locale.js
  packages/forms-web-app/src/pages/examination/_utils/get-content/get-submission-item-title-by-locale.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/controller.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/get-back-link-url.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/get-back-link-url.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/get-summary-list.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/evidence-or-comment.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/evidence-or-comment.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/get-name.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/get-name.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/get-url.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/get-url.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/is-valid.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information-which/is-valid.test.js
  packages/forms-web-app/src/pages/examination/check-submission-item/utils/summary-list-item/personal-information.js
  packages/forms-web-app/src/pages/examination/enter-comment/utils/get-redirect-route.js
  packages/forms-web-app/src/pages/examination/enter-comment/utils/get-redirect-route.test.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/config.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/controller.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/delete-submission-type.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/format-evidence-or-comment-options.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/format-evidence-or-comment-options.test.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/get-page-data.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/get-page-data.test.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/get-redirect-route.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/utils/validate-evidence-or-comment.js
  packages/forms-web-app/src/pages/examination/evidence-or-comment/view.njk
  packages/forms-web-app/src/pages/examination/exmaination.router.js
  packages/forms-web-app/src/pages/examination/submitting-for/utils/format-submitting-for-options.js
  packages/forms-web-app/src/pages/examination/submitting-for/utils/format-submitting-for-options.test.js
  packages/forms-web-app/src/routes/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
