Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: update registration date for e2e legacy test
  init/wp_ipc_projects.sql
Due: none

feat: update readme with npm workspaces dependencies instructions
  README.md
Due: none

feat: update readme
  README.md
Due: none

feat: update package.json files and dockerfiles to consolidate package versions
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package-lock.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/e2e_tests/package-lock.json
  packages/e2e_tests/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/ni-redirects/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: add turbo to web app dev dependencies
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: remove error in njks preventing translation
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representee-details.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: regenerate package-lock.json
  package-lock.json
Due: none

feat: add robots.txt file
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/robots.txt
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: add aria label to project search table sort links
  packages/forms-web-app/src/pages/project-search/includes/projects.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: updated tests
  docker-compose.yml
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(tooling): fix pattern to match any jest config file
  .github/CODEOWNERS
Due: none

docs(readme.me): update readme file
  README.md
Due: none

chore: merge dependabot updates and resolve conflicts
  README.md
  e2e-tests/package-lock.json
  package-lock.json
  package.json
Due: none

chore(config): config change to remove go live case which did not go live
  packages/ni-redirects/src/config.prod.json
Due: none

feat(ni-redirects): activate first project for redirects
  packages/ni-redirects/src/config.prod.json
  packages/ni-redirects/src/config.test.json
Due: none

chore: content audit add another deadline item (APPLICS-925)
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: Updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

fix: updating common pipeline tag to 3.18.1
  azure-pipelines-release.yml
Due: none

fix: updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

fix: correct styling class for over 18 check (APPLICS-1004)
  packages/forms-web-app/src/pages/projects/register/_common/are-you-18/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(tooling): updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

fix(tooling): updating common pipeline tag to 3.18.1
  azure-pipelines-release.yml
Due: none

refactor: add service worker scripts to webpack config
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/public/scripts/checkboxAccordion.script.js
  packages/forms-web-app/src/public/scripts/cookie-preferences.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/public/scripts/sanitiseForm.script.js
  packages/forms-web-app/src/public/scripts/service-worker.script.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/public/scripts/unregister-sw.script.js
  packages/forms-web-app/src/scripts/service-worker/index.js
  packages/forms-web-app/src/scripts/service-worker/register-service-worker.js
  packages/forms-web-app/src/scripts/service-worker/unregister-service-worker.js
  packages/forms-web-app/src/views/includes/head.njk
  packages/forms-web-app/src/views/layouts/default.njk
  packages/forms-web-app/webpack.config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update service worker tests
  packages/forms-web-app/__tests__/unit/scripts/register-service-worker.test.js
  packages/forms-web-app/__tests__/unit/scripts/service-worker.test.js
  packages/forms-web-app/__tests__/unit/scripts/unregister-service-worker.test.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/scripts/service-worker/unregister-service-worker.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update content on have your say views
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
  packages/forms-web-app/src/pages/examination/submission-complete/controller.js
  packages/forms-web-app/src/pages/examination/submission-complete/controller.test.js
  packages/forms-web-app/src/pages/examination/submission-complete/view.njk
  packages/forms-web-app/src/pages/projects/register/_common/complete/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/view.njk
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: remove ga implementation
  packages/forms-web-app/__tests__/unit/scripts/__snapshots__/google-analytics.test.js.snap
  packages/forms-web-app/__tests__/unit/scripts/google-analytics.test.js
  packages/forms-web-app/__tests__/unit/scripts/javascript-requiring-consent.test.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/scripts/google-analytics.js
  packages/forms-web-app/src/scripts/javascript-requiring-consent.js
  packages/forms-web-app/src/views/includes/head.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
