Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

feat: project-updates welsh translation
  packages/forms-web-app/src/pages/projects/all-updates/_utils/get-formatted-updates.js
  packages/forms-web-app/src/pages/projects/all-updates/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/all-updates/controller.js
  packages/forms-web-app/src/pages/projects/all-updates/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: improve ni redirect setup process
  azure-pipelines-deploy-ni-redirects.yml
  packages/ni-redirects/README.md
  packages/ni-redirects/src/config.generated.prod.json
  packages/ni-redirects/src/config.generated.test.json
  packages/ni-redirects/src/config.prod.json
  packages/ni-redirects/src/config.test.json
  packages/ni-redirects/src/documents.js
  packages/ni-redirects/src/documents.test.js
  packages/ni-redirects/src/index.js
  packages/ni-redirects/src/projects.js
  packages/ni-redirects/src/projects.test.js
  packages/ni-redirects/wrangler.toml
Due: none

feat: search by caseReference
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.ni.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
Due: none

feat(web): increase logo size
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/core/pins-header.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update header with the new logo
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/core/pins-header.scss
  packages/forms-web-app/src/views/components/core/pins-dual-logo.njk
  packages/forms-web-app/src/views/components/core/pins-logo-cy.njk
  packages/forms-web-app/src/views/components/core/pins-logo.njk
  packages/forms-web-app/src/views/includes/header.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore(web): set redis pingInterval to stop Azure redis idle timeouts
  packages/forms-web-app/__tests__/unit/lib/session.test.js
  packages/forms-web-app/src/lib/session.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: swap agent and from advice fields
  packages/applications-service-api/__tests__/__data__/advice.js
  packages/applications-service-api/src/utils/advice.mapper.js
Due: none

fix: developers application doc mapper
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

chore(tooling): verify git hash on deployment
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  docker-compose.yml
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/routes/index.js
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/routes/index.js
  verify_commit_hash.sh
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: remove integration cases from ni on search
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.ni.repository.test.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
Due: none

feat(web): reimplement Google Analytics initialization
  packages/forms-web-app/__tests__/unit/scripts/__snapshots__/google-analytics.test.js.snap
  packages/forms-web-app/__tests__/unit/scripts/google-analytics.test.js
  packages/forms-web-app/__tests__/unit/scripts/javascript-requiring-consent.test.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/scripts/google-analytics.js
  packages/forms-web-app/src/scripts/javascript-requiring-consent.js
  packages/forms-web-app/src/views/includes/head.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): applics-1165 pre application process guide content update
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/cy.test.js
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/en.test.js
  packages/forms-web-app/src/pages/process-guide/pre-application/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): applics-1149 contact page content update
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): remove log
  packages/forms-web-app/src/views/includes/head.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore(tooling): set node alpine to node:20-alpine3.20
  docker-compose.yml
  packages/applications-service-api/Dockerfile
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update service name in english and welsh on cookies page (applics-1188)
  packages/forms-web-app/src/pages/cookies/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/cookies/_translations/cy.json
  packages/forms-web-app/src/pages/cookies/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: post decision doc case stage (applics-1193)
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

fix(web): add welsh translation for link text on contact us page
  packages/forms-web-app/src/pages/contact/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  356bdc7e22a5d6c0aa4d6df06d658af35c4e94cb
Due: none

feat: improve project search
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.ni.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
Due: none

fix(web): update failing cookies e2e tests (applics-1207)
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
Due: azure-pipelines-e2e-test.yml
