Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix: content corrections
  packages/forms-web-app/src/pages/contact/view.njk
  packages/forms-web-app/src/pages/have-your-say-guide/_utils/get-have-your-say-guide-stages.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/_utils/get-have-your-say-guide-steps.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/get-involved/config.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/config.js
  packages/forms-web-app/src/pages/projects/register/index/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: updated release-pipeline
  azure-pipelines-release.yml
Due: none

feat: reset stage names
  azure-pipelines-release.yml
Due: none

feat: removed tagging from deployment stages
  azure-pipelines-release.yml
Due: none

feat: add project search link to have your say guide page
  packages/forms-web-app/src/pages/have-your-say-guide/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/have-your-say-guide/index/controller.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/index/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): introduce t&c page
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/_utils/get-links/get-footer-links.js
  packages/forms-web-app/src/pages/_utils/get-links/get-footer-links.test.js
  packages/forms-web-app/src/pages/accessibility-statement/router.js
  packages/forms-web-app/src/pages/accessibility-statement/utils/get-accessibility-statement-url.js
  packages/forms-web-app/src/pages/accessibility-statement/utils/get-accessibility-statement-url.test.js
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/_utils/get-page-data.js
  packages/forms-web-app/src/pages/terms-and-conditions/_utils/get-terms-and-conditions-url.js
  packages/forms-web-app/src/pages/terms-and-conditions/_utils/get-terms-and-conditions.-url.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/config.js
  packages/forms-web-app/src/pages/terms-and-conditions/controller.js
  packages/forms-web-app/src/pages/terms-and-conditions/controller.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
  packages/forms-web-app/src/views/components/core/pins-footer.njk
  packages/forms-web-app/src/views/footer-pages/terms-and-conditions.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor registering for controller
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/constants.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/controller.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_session/registering-for-session.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_session/registering-for-session.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_session/registration-data.json
  packages/forms-web-app/src/pages/projects/register/registering-for/_session/type-of-party-session.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_session/type-of-party-session.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/get-registering-for-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/get-registering-for-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/helpers.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/helpers.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/set-registering-for-session.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_utils/set-registering-for-session.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/_validators/validate-registering-for-options.js
  packages/forms-web-app/src/pages/projects/register/registering-for/config.js
  packages/forms-web-app/src/pages/projects/register/registering-for/config.test.js
  packages/forms-web-app/src/pages/projects/register/registering-for/controller.js
  packages/forms-web-app/src/pages/projects/register/registering-for/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(e2e): update e2e test
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
Due: none

chore(web): remove now unused main.njk file
  packages/forms-web-app/src/views/layouts/main.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update terms page
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: set referrer as back link to maintain filters
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.test.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-page-view-model.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: registration complete e2e tests
  e2e-tests/cypress/e2e/common/assertions.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete.feature
Due: none

chore: updated config for bo feature flags
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/routes/documents.v3.js
  packages/applications-service-api/src/services/advice.service.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/applications-service-api/src/services/interestedParty.service.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/services/submission.service.js
  packages/applications-service-api/src/services/timetable.service.js
  packages/applications-service-api/src/utils/is-backoffice-case-reference.js
Due: none

fix: agent examination timetable e2e tests
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
Due: azure-pipelines-e2e-test.yml

fix: representations e2e tests
  packages/e2e_tests/cypress/e2e/filter-and-search-relevant-reps.cy.js
  packages/e2e_tests/cypress/pageObject/Relevant-representations/PO_RelevantReps.js
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
Due: azure-pipelines-e2e-test.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: get updates e2e tests
  packages/e2e_tests/cypress/e2e/get-updates-sign-up.cy.js
Due: azure-pipelines-e2e-test.yml

fix: project information e2e tests
  packages/e2e_tests/cypress/e2e/project-information.cy.js
Due: azure-pipelines-e2e-test.yml

fix: section 51 e2e tests
  packages/e2e_tests/cypress/pageObject/section-51-advice/PO_Section51.js
Due: none

fix: update data-cy attribute value
  e2e-tests/cypress/e2e/registration-comments/PageObjects/PO_RegComments.js
Due: none

feat: update family group urls to household
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-family-name/_utils/get-register-agent-representing-family-name-url.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-family-name/_utils/get-register-agent-representing-family-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-family-name/config.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-family-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-household-name/_utils/get-register-agent-representing-household-url.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-household-name/_utils/get-register-agent-representing-household-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-household-name/config.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-household-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-household-name/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: updated for bo case ref util
  packages/applications-service-api/__tests__/integration/advice.test.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/integration/interestedParty.test.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/__tests__/integration/timetable.test.js
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/advice.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/interestedParty.service.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/__tests__/unit/services/timetable.service.test.js
  packages/applications-service-api/__tests__/unit/utils/is-backoffice-case-reference.test.js
Due: none

fix(web): update Jest to resolve issues with useFakeTimers
  package-lock.json
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: added null check to advice function attachmentIds
  packages/back-office-subscribers/nsip-advice/index.js
Due: none

feat: add register re-open logic to register page
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/pre-examination-sub-stages.js
  packages/forms-web-app/src/pages/projects/index/_utils/pre-examination-sub-stages.unit.test.js
  packages/forms-web-app/src/pages/projects/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/_includes/closed.njk
  packages/forms-web-app/src/pages/projects/register/index/_includes/open.njk
  packages/forms-web-app/src/pages/projects/register/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.unit.test.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
  packages/forms-web-app/src/pages/projects/register/index/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml
