Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix(infra): allow doc filter in referer header (idas-282)
  infrastructure/front-door.tf
Due: none

fix(infra): amend action for new php rules (idas-282)
  infrastructure/front-door.tf
Due: none

refactor(packages): refactored projects-map to use openlayer map
  package-lock.json
  package.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/scripts/checkbox-accordion.script.js
  packages/forms-web-app/src/public/scripts/cookie-preferences.script.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/public/scripts/initiate.script.js
  packages/forms-web-app/src/public/scripts/leafletMap.script.js
  packages/forms-web-app/src/public/scripts/map.script.js
  packages/forms-web-app/src/public/scripts/modal.script.js
  packages/forms-web-app/src/public/scripts/openLayersMap.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/public/scripts/service-worker.script.js
  packages/forms-web-app/src/public/scripts/sidebarToggler.script.js
  packages/forms-web-app/src/public/scripts/simulateUserAction.script.js
  packages/forms-web-app/src/public/scripts/step-by-step-navigation.script.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/public/stylesheets/projects-map.css
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/leaflet-map/index.js
  packages/forms-web-app/src/scripts/leaflet-map/index.test.js
  packages/forms-web-app/src/scripts/map/get-controls.js
  packages/forms-web-app/src/scripts/map/get-map-wmts.js
  packages/forms-web-app/src/scripts/map/map-state-manager.js
  packages/forms-web-app/src/scripts/map/map-state-manager.test.js
  packages/forms-web-app/src/scripts/map/open-layers.js
  packages/forms-web-app/src/utils/map-bounds.js
  packages/forms-web-app/src/utils/map-bounds.test.js
  packages/forms-web-app/webpack.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(packages): removed leaflet images
  packages/forms-web-app/src/public/images/leaflet/layers-2x.png
  packages/forms-web-app/src/public/images/leaflet/layers.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon-2x.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon.png
  packages/forms-web-app/src/public/images/leaflet/marker-shadow.png
  packages/forms-web-app/src/scripts/map/open-layers.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): introduce redis caching
  docker-compose.yml
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/app.js
  packages/applications-service-api/src/controllers/redis-cache.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/lib/redis-cache.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/redis-cache.js
  packages/back-office-subscribers/nsip-document-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document-unpublish/index.js
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document/index.js
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/lib/redis-cache-client.js
  packages/common/src/lib/redis-cache-client.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/lib/redis-cache.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): added gds button props to prevent dblclick
  packages/forms-web-app/src/pages/projects/register/_common/declaration/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(packages): refactored projects-map view.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(api): update redis connection string var
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
Due: azure-pipelines-ci.yml

chore(package): deleted more temp files and folder
  PROJECTS_MAP_FILTER.md
Due: azure-pipelines-ci.yml

fix(packages): refactored projects-map to match project-search behaviour on mobile view
  docker-compose.yml
  infrastructure/front-door.tf
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/app.js
  packages/applications-service-api/src/controllers/redis-cache.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/lib/redis-cache.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/redis-cache.js
  packages/back-office-subscribers/nsip-document-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document-unpublish/index.js
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document/index.js
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/lib/redis-cache-client.js
  packages/common/src/lib/redis-cache-client.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/lib/redis-cache.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/images/leaflet/layers-2x.png
  packages/forms-web-app/src/public/images/leaflet/layers.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon-2x.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon.png
  packages/forms-web-app/src/public/images/leaflet/marker-shadow.png
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/map/open-layers.js
Due: azure-pipelines-ci.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages/applications-service-api): add geojson endpoint for projects map (idas-40)
  packages/applications-service-api/__tests__/unit/controllers/applications.geojson.test.js
  packages/applications-service-api/src/controllers/applications.geojson.js
  packages/applications-service-api/src/routes/applications.js
Due: azure-pipelines-ci.yml

feat(packages/forms-web-app): add projects-map page config and translations (idas-40)
  packages/forms-web-app/src/pages/projects-map/_middleware/add-projects-map-translations-middleware.js
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages/forms-web-app): add projects-map geojson service (idas-40)
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/services/projects-map.service.js
  packages/forms-web-app/src/services/projects-map.service.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages/forms-web-app): add projects-map page controller (idas-40)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/utils/get-projects-map-url.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages/forms-web-app): add projects-map view and register route (idas-40)
  packages/forms-web-app/src/pages/projects-map/includes/active-filters.njk
  packages/forms-web-app/src/pages/projects-map/includes/filters.njk
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/router.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(packages/forms-web-app): extract shared filter utility (idas-41)
  packages/forms-web-app/src/pages/_utils/filters/get-filters-view-model.js
  packages/forms-web-app/src/pages/_utils/filters/get-filters.js
  packages/forms-web-app/src/pages/project-search/utils/filters/get-filters.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add projects-map client-side script with ol-ext clustering and popup (idas-321)
  package-lock.json
  package.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/webpack.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): wrap projects-map filters in get form for query param submission (idas-41)
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add switch to map/list view links with query param passthrough (idas-40)
  packages/forms-web-app/src/pages/project-search/_translations/cy.json
  packages/forms-web-app/src/pages/project-search/_translations/en.json
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/includes/search.njk
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): activate geojson route for projects map (idas-40)
  packages/applications-service-api/src/routes/applications.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix projects-map show/hide filter panel and query param passthrough (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

test(web): update project-search translations snapshot (idas-321)
  packages/forms-web-app/src/pages/project-search/_translations/__snapshots__/translations.test.js.snap
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): base working build for projects map page (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): projects map marker styling, stage labels, popup fixes (idas-321)
  packages/applications-service-api/src/controllers/applications.geojson.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): projects map ui polish (idas-321)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/includes/search.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/map/get-controls.js
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(web): general housekeeping (idas-321)
  .gitignore
  .prettierignore
  packages/forms-web-app/jest.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(e2e): fix outdated e2e tests
  e2e-tests/cypress/e2e/registration-comments.feature
  e2e-tests/cypress/e2e/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/e2e/registration-comments/registration-comments.js
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  init/wp_ipc_projects.sql
Due: azure-pipelines-ci.yml

fix(web): projects map code quality and security fixes (idas-321)
  packages/forms-web-app/src/pages/project-search/utils/get-related-content-links.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): update router test get call count for projects-map route (idas-321)
  packages/forms-web-app/src/pages/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

test(web): fixed failing tests (idas-321)
  packages/applications-service-api/__tests__/unit/controllers/applications.geojson.test.js
  packages/applications-service-api/__tests__/unit/routes/applications.test.js
Due: azure-pipelines-ci.yml

fix(web): fix cookie choice submission
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-jar.test.js
  packages/forms-web-app/src/middleware/remove-unwanted-cookies.js
  packages/forms-web-app/src/pages/cookies/controller.js
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/forms-web-app/src/public/scripts/cookie-preferences.script.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/public/scripts/initiate.script.js
  packages/forms-web-app/src/scripts/cookie/cookie-jar.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

revert(api): revert applications-service-api to main branch (idas-321)
  packages/applications-service-api/__tests__/unit/routes/applications.test.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: azure-pipelines-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
