Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix(web): wIP register of advice detail page back link bug (applics-1617)
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.test.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.js
  packages/forms-web-app/src/pages/register-of-advice/router.js
  packages/forms-web-app/src/pages/register-of-advice/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(subscribers): add unpublish reps BO subscriber (APPLICS-1633)
  packages/back-office-subscribers/nsip-representation-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation-unpublish/funciton.json
  packages/back-office-subscribers/nsip-representation-unpublish/index.js
Due: azure-pipelines-ci.yml

fix(web): feat(web): add middleware to clear back link session on index route (applics-1617)
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/clear-register-of-advice-referrer-middleware.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/clear-register-of-advice-referrer-middleware.test.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.test.js
  packages/forms-web-app/src/pages/register-of-advice/index/_utils/update-lang-query.js
  packages/forms-web-app/src/pages/register-of-advice/index/_utils/update-lang-query.test.js
  packages/forms-web-app/src/pages/register-of-advice/router.js
  packages/forms-web-app/src/pages/register-of-advice/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): feat(web): add middleware to clear back link session on index route (applics-1617)
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/clear-register-of-advice-referrer-middleware.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/clear-register-of-advice-referrer-middleware.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(tooling): adding auto-deployment for DEV environment
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

fix(subscribers): fix typo in file name (applics-1633)
  packages/back-office-subscribers/nsip-representation-unpublish/function.json
Due: azure-pipelines-ci.yml

feat(api): exclude unpublished project records from prisma query results (applics-1658)
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
Due: azure-pipelines-ci.yml

chore(infra): increase request rate limit in test env
  infrastructure/environments/test.tfvars
Due: none

chore(infra): increase request rate limit in dev env
  infrastructure/environments/dev.tfvars
Due: none

chore: use the data-model enum values for message event types
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/services/backoffice.publish.service.js
Due: azure-pipelines-ci.yml

feat(subscriber function): update project record publish status when depublished (applics-1613)
  packages/back-office-subscribers/nsip-project-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-unpublish/index.js
Due: azure-pipelines-ci.yml

fix(web): prevent lang=undefined in back link session logic (applics-1617)
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.js
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.test.js
  packages/forms-web-app/src/pages/register-of-advice/index/_utils/update-lang-query.js
  packages/forms-web-app/src/pages/register-of-advice/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(tooling): adding auto-deployment and function deploy
  azure-pipelines-deploy-release.yml
Due: azure-pipelines-ci.yml

fix(web): test(web): add and clarify tests for back link language param (applics-1617)
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): test(web): add test for no language param on detail page back link (applics-1617)
  packages/forms-web-app/src/pages/register-of-advice/index/_middleware/store-register-of-advice-referrer-middleware.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(infrastructure): upgrade terraform version
  infrastructure/providers.tf
Due: none

chore(functions): align function settings in host.json
  packages/back-office-subscribers/host.json
Due: azure-pipelines-ci.yml

fix(tooling): adding slot deploy for services and removing release pipeline
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: azure-pipelines-ci.yml

chore: dependabot groups
  .github/dependabot.yml
Due: azure-pipelines-ci.yml

chore(tooling): extend dependabot commit linting exclusion
  commitlint.config.js
Due: azure-pipelines-ci.yml
