Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: add additional registration re-opened value to session
  packages/forms-web-app/src/pages/projects/register/index/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: cleanup redundant feature flags for bo integration
  packages/applications-service-api/__tests__/integration/advice.test.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/integration/interestedParty.test.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/__tests__/integration/timetable.test.js
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/advice.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/interestedParty.service.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/__tests__/unit/services/timetable.service.test.js
  packages/applications-service-api/__tests__/unit/utils/is-backoffice-case-reference.test.js
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/routes/documents.v3.js
  packages/applications-service-api/src/services/advice.service.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/applications-service-api/src/services/interestedParty.service.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/services/submission.service.js
  packages/applications-service-api/src/services/timetable.service.js
  packages/applications-service-api/src/utils/is-backoffice-case-reference.js
Due: none

feat(ni-redirects): activate first project for redirects
  packages/ni-redirects/src/config.prod.json
  packages/ni-redirects/src/config.test.json
Due: none

fix(web): vertical tab links being affected by lowercase caseRef
  packages/forms-web-app/src/pages/_utils/is-string-part-of-array.js
  packages/forms-web-app/src/pages/_utils/is-string-part-of-array.test.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix typo in terms and conditions page
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): update update date
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: dependabot combined updates to package-lock.json
  package-lock.json
Due: none

test: add additional unit tests
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.unit.test.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): formatting of advice detail page
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_includes/page.njk
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-page-view-model.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): formatting of advice detail page (#1104)
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_includes/page.njk
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-page-view-model.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix typo in terms and conditions page (#1101)
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register agent organisation page
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_session/register-agent-organisation-name-session.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_session/register-agent-organisation-name-session.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: re-order register agent journey pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/_common/address/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/address/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/_common/address/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/address/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/email/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/email/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/_common/email/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/email/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/number/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/number/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/_common/number/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/number/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: register agent journey e2e test updates
  e2e-tests/cypress/e2e/registration/agent/are-they-18-or-over/are-they-18-or-over.js
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/agent/representee-name/representee-name.js
  e2e-tests/cypress/e2e/registration/agent/uk-address-details.feature
  e2e-tests/cypress/e2e/registration/agent/uk-address-details/uk-address-details.js
  e2e-tests/cypress/e2e/registration/agent/what-do-you-want-to-tell-about-project/what-do-you-want-to-tell-about-project.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-address/what-is-their-address.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-email-address/what-is-their-email-address.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-telephone-number/what-is-their-telephone-number.js
  e2e-tests/cypress/e2e/registration/agent/what-is-your-email-address.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-your-telephone-number.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-your-telephone-number/what-is-your-telephone-number.js
  e2e-tests/cypress/e2e/registration/agent/who-are-you-representing.feature
  e2e-tests/cypress/e2e/registration/agent/who-are-you-representing/who-are-you-representing.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-redirect-url.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  722c90d0ffc42b6698fc8943042af8b16f33a0d6
Due: none

feat: add correct redirects to register agent journey
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_session/register-agent-representing-who-session.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_utils/helpers.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/config.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-email/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/their-email/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-telephone/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/agent/their-telephone/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: advice bo function to new pattern
  packages/back-office-subscribers/nsip-advice/__tests__/index.test.js
  packages/back-office-subscribers/nsip-advice/index.js
Due: none

feat: reorder register agent journey pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/_common/representing-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/are-they-18/utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_session/register-agent-representing-who-session.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_utils/helpers.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-email/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-email/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-email/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-telephone/_utils/get-redirect-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-telephone/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-telephone/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: re-order check your answers results
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representee-details.njk
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representor-details.njk
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: document bo function to new pattern
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document/index.js
Due: none

test: updated query
  packages/back-office-subscribers/nsip-advice/__tests__/index.test.js
Due: none

test: updated query
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
Due: none

test: update register journey e2e tests
  e2e-tests/cypress/e2e/registration/agent/are-they-18-or-over.feature
  e2e-tests/cypress/e2e/registration/agent/complete-registration.feature
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/agent/what-do-you-want-to-tell-about-project/what-do-you-want-to-tell-about-project.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-address.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-their-address/what-is-their-address.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-email-address.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-their-email-address/what-is-their-email-address.js
  e2e-tests/cypress/e2e/registration/agent/what-is-their-telephone-number.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-their-telephone-number/what-is-their-telephone-number.js
  e2e-tests/cypress/e2e/registration/myself/check-your-answers-before-registering.feature
Due: none

docs: update variable name and add comment for function
  packages/forms-web-app/src/pages/projects/register/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: register as an agent
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/register-as-an-agent.cy.js
Due: azure-pipelines-e2e-test.yml

Create Structurizr workspace.dsl to model architecture as code
  .gitignore
  README.md
  doc/images/pins-applications-c1-context.drawio.png
  doc/images/pins-applications-c2-context.drawio.png
  workspace.dsl
Due: none

feat: exam + project functions updated
  packages/back-office-subscribers/nsip-exam-timetable/__tests__/index.test.js
  packages/back-office-subscribers/nsip-exam-timetable/index.js
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
Due: none

Minor tweaks - spellings, additional detail, removal of Applications BO details to simplify
  workspace.dsl
Due: none

feat: exam + project functions updated
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
Due: none

feat: update rep bo function
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation/index.js
Due: none

test: updated to assert buildmergequery
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
Due: none

fix(web): update Jest to resolve issues with useFakeTimers
  package-lock.json
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
