Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix(apps): revert change to docker compose
  docker-compose.yml
Due: azure-pipelines-ci.yml

fix(apps): remove pagination options in query string to return correct results
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/project-search/controller.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/utils/get-project-search-query-string.js
  packages/forms-web-app/src/pages/project-search/utils/get-project-search-query-string.unit.test.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.js
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
  packages/forms-web-app/src/services/applications.service.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(apps): remove block after testing
  packages/forms-web-app/src/pages/project-search/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(apps): remove BACK_OFFICE_INTEGRATION_GET_APPLICATIONS env var and usages
  docker-compose.yml
  packages/applications-service-api/__tests__/integration/advice.test.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/integration/interestedParty.test.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/__tests__/integration/timetable.test.js
  packages/applications-service-api/__tests__/unit/controllers/advice.test.js
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/advice.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/interestedParty.service.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/__tests__/unit/services/timetable.service.test.js
  packages/applications-service-api/__tests__/unit/utils/is-backoffice-case-reference.test.js
  packages/applications-service-api/src/controllers/advice.js
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/routes/documents.v3.js
  packages/applications-service-api/src/services/advice.service.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/applications-service-api/src/services/interestedParty.service.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/services/submission.service.js
  packages/applications-service-api/src/services/timetable.service.js
  packages/applications-service-api/src/utils/is-backoffice-case-reference.js
Due: azure-pipelines-ci.yml

test: make folder structure more uniform across e2e tests
  e2e-tests/cypress/e2e/README.md
  e2e-tests/cypress/e2e/cookies-banner/cookies-banner.feature
  e2e-tests/cypress/e2e/cookies-banner/cookies-banner/cookies-banner.js
  e2e-tests/cypress/e2e/decision-making-process-guide/decision-making-process-guide.feature
  e2e-tests/cypress/e2e/decision-making-process-guide/decision-making-process-guide/decision-making-process-guide.js
  e2e-tests/cypress/e2e/examination-of-the-application/examination-of-the-application.feature
  e2e-tests/cypress/e2e/examination-of-the-application/examination-of-the-application/examination-of-the-application.js
  e2e-tests/cypress/e2e/footer-links/footer-links.feature
  e2e-tests/cypress/e2e/footer-links/footer-links/footer-links.js
  e2e-tests/cypress/e2e/get-involved-in-preliminary-meeting/get-involved-in-preliminary-meeting.feature
  e2e-tests/cypress/e2e/get-involved-in-preliminary-meeting/get-involved-in-preliminary-meeting/get-involved-in-preliminary-meeting.js
  e2e-tests/cypress/e2e/overview-page/overview-page.feature
  e2e-tests/cypress/e2e/overview-page/overview-page/overview-page.js
  e2e-tests/cypress/e2e/pre-application/pre-application.feature
  e2e-tests/cypress/e2e/pre-application/pre-application/pre-application.js
  e2e-tests/cypress/e2e/pre-examination/pre-examination.feature
  e2e-tests/cypress/e2e/pre-examination/pre-examination/pre-examination.js
  e2e-tests/cypress/e2e/project-application-documents/project-application-documents.feature
  e2e-tests/cypress/e2e/project-application-documents/project-application-documents/project-application-documents.js
  e2e-tests/cypress/e2e/projects/examination-timetable/PageObjects/PO_ExaminationTimetable.js
  e2e-tests/cypress/e2e/projects/examination-timetable/examination-timetable.feature
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project.feature
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project.js
  e2e-tests/cypress/e2e/registration-comments/registration-comments.feature
  e2e-tests/cypress/e2e/registration-comments/registration-comments/registration-comments.js
  e2e-tests/cypress/e2e/review-of-the-application/review-of-the-application.feature
  e2e-tests/cypress/e2e/review-of-the-application/review-of-the-application/review-of-the-application.js
  e2e-tests/cypress/e2e/say-about-national-infra-project/say-about-national-infra-project.feature
  e2e-tests/cypress/e2e/say-about-national-infra-project/say-about-national-infra-project/say-about-national-infra-project.js
  e2e-tests/cypress/e2e/say-at-pre-application-stage/say-at-pre-application-stage.feature
  e2e-tests/cypress/e2e/say-at-pre-application-stage/say-at-pre-application-stage/say-at-pre-application-stage.js
  e2e-tests/cypress/e2e/say-during-examination-of-project/say-during-examination-of-project.feature
  e2e-tests/cypress/e2e/say-during-examination-of-project/say-during-examination-of-project/say-during-examination-of-project.js
  e2e-tests/cypress/e2e/start-page/start-page.feature
  e2e-tests/cypress/e2e/start-page/start-page/start-page.js
  e2e-tests/cypress/e2e/what-after-decision-made/what-after-decision-made.feature
  e2e-tests/cypress/e2e/what-after-decision-made/what-after-decision-made/what-after-decision-made.js
Due: azure-pipelines-ci.yml

ci: try and fix queue issue
  azure-pipelines-e2e-test.yml
Due: azure-pipelines-ci.yml

test: fix error causing pipeline failures
  packages/forms-web-app/src/pages/projects/_utils/get-project-case-ref.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/get-events.component.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ci: educe shards and improve step resilience
  azure-pipelines-e2e-test.yml
  pipelines/templates/e2e-job-steps.yml
Due: azure-pipelines-ci.yml

chore(web): display boundary shapefiles (idas-131)
  .gitignore
  packages/forms-web-app/babel.config.js
  packages/forms-web-app/jest.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/cluster-style.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-controls.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-map-wmts.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/normalize-map-input.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/popup.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/setup-epsg27700.test.js
  packages/forms-web-app/src/scripts/projects-map/build-tile-layer.js
  packages/forms-web-app/src/scripts/projects-map/cluster-style.js
  packages/forms-web-app/src/scripts/projects-map/constants.js
  packages/forms-web-app/src/scripts/projects-map/get-controls.js
  packages/forms-web-app/src/scripts/projects-map/get-map-wmts.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/normalize-map-input.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
  packages/forms-web-app/src/scripts/projects-map/setup-epsg27700.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/utils/project-stages.js
  packages/forms-web-app/src/utils/project-stages.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/cluster-style.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-controls.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-map-wmts.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/normalize-map-input.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/popup.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/setup-epsg27700.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/pages/_utils/geo-json-builder.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
  packages/forms-web-app/src/pages/projects/index/controller.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
  packages/forms-web-app/src/pages/projects/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(subscriber): prevent race conditions in service user query (idas-314)
  packages/back-office-subscribers/lib/queries.js
Due: azure-pipelines-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/projects/index/controller.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/public/scripts/checkbox-accordion.script.js
  packages/forms-web-app/src/public/scripts/initiate.script.js
  packages/forms-web-app/src/public/scripts/map.script.js
  packages/forms-web-app/src/public/scripts/modal.script.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/public/scripts/service-worker.script.js
  packages/forms-web-app/src/public/scripts/simulateUserAction.script.js
  packages/forms-web-app/src/public/scripts/step-by-step-navigation.script.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/scripts/projects-map/build-cluster-layer.js
  packages/forms-web-app/src/scripts/projects-map/build-geojson-layer.js
  packages/forms-web-app/src/scripts/projects-map/build-single-point-layer.js
  packages/forms-web-app/src/scripts/projects-map/get-controls.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/utils.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-controls.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/utils.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
  packages/forms-web-app/src/pages/projects/index/controller.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/projects-map/build-cluster-layer.js
  packages/forms-web-app/src/scripts/projects-map/build-geojson-layer.js
  packages/forms-web-app/src/scripts/projects-map/build-single-point-layer.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/layers.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/pages/projects/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/cluster-style.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-controls.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-map-wmts.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/setup-epsg27700.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/utils.test.js
  packages/forms-web-app/src/scripts/projects-map/cluster-style.js
  packages/forms-web-app/src/scripts/projects-map/get-map-wmts.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/layers.js
  packages/forms-web-app/src/scripts/projects-map/map-setup.js
  packages/forms-web-app/src/scripts/projects-map/setup-epsg27700.js
  packages/forms-web-app/src/scripts/projects-map/tile-layer.js
  packages/forms-web-app/src/scripts/projects-map/utils.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/cluster-style.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-controls.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/get-map-wmts.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/normalize-map-input.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/popup.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/setup-epsg27700.test.js
  packages/forms-web-app/src/pages/_utils/geo-json-builder.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/layers.js
  packages/forms-web-app/src/scripts/projects-map/map-setup.js
  packages/forms-web-app/src/scripts/projects-map/normalize-map-input.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
  packages/forms-web-app/src/scripts/projects-map/tile-layer.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/__tests__/unit/scripts/projects-map/layers.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/map-setup.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/setup-epsg27700.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/tile-layer.test.js
  packages/forms-web-app/__tests__/unit/scripts/projects-map/utils.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): display boundary shapefiles (idas-131)
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/projects-map/layers.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): clarify registration complete comments publishing (IDAS-568)
  e2e-tests/cypress/e2e/registration/myself/registration-complete.feature
  e2e-tests/cypress/e2e/registration/myself/registration-complete/registration-complete.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/view.njk
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(e2e): restore page-object step impl for registration-complete (IDAS-568)
  e2e-tests/cypress/e2e/registration/myself/registration-complete/registration-complete.js
Due: azure-pipelines-ci.yml

feat(web): add master boundary geojson download link (idas-53)
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/config.js
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/utils/get-master-geo-json-download-url.js
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(forms-web-app): remove unused @planning-inspectorate/pins-components
  package-lock.json
  package.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/nunjucks-configure.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(api): move @planning-inspectorate/pins-notify into the codebase
  package-lock.json
  package.json
  packages/applications-service-api/__tests__/integration/interestedParty.test.js
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/__tests__/unit/lib/notify.test.js
  packages/applications-service-api/package.json
  packages/applications-service-api/src/lib/notify.js
  packages/applications-service-api/src/lib/pins-notify/README.md
  packages/applications-service-api/src/lib/pins-notify/config.js
  packages/applications-service-api/src/lib/pins-notify/index.js
  packages/applications-service-api/src/lib/pins-notify/index.test.js
  packages/applications-service-api/src/lib/pins-notify/logger.js
  packages/applications-service-api/src/lib/pins-notify/notify-builder.js
  packages/applications-service-api/src/lib/pins-notify/notify-builder.test.js
  packages/applications-service-api/src/lib/pins-notify/notify-factory.js
  packages/applications-service-api/src/lib/pins-notify/notify-factory.test.js
Due: azure-pipelines-ci.yml

fix(web): stagger document submission (idas-428)
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(infrastructure): update the required provider (no-ticket)
  infrastructure/providers.tf
Due: none

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
