Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix(tooling): updating common pipeline tag to 3.18.2
  azure-pipelines-release.yml
Due: none

chore(web): unregister old service worker before registering new one
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/public/scripts/checkbox-accordion.script.js
  packages/forms-web-app/src/public/scripts/cookie-preferences.script.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/public/scripts/initiate.script.js
  packages/forms-web-app/src/public/scripts/map.script.js
  packages/forms-web-app/src/public/scripts/modal.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/public/scripts/simulateUserAction.script.js
  packages/forms-web-app/src/scripts/service-worker/register-service-worker.js
  packages/forms-web-app/src/scripts/service-worker/unregister-duplicate-service-worker.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): express rate limiter example
  package-lock.json
  package.json
  packages/forms-web-app/src/app.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): use abort controller to cancel API requests on timeout
  package-lock.json
  package.json
  packages/common/src/utils.js
  packages/common/src/utils.spec.js
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test-server.js
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/services/submission.service.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/lib/application-api-wrapper.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

test(common): increase test coverage to meet threshold
  packages/common/src/constants.test.js
  packages/common/src/lib/logger.test.js
Due: pipelines/common/common-ci.yml

feat(web): filters to use POST requests to limit bot crawling
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/view.njk
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): filter query parameters before posting
  packages/forms-web-app/src/pages/_utils/filter-allowed-params.js
  packages/forms-web-app/src/pages/_utils/filter-allowed-params.test.js
  packages/forms-web-app/src/pages/projects/documents/config.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(web): add tests for postProjectsDocumentsController
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add english content and welsh translations
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): lowercase allowedParamsArr to account for camelcased query parameters
  packages/forms-web-app/src/pages/_utils/filter-allowed-params.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): remove query filtering from documents post controller
  packages/forms-web-app/src/pages/_utils/filter-allowed-params.js
  packages/forms-web-app/src/pages/_utils/filter-allowed-params.test.js
  packages/forms-web-app/src/pages/projects/documents/config.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): change representation filters to use POST requests
  packages/forms-web-app/src/pages/projects/representations/index/controller.js
  packages/forms-web-app/src/pages/projects/representations/index/controller.test.js
  packages/forms-web-app/src/pages/projects/representations/index/view.njk
  packages/forms-web-app/src/pages/projects/representations/router.js
  packages/forms-web-app/src/pages/projects/representations/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): change project-search filters to use POST requests
  packages/forms-web-app/src/pages/project-search/controller.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  54463133347625c421ba0cbeb18725fe97768fd6
Due: none

feat: implement conditional content for each project stage
  packages/forms-web-app/src/pages/process-guide/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/application-published/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/application-received/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/examination/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/post-decision/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/pre-application/description.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update project information page content in english and welsh
  packages/forms-web-app/src/pages/process-guide/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/_utils/get-process-guide-stages.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-process-guide-stages.test.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-process-guide-steps.test.js
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-examination/description.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update accessibility page content in english and welsh
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): update service worker loading path
  packages/forms-web-app/src/app.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  f8c761577539a4a343515dc1c72fdca3e47e6808
Due: none

feat: redirect docs TR010012 test
  packages/ni-redirects/src/config.test.json
Due: none

fix: bo migrated cases document display names
  packages/forms-web-app/__tests__/unit/lib/get-file-name-from-url.test.js
  packages/forms-web-app/src/lib/get-file-name-from-url.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: improve ni redirect setup process
  azure-pipelines-deploy-ni-redirects.yml
  packages/ni-redirects/README.md
  packages/ni-redirects/src/config.generated.prod.json
  packages/ni-redirects/src/config.generated.test.json
  packages/ni-redirects/src/config.prod.json
  packages/ni-redirects/src/config.test.json
  packages/ni-redirects/src/documents.js
  packages/ni-redirects/src/documents.test.js
  packages/ni-redirects/src/index.js
  packages/ni-redirects/src/projects.js
  packages/ni-redirects/src/projects.test.js
  packages/ni-redirects/wrangler.toml
Due: none

feat(web): update header with the new logo
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/core/pins-header.scss
  packages/forms-web-app/src/views/components/core/pins-dual-logo.njk
  packages/forms-web-app/src/views/components/core/pins-logo-cy.njk
  packages/forms-web-app/src/views/components/core/pins-logo.njk
  packages/forms-web-app/src/views/includes/header.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: search by caseReference
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.ni.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
Due: none
