Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

chore(tooling): extend dependabot commit linting exclusion
  commitlint.config.js
Due: azure-pipelines-ci.yml

feat(tooling): adding rollback pipeline for applications service web and api
  azure-pipelines-rollback.yml
Due: azure-pipelines-ci.yml

feat(web): add global banner for service announcements (applics-1786)
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/_middleware/add-global-middleware.js
  packages/forms-web-app/src/pages/_middleware/add-global-middleware.test.js
  packages/forms-web-app/src/views/includes/global-info-banner.njk
  packages/forms-web-app/src/views/includes/header.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(infrastructure): updating WAF policies to match configurations in infra-env
  infrastructure/front-door.tf
  infrastructure/locals.tf
Due: none

fix(infrastructure): updating WAF policies
  infrastructure/front-door.tf
Due: none

fix(infrastructure): removing origin and sp
  infrastructure/front-door.tf
Due: none

fix(infrastructure): removing fd origin and security policies
  infrastructure/front-door.tf
Due: none

fix(infrastructure): destroying resources for front door
  infrastructure/front-door.tf
Due: none

fix(infrastructure): creating resources for front door
  infrastructure/front-door.tf
Due: none

fix(infrastructure): adding security policy for front door
  infrastructure/front-door.tf
Due: none

chore(tooling): update common-pipeline-templates to 3.24.2
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy-ni-redirects.yml
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-purge-container-registry.yml
  azure-pipelines-release.yml
  azure-pipelines-rollback.yml
  infrastructure/pipelines/terraform-cd.yaml
  infrastructure/pipelines/terraform-ci-commit.yaml
  infrastructure/pipelines/terraform-ci.yaml
Due: azure-pipelines-ci.yml

feat(web): update accessibility statement and related tests (applics-1813)
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
  packages/forms-web-app/src/pages/projects/index/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): updated the wcag22URL
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): updated translation links and structure
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): corrections after qa testing (applics-1869)
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix(web): update postal address in General Enquiries section (1862)
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
