Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: add timezone to sequalize config and update deadline opening logic
  packages/applications-service-api/src/database/config/config.js
  packages/forms-web-app/src/utils/timetables/check-timetable-state.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update notify package version
  package-lock.json
  packages/applications-service-api/package.json
Due: none

fix: redirect to project root from get-updates if missing session
  packages/forms-web-app/src/pages/projects/get-updates/_middleware/get-updates-middleware.js
  packages/forms-web-app/src/pages/projects/get-updates/_middleware/get-updates-middleware.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update govuk-frontend/@ministryofjustice/frontend packages
  package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: fix cookie banner snapshots
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: correct govuk css and js paths
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: revert manual favicon implementation
  packages/forms-web-app/src/public/images/favicon.ico
  packages/forms-web-app/src/public/images/favicon.svg
  packages/forms-web-app/src/public/images/govuk-icon-180.png
  packages/forms-web-app/src/public/images/govuk-icon-mask.svg
  packages/forms-web-app/src/public/manifest.json
  packages/forms-web-app/src/views/layouts/default.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

style: update text casing for tag component
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/event/utils/get-event-state.js
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/views/components/core/banner.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: update header to correct visual alignment
  packages/forms-web-app/src/sass/components/core/pins-header.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update tests
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/event/utils/get-event-state.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/get-events.component.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(api): revert sequelize timezone config change
  packages/applications-service-api/src/database/config/config.js
Due: none

feat: update package.json files and dockerfiles to consolidate package versions
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package-lock.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/e2e_tests/package-lock.json
  packages/e2e_tests/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/ni-redirects/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: regenerate package-lock.json
  package-lock.json
Due: none

feat: update tag colours
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/event/get-event.component.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/event/utils/get-event-state.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/event/utils/get-event-state.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/events/get-events.component.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.test.js
  packages/forms-web-app/src/pages/projects/index/_components/stage-progress-tag.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  b6995ca43b17ea42352af36bc8d2e1647dbdc2c2
Due: none

chore(tooling): add CODEOWNERS
  .github/CODEOWNERS
Due: none

feat(api): assume BO case when case reference is 9 characters long
  packages/applications-service-api/__tests__/unit/utils/is-backoffice-case-reference.test.js
  packages/applications-service-api/src/utils/is-backoffice-case-reference.js
Due: none

fix: add turbo to web app dev dependencies
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: timetable description character limit (APPLICS-959)
  packages/applications-service-api/prisma/migrations/20240912141822_increase_examination_desc/migration.sql
  packages/applications-service-api/prisma/schema.prisma
Due: none

chore: remove unused scripts from package.json files
  package.json
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: remove error in njks preventing translation
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representee-details.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
