Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: throw a NotFoundError when a representation is not found
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: use applicationData from res.locals instead of fetching again
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: do not encode caseRef for logger.debug
  packages/applications-service-api/src/controllers/timetables.js
Due: none

chore: prevent case reference cross site scripting
  packages/applications-service-api/__tests__/integration/timetable.test.js
  packages/applications-service-api/src/controllers/timetables.js
Due: none

refactor: removed the dotenv [package as no longer required due to code change
  package-lock.json
  package.json
  packages/applications-service-api/src/lib/config.js
Due: none

fix: added the missing translation for "you can" to the welsh global translate file
  packages/forms-web-app/src/locales/cy/global.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(refactor and adding project information test): refactor and adding project information test
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/pageObject/section-51-advice/PO_Section51.js
Due: azure-pipelines-e2e-test.yml

test: updated global translate tests
  packages/forms-web-app/src/locales/__snapshots__/global.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(fixed failing e2e test to use correct method): fixed failing e2e test to use correct method
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/pageObject/Examination-TimeTable/PO_ExaminationTimetable.js
Due: azure-pipelines-e2e-test.yml

test(added correct method to s51 e2e test): added correct method to s51 e2e test
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
Due: azure-pipelines-e2e-test.yml

test(fix incorret method on examination timetable tests): fix incorret method on examination tests
  packages/e2e_tests/cypress/e2e/examination-timetable-myself-submission.cy.js
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
Due: azure-pipelines-e2e-test.yml

test: update test to clear obj values and compare
  packages/forms-web-app/__tests__/setupTests.js
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/translations.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: assign new object for comparison
  packages/forms-web-app/__tests__/setupTests.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add material change project stages
  packages/forms-web-app/src/pages/process-guide/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/_utils/__snapshots__/get-material-change-process-guide-stages.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_utils/get-material-change-process-guide-stages.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-material-change-process-guide-stages.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.test.js
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/application-published/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/application-received/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/post-decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/pre-application/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/recommendation/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/material-change-stages/withdrawn/description.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/translations.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/format-process-guide-stages.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/utils/project-stages.js
  packages/forms-web-app/src/utils/project-stages.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: remove duplicate app data request
  e2e-tests/cypress/e2e/registration/agent/what-is-their-email-address.feature
  e2e-tests/cypress/e2e/registration/agent/what-is-their-telephone-number.feature
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
  packages/forms-web-app/src/views/macros/pagination-bar.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

docs: updated documentation with details of new environment variable
  README.md
  packages/applications-service-api/.env.example
Due: none

feat: removed encryption_secret_key from docker compose file
  .env.example
  README.md
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
Due: none

fix: added dummy key to crypto tests so it uses consistent key for testing
  README.md
  packages/applications-service-api/__tests__/unit/lib/crypto.test.js
  packages/applications-service-api/src/lib/config.js
Due: none

refactor: removed redundant env.example file in applications-service-api
  packages/applications-service-api/.env.example
Due: none

refactor: removed a redundant commented line
  packages/applications-service-api/src/lib/config.js
Due: none

fix: added require("dotenv") to config.js to allow local env files to be picked up
  package-lock.json
  package.json
  packages/applications-service-api/src/lib/config.js
Due: none

chore: use cbos for s51 general (APPLICS-531)
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/register-of-advice/index/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: change mapBackOfficeApplicationsToApi to run in one pass
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

fix: use BO-specific filter-building function and then merge with NI
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/services/application.merge.service.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
