Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix(web): align projects map with GeoJSON schema updates (IDAS-664)
  packages/forms-web-app/src/scripts/projects-map/__tests__/fixtures/boundaries-new-schema.json
  packages/forms-web-app/src/scripts/projects-map/__tests__/normalize-map.test.js
  packages/forms-web-app/src/scripts/projects-map/__tests__/popup.test.js
  packages/forms-web-app/src/scripts/projects-map/constants.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): update content on project search and projects map pages (idas-651)
  packages/forms-web-app/src/pages/project-search/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/project-search/_translations/cy.json
  packages/forms-web-app/src/pages/project-search/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): enable filtering for map boundaries (idas-650)
  packages/forms-web-app/src/pages/projects/index/_utils/get-projects-boundary-url.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-projects-boundary-url.test.js
  packages/forms-web-app/src/pages/projects/index/config.js
  packages/forms-web-app/src/pages/projects/index/controller.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/layers.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add map view switcher for projects map (idas-653)
  packages/forms-web-app/src/pages/projects-map/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/includes/map-view-selector.njk
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: group prisma dependabot updates
  .github/dependabot.yml
Due: azure-pipelines-ci.yml

feat(web): add map view switcher to projects map page (idas-653)
  packages/forms-web-app/src/pages/projects-map/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/includes/map-view-selector.njk
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/map.scss
  packages/forms-web-app/src/scripts/projects-map/__tests__/popup.test.js
  packages/forms-web-app/src/scripts/projects-map/constants.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(deps): replace dotenv with process.loadEnvFile
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/prisma.config.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): correct padding around boundary download link (idas-50)
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): change warning label to inset text for maps (idas-671)
  packages/forms-web-app/src/pages/projects-map/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): do not display filter panel when map view selected (idas-672)
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/includes/map-view-selector.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/map.scss
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): await fetches of boundary geojson data when filters applied (idas-676)
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/scripts/projects-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(function): prevent blank redacted rep content being displayed (idas-677)
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation/index.js
Due: azure-pipelines-ci.yml

fix(web): add aria label to popup close button (idas-669)
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/scripts/projects-map/__tests__/popup.test.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): add copy and translations to map pages (idas-647)
  packages/forms-web-app/src/pages/projects-map/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/includes/map.njk
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/public/scripts/projects-map.script.js
  packages/forms-web-app/src/scripts/projects-map/__tests__/popup.test.js
  packages/forms-web-app/src/scripts/projects-map/index.js
  packages/forms-web-app/src/scripts/projects-map/popup.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(dev-727): accepted cipher suite added to front door now required
  infrastructure/front-door.tf
Due: none

chore(ci): update common-pipeline-templates to 3.27.0 for new terraform_plan_apply
  infrastructure/pipelines/terraform-cd.yaml
Due: none

fix(apps): revert 4cbda97 for further investigation (idas-292)
  docker-compose.yml
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/project-search/controller.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/utils/get-project-search-query-string.js
  packages/forms-web-app/src/pages/project-search/utils/get-project-search-query-string.unit.test.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.js
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
  packages/forms-web-app/src/services/applications.service.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(app): remove old and unused feature flag logic (idas-91)
  docker-compose.yml
  packages/applications-service-api/__tests__/setup-jest.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/main.js
  packages/forms-web-app/.jest/setEnvVars.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/i18n.js
  packages/forms-web-app/src/i18n.test.js
  packages/forms-web-app/src/middleware/attach-correlation-id.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/feature-toggles.js
  packages/forms-web-app/src/pages/projects/documents/_utils/feature-toggles.test.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/about-project/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/representations/index/controller.js
  packages/forms-web-app/src/pages/projects/representations/index/controller.test.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
  packages/forms-web-app/src/server.js
  packages/forms-web-app/src/views/includes/header.njk
  packages/forms-web-app/src/views/includes/primary-navigation.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml
