Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

test: removing NI data and refactoring existing tests
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/examination-timetable-myself-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-relevant-reps.cy.js
  packages/e2e_tests/cypress/e2e/get-updates-sign-up.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself-over18-to-have-my-say.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
  packages/e2e_tests/cypress/pageObject/Relevant-representations/PO_RelevantReps.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

test(re added project case to fix broken test): re-added project to fix broken test
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
Due: azure-pipelines-e2e-test.yml

feat: additional translations
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/views/macros/pagination-bar.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: updated test snapshot
  packages/forms-web-app/src/locales/__snapshots__/common.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  86e427e6c64e8c814f56b2ca81cc4a87fa612aa0
Due: none

feat: add checkbox accordion accessibility translations
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/add-checkbox-accordion-translations-middleware.js
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/cy.json
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/en.json
  packages/forms-web-app/src/pages/_translations/components/checkbox-accordion/translations.test.js
  packages/forms-web-app/src/pages/project-search/includes/sidebar.njk
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/checkbox-accordion.scss
  packages/forms-web-app/src/views/components/ui/checkbox-accordion.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: have your say submission journey as organisation with Interested party ref
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

feat: update and add URLs for detailed information
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/_utils/get-govuk-urls.js
  packages/forms-web-app/src/pages/_utils/get-govuk-urls.test.js
  packages/forms-web-app/src/pages/detailed-information/_utils/get-page-data.js
  packages/forms-web-app/src/pages/detailed-information/controller.js
  packages/forms-web-app/src/pages/detailed-information/view.njk
  packages/forms-web-app/src/pages/index/_includes/professional-users.njk
  packages/forms-web-app/src/pages/index/controller.js
  packages/forms-web-app/src/pages/index/controller.test.js
  packages/forms-web-app/src/pages/index/utils/get-page-data.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add missing relevant representations translations
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/active-filters.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results-per-page.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results.njk
  packages/forms-web-app/src/pages/projects/representations/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/translations.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-filters.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-representations-view-model.js
  packages/forms-web-app/src/pages/projects/representations/index/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
  packages/forms-web-app/src/pages/projects/representations/router.js
  packages/forms-web-app/src/pages/projects/representations/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add sidebar related content translations
  packages/forms-web-app/src/pages/project-search/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/project-search/_translations/cy.json
  packages/forms-web-app/src/pages/project-search/_translations/en.json
  packages/forms-web-app/src/pages/project-search/includes/sidebar.njk
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/utils/get-related-content-links.js
  packages/forms-web-app/src/pages/project-search/utils/get-related-content-links.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: remove components if material changes
  packages/forms-web-app/src/pages/projects/_components/project-pages-template.njk
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.test.js
  packages/forms-web-app/src/pages/projects/documents/view.njk
  packages/forms-web-app/src/pages/projects/get-updates/index/view.njk
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/pages/projects/representations/index/view.njk
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
  packages/forms-web-app/src/pages/projects/section-51/index/view.njk
  packages/forms-web-app/src/views/components/wrappers/related-guides-wrapper.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: consolidate PINS telephone opening times translations
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/locales/__snapshots__/errors.test.js.snap
  packages/forms-web-app/src/locales/cy/errors.json
  packages/forms-web-app/src/locales/en/errors.json
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/views/error/not-found.njk
  packages/forms-web-app/src/views/error/planned-outage.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: add word-break to mailto links displayed in pins-rte areas
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/page/rte.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: created e2e journey for submission for organisation with interested party number
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
Due: azure-pipelines-e2e-test.yml

test: e2e test for submission against organisation
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
Due: azure-pipelines-e2e-test.yml

feat: add redirect middleware to examination journey if no examination session
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.js
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.test.js
  packages/forms-web-app/src/routes/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: added various translations
  packages/forms-web-app/src/locales/cy/global.json
  packages/forms-web-app/src/locales/en/global.json
  packages/forms-web-app/src/pages/project-search/includes/pagination.njk
  packages/forms-web-app/src/pages/project-search/includes/sidebar.njk
  packages/forms-web-app/src/pages/projects/documents/view.njk
  packages/forms-web-app/src/pages/projects/section-51/index/view.njk
  packages/forms-web-app/src/pages/register-of-advice/index/_includes/pagination.njk
  packages/forms-web-app/src/pages/register-of-applications/includes/pagination.njk
  packages/forms-web-app/src/views/includes/cookie-banner.njk
  packages/forms-web-app/src/views/includes/primary-navigation.njk
  packages/forms-web-app/src/views/macros/pagination-bar.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update missing test snapshot
  packages/forms-web-app/src/locales/__snapshots__/global.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: remove Welsh project filter
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
Due: none

chore: add text to README for testing. This should not merge to main
  README.md
Due: none

feat: welsh translations for cookie banner
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/nunjucks-render-helper.js
  packages/forms-web-app/src/locales/__snapshots__/global.test.js.snap
  packages/forms-web-app/src/locales/cy/global.json
  packages/forms-web-app/src/locales/en/global.json
  packages/forms-web-app/src/views/includes/cookie-banner.njk
  packages/forms-web-app/src/views/macros/cookie-banner-accepted.njk
  packages/forms-web-app/src/views/macros/cookie-banner-rejected.njk
  packages/forms-web-app/src/views/macros/cookie-banner.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: allow desc to be created when timetable desc is not present
  packages/applications-service-api/src/utils/timetable.mapper.js
Due: none

test: add test for persisting the query in the URL redirect
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update accessibility statement content and translations
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ci: change release pipeline config to allow deploying from a git tag
  azure-pipelines-deploy.yml
Due: none
