Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

feat(packages): added filter to project-maps
  packages/forms-web-app/src/api/projects-map/router.js
  packages/forms-web-app/src/pages/_components/filters/build-filter-view-model.js
  packages/forms-web-app/src/pages/_components/filters/build-filter-view-model.test.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/utils/get-project-search-url.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/forms-web-app/src/pages/projects-map/includes/sidebar.njk
  packages/forms-web-app/src/pages/projects-map/utils/filters/get-filters-view-model.js
  packages/forms-web-app/src/pages/projects-map/utils/filters/get-filters.js
  packages/forms-web-app/src/pages/projects-map/utils/get-page-data.js
  packages/forms-web-app/src/pages/projects-map/utils/get-projects-map-query-string.js
  packages/forms-web-app/src/pages/projects-map/utils/get-projects-map-url.js
  packages/forms-web-app/src/pages/projects-map/utils/get-projects-map-url.test.js
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/public/images/leaflet/layers-2x.png
  packages/forms-web-app/src/public/images/leaflet/layers.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon-2x.png
  packages/forms-web-app/src/public/images/leaflet/marker-icon.png
  packages/forms-web-app/src/public/images/leaflet/marker-shadow.png
  packages/forms-web-app/src/public/scripts/leafletMap.script.js
  packages/forms-web-app/src/scripts/leaflet-map/index.js
  packages/forms-web-app/src/services/projects-map.service.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(projects-map): fixed broken feature flag
  docker-compose.yml
  packages/forms-web-app/src/pages/projects-map/utils/get-page-data.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): fixed bad translation file
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): redirect users to start of register journey if flag not set (idas-281)
  packages/forms-web-app/src/pages/projects/register/_middleware/start-redirect-middleware.js
  packages/forms-web-app/src/pages/projects/register/_middleware/start-redirect-middleware.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/pages/projects/register/router.js
  packages/forms-web-app/src/pages/projects/register/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): page sidebar toggle fix
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): fixed lang querystring invoking map popup
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): moved active filters in projects map
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages): fixed translations (IDAS-121)
  packages/forms-web-app/src/i18n.js
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
  packages/forms-web-app/src/pages/projects-map/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(packages): refactored PopupBuilder function
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/public/scripts/leafletMap.script.js
  packages/forms-web-app/src/scripts/leaflet-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(packages): refactored view to load libs from cdn
  .gitignore
  packages/forms-web-app/src/csp.js
  packages/forms-web-app/src/pages/projects-map/view.njk
  packages/forms-web-app/src/public/stylesheets/MarkerCluster.Default.css
  packages/forms-web-app/src/public/stylesheets/MarkerCluster.css
  packages/forms-web-app/src/public/stylesheets/leaflet.css
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): removed unnecessary featureflag
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/projects-map/utils/get-page-data.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(tooling): removed map flag from api and set to true in web
  docker-compose.yml
Due: azure-pipelines-ci.yml

fix(packages): added back translations for filter headings
  packages/forms-web-app/src/pages/projects-map/_translations/cy.json
  packages/forms-web-app/src/pages/projects-map/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(packages): fixed failing tests
  packages/forms-web-app/src/scripts/leaflet-map/index.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(packages): removed functionality to show popup automatically on zoom
  packages/forms-web-app/src/public/scripts/leafletMap.script.js
  packages/forms-web-app/src/scripts/leaflet-map/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: group dependabot updates into dev and production
  .github/dependabot.yml
Due: azure-pipelines-ci.yml

refactor(api): increase attachment id char limit (idas-245)
  packages/applications-service-api/prisma/migrations/20260128113209_inc_attachmentid_field_size/migration.sql
  packages/applications-service-api/prisma/schema.prisma
Due: azure-pipelines-ci.yml

feat(web): introduce Redis caching (idas-76)
  packages/forms-web-app/src/api/redis-cache/controller.js
  packages/forms-web-app/src/api/redis-cache/router.js
  packages/forms-web-app/src/lib/redis-cache.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(tooling): adding slot deploy for services and removing release pipeline
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: azure-pipelines-ci.yml

feat(infrastructure): adding IPBlock to frontdoor
  infrastructure/front-door.tf
  infrastructure/locals.tf
  infrastructure/pipelines/terraform-cd.yaml
  ip_blacklist.json
Due: azure-pipelines-ci.yml

fix(tooling): updating common pipeline ref tag for terraform-cd
  infrastructure/pipelines/terraform-cd.yaml
Due: none

feat(web): introduce Redis caching (idas-76)
  packages/forms-web-app/src/api/redis-cache/controller.js
  packages/forms-web-app/src/api/redis-cache/router.js
  packages/forms-web-app/src/api/router.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/lib/redis-cache.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): include node-hash in web deps (idas-76)
  packages/forms-web-app/package.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): include node-hash in web deps (idas-76)
  docker-compose.yml
  package-lock.json
  package.json
  packages/back-office-subscribers/nsip-document/index.js
Due: azure-pipelines-ci.yml

feat(web): fix issue with turbo config and deprecated baseBranch key (idas-76)
  package.json
  turbo.json
Due: azure-pipelines-ci.yml

fix(tooling): updating deploy pipeline
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

feat(web): update nunjucks env to remove inconsistent white spaces
  jest.config.js
  package-lock.json
  package.json
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/nunjucks-render-helper.js
  packages/forms-web-app/src/nunjucks-configure.js
  turbo.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: add performance optimization output from Opus 4.5
  plan-performance-optimization.prompt.md
Due: azure-pipelines-ci.yml

feat(web): enable IP blacklist in prod
  infrastructure/front-door.tf
  infrastructure/locals.tf
Due: none
