Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix(web): update failing cookies e2e tests (applics-1207)
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
Due: azure-pipelines-e2e-test.yml

feat: improve project search
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.ni.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
Due: none

feat: use personalName for documents
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

fix(tooling): updating common pipeline tag to 3.18.2
  azure-pipelines-release.yml
Due: none

fix: updating common pipeline tag to 3.18.2
  azure-pipelines-deploy.yml
Due: none

fix(web): fetch exam library document using dedicated api endpoint
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-document.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-examination-library-document.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-examination-library-document.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/searchDocuments.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/services.js
  packages/forms-web-app/src/pages/services.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix csv download date format
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: none

Notes added by 'git notes add'
  31d9eac47d33a32715e595234a69701b25a53743
Due: none

ci: use git commit hash for deployments
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
Due: none

fix(web): fix s51 enquiry method label (applics-1258)
  packages/forms-web-app/src/pages/projects/section-51/index/_utils/advice-helpers.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): handle potential null values in s51 advice enquiryMethod check
  packages/forms-web-app/src/pages/projects/section-51/index/_utils/advice-helpers.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): trim encodede spaces in URLs
  packages/forms-web-app/__tests__/unit/middleware/handle-encoded-spaces.test.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/middleware/handle-encoded-spaces.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: print ni redirect case ref list
  azure-pipelines-deploy-ni-redirects.yml
Due: none

fix: remove extra spaces in redirect config
  azure-pipelines-deploy-ni-redirects.yml
Due: none

feat(web): add project page link to examination submission complete page (applics-1252)
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
  packages/forms-web-app/src/pages/examination/submission-complete/controller.js
  packages/forms-web-app/src/pages/examination/submission-complete/controller.test.js
  packages/forms-web-app/src/pages/examination/submission-complete/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): add project index url to page data object and update test (applics-1252)
  packages/forms-web-app/src/pages/examination/submission-complete/controller.js
  packages/forms-web-app/src/pages/examination/submission-complete/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(api): handle error caused by querying ni projects table with utf chars
  packages/applications-service-api/src/repositories/project.ni.repository.js
  packages/applications-service-api/src/routes/applications.js
Due: none

feat: register of advice improve search
  packages/applications-service-api/__tests__/unit/repositories/advice.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/advice.ni.repository.test.js
  packages/applications-service-api/src/repositories/advice.backoffice.repository.js
  packages/applications-service-api/src/repositories/advice.ni.repository.js
Due: none

Notes added by 'git notes add'
  5cfa5fc70e431d895b73f9880f8bc2027a994e82
Due: none

fix: register representation default rep type
  packages/applications-service-api/__tests__/__data__/interestedParty.js
  packages/applications-service-api/src/utils/interestedParty.mapper.js
Due: none

fix(api): change BO representations mapper to return OrgName over first/last name (applics-1291)
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/src/utils/representation.mapper.js
Due: none

Notes added by 'git notes add'
  11034e06f31e640bfe744c8a5d940778b916fabf
Due: none

fix(api): update back office field mapping for acceptance date
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/__tests__/unit/services/application.merge.service.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

feat: document secondary sort order
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: none

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
