Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: correct button text translation on process guide page
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
  packages/forms-web-app/src/views/components/ui/step-by-step-navigation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: remove nsipProjectLink function and unit test (#1164)
  packages/forms-web-app/__tests__/unit/lib/nsip-project-link.test.js
  packages/forms-web-app/src/lib/nsip-project-link.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@9265270590062bf986103e8c4203502fff4dfc41 🚀
  master/workspace.json
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@81b882a4b109f28d342549c9ebed3831c979e9ef 🚀
  master/workspace.json
Due: none

feat: add terms and conditions translations (#1162)
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/_middleware/add-terms-and-conditions-translations-middleware.js
  packages/forms-web-app/src/pages/terms-and-conditions/_middleware/add-terms_and-conditions-translations-middleware.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/_translations/cy.json
  packages/forms-web-app/src/pages/terms-and-conditions/_translations/cy.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/_translations/en.json
  packages/forms-web-app/src/pages/terms-and-conditions/_translations/en.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/_utils/get-page-data.js
  packages/forms-web-app/src/pages/terms-and-conditions/config.js
  packages/forms-web-app/src/pages/terms-and-conditions/config.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/controller.test.js
  packages/forms-web-app/src/pages/terms-and-conditions/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@be9aefccba5ec96ef48848b968df82d3a8762e1d 🚀
  master/workspace.json
Due: none

feat(tooling): add jest runner and other extension recommendations (#1160)
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@ecc3b6a29a2b6043972d3653b4f9458d58882fb3 🚀
  master/workspace.json
Due: none

feat(api): store welsh project fields
  packages/applications-service-api/prisma/migrations/20240521133914_add_welsh_project_fields/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
Due: none

feat: add project information page translations
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/index/_includes/about.njk
  packages/forms-web-app/src/pages/projects/index/_includes/contact.njk
  packages/forms-web-app/src/pages/projects/index/_includes/get-updates.njk
  packages/forms-web-app/src/pages/projects/index/_includes/location.njk
  packages/forms-web-app/src/pages/projects/index/_includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_middleware/add-projects-index-translations-middleware.js
  packages/forms-web-app/src/pages/projects/index/_middleware/add-projects-index-translations-middleware.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-proposal.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-proposal.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/strip-prefix-from-proposal-type.js
  packages/forms-web-app/src/pages/projects/index/_utils/strip-prefix-from-proposal-type.unit.test.js
  packages/forms-web-app/src/pages/projects/index/config.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): store welsh project fields (#1166)
  packages/applications-service-api/prisma/migrations/20240521133914_add_welsh_project_fields/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@a08705140927e5ac67f8c328a86c583238b3c079 🚀
  master/workspace.json
Due: none

feat: add translations for cookies page
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
  packages/forms-web-app/src/pages/cookies/_includes/cookies-without-js.njk
  packages/forms-web-app/src/pages/cookies/_middleware/add-cookies-translations-middleware.js
  packages/forms-web-app/src/pages/cookies/_middleware/add-cookies-translations-middleware.test.js
  packages/forms-web-app/src/pages/cookies/_translations/cy.json
  packages/forms-web-app/src/pages/cookies/_translations/cy.test.js
  packages/forms-web-app/src/pages/cookies/_translations/en.json
  packages/forms-web-app/src/pages/cookies/_translations/en.test.js
  packages/forms-web-app/src/pages/cookies/config.js
  packages/forms-web-app/src/pages/cookies/config.test.js
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/views/components/flash-message.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add translations to cookie banner
  packages/forms-web-app/src/pages/cookies/_includes/cookies-updated-successfully-message.njk
  packages/forms-web-app/src/pages/cookies/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: add i18n cookie to essential cookies
  packages/forms-web-app/__tests__/unit/lib/remove-unwanted-cookies.test.js
  packages/forms-web-app/src/lib/remove-unwanted-cookies.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@e4a9f936477d8dfbacc78d92e6b62866044699e4 🚀
  master/workspace.json
Due: none

feat: add translations for relevant representations page
  packages/forms-web-app/src/pages/projects/representations/index/_includes/no-results-post-decision.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results-per-page.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/search.njk
  packages/forms-web-app/src/pages/projects/representations/index/_middleware/add-representations-index-translations-middleware.js
  packages/forms-web-app/src/pages/projects/representations/index/_middleware/add-representations-index-translations-middleware.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/representations/index/config.js
  packages/forms-web-app/src/pages/projects/representations/index/config.test.js
  packages/forms-web-app/src/pages/projects/representations/index/view.njk
  packages/forms-web-app/src/pages/projects/representations/router.js
  packages/forms-web-app/src/pages/projects/representations/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add Welsh fields to Project schema
  packages/applications-service-api/prisma/migrations/20240522145333_welsh_fields/migration.sql
Due: none

feat: add Welsh translations for filters in API response
  packages/applications-service-api/__tests__/__data__/application.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

feat: include Welsh fields when mapping applications
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

feat: enable searching on the projectNameWelsh field
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
Due: none

chore: place Welsh API changes behind feature flag
  packages/applications-service-api/__tests__/setup-jest.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

test: test project search with Welsh feature flag on and off
  packages/applications-service-api/__tests__/integration/applications.test.js
Due: none

test: add tests for application mapper with Welsh flag on and off
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
Due: none

test: mirgration of cookie settings and footer links
  packages/e2e_tests/cypress/e2e/cookie-banner.cy.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
  packages/e2e_tests/cypress/pageObject/Cookies/PO_Cookies.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

feat: add additional translations for cookies page
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/pages/cookies/_translations/cy.json
  packages/forms-web-app/src/pages/cookies/_translations/cy.test.js
  packages/forms-web-app/src/pages/cookies/_translations/en.json
  packages/forms-web-app/src/pages/cookies/_translations/en.test.js
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/pages/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add additional translations for relevant reps page
  packages/forms-web-app/src/pages/projects/representations/index/_includes/active-filters.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/no-results-pre-decision.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results-not-found.njk
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@d0ace7d86c293297cde478a1c6d90b49e25a1afe 🚀
  master/workspace.json
Due: none

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
