Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: filter section disappears on relevant representations page applics 1636
  packages/forms-web-app/src/pages/projects/representations/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(APPLICS-1251): corrected 2nd typo in .xlsx file extension
  packages/forms-web-app/src/pages/examination/select-file/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(APPLICS-1251): corrected typo in .xlsx file extension
  packages/forms-web-app/src/pages/examination/select-file/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(APPLICS-1251): added .xslx and .docx to list of accepted file extensions when uploading files
  packages/forms-web-app/src/pages/examination/select-file/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

docs(api): add comment explaining change to blob url upload path (applics-1596)
  packages/applications-service-api/src/utils/file.js
Due: azure-pipelines-ci.yml

fix: only show associated reps for ni cases (applics-1621)
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: azure-pipelines-ci.yml

fix: only show associated reps for projects
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: azure-pipelines-ci.yml

chore(packages/govuk-frontend): added eslint to package.json (applics-810)
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml

fix(web): fix minor bug on register of advice page (applics-1617)
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
  packages/forms-web-app/src/pages/register-of-advice/_utils/get-register-of-advice-back-link-url.js
  packages/forms-web-app/src/pages/register-of-advice/_utils/get-register-of-advice-back-link-url.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix(web): update register of advice back link logic in controller (applics-1617)
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): update register of advice back link logic and tests (applics-1617)
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-page-view-model.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: fix seed issue
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/prisma/utils.js
Due: azure-pipelines-ci.yml

feat(api): url to quality guide spreadsheet is appended to csv file of all projects
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

feat(api): url for blob storage where data quality guide is stored changes for env prod vs testing
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

feat(api): added unit tests for text and url appended to csv
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
Due: azure-pipelines-ci.yml

feat(api): moved filename for quality guide spreadsheet to const
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

feat(api): added utility function to generate correct URL depending on env
  packages/applications-service-api/__tests__/unit/utils/construct-url-for-blob-store-docs.test.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/utils/construct-url-for-blob-store-docs.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

chore(api): removed duplicated test and redundant mocked variables
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
Due: azure-pipelines-ci.yml

refactor(api): inserting 2 blank rows into csv using single push()
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

fix(web): controller to return to advice list from detail page (applics-1617)
  package-lock.json
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.test.js
  packages/forms-web-app/src/pages/register-of-advice/detail/controller.js
  packages/forms-web-app/src/pages/register-of-advice/detail/controller.test.js
  packages/forms-web-app/src/pages/register-of-advice/detail/view.njk
  packages/forms-web-app/src/pages/register-of-advice/router.js
  packages/forms-web-app/src/pages/register-of-advice/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: remove unsupported baseBranch from [turbo.json](http://_vscodecontentref_/1) (applics-1617)
  turbo.json
Due: azure-pipelines-ci.yml

fix: add lint task to turbo.json for CI (applics-1617)
  turbo.json
Due: azure-pipelines-ci.yml

fix(web): removed unused translations (applics-1647)
  packages/forms-web-app/src/pages/projects/examination-timetable/_translations/cy.json
  packages/forms-web-app/src/pages/projects/examination-timetable/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): don't show expected examination close date on projects (applics-1647)
  packages/forms-web-app/src/utils/is-before-or-after-date.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

test(web): updated test cases to expect no close date (applics-1647)
  packages/forms-web-app/__tests__/unit/utils/is-before-or-after-date.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): using only the blob storage for production across all envirionments
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.merge.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.ni.service.test.js
  packages/applications-service-api/__tests__/unit/utils/construct-url-for-blob-store-docs.test.js
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/applications-service-api/src/services/application.merge.service.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/construct-url-for-blob-store-docs.js
  packages/applications-service-api/src/utils/get-url-for-blob-store-docs.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

chore(infra): update waf rules blocking file uploads
  infrastructure/front-door.tf
Due: none

chore(infra): update waf rules
  infrastructure/front-door.tf
Due: none

fix(web): add datepublished filter for migrated case
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: azure-pipelines-ci.yml

fix: resolve package-lock.json merge conflict (applics-1617)
  package-lock.json
Due: azure-pipelines-ci.yml

fix: return document path as json (applics-1543)
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
Due: azure-pipelines-ci.yml

feat: add new route in front end to redirect to pulished docs
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/redirects/short-document-link/config.js
  packages/forms-web-app/src/pages/redirects/short-document-link/config.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-url.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-url.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/controller.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/controller.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.test.js
  packages/forms-web-app/src/pages/services.js
  packages/forms-web-app/src/pages/services.unit.test.js
  packages/forms-web-app/src/routes/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
