Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

feat(web): add string link (IDAS-249)
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update contact us page trans (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): change translations numbers (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): feat(web): update contact us page content (IDAS-249)
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update files (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update contact us page files (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
  packages/forms-web-app/src/pages/contact/_translations/en.json
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): make cookies page compliant (IDAS-403)
  packages/forms-web-app/__tests__/unit/lib/remove-unwanted-cookies.test.js
  packages/forms-web-app/src/lib/remove-unwanted-cookies.js
  packages/forms-web-app/src/pages/cookies/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/cookies/_translations/cy.json
  packages/forms-web-app/src/pages/cookies/_translations/en.json
  packages/forms-web-app/src/pages/cookies/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: upgrade to node v22 (idas-322)
  README.md
  azure-pipelines-e2e-test.yml
  e2e-tests/cypress.config.js
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete/regsitration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
  e2e-tests/cypress/support/common-methods/clickContentsLink.js
  e2e-tests/cypress/support/common-methods/clickOnBackLink.js
  e2e-tests/cypress/support/common-methods/clickProjectLink.js
  e2e-tests/cypress/support/common-methods/selectRadioYesOrNo.js
  e2e-tests/cypress/support/e2e.js
  e2e-tests/cypress/support/register-type-of-party-page/selectRadioOption.js
  packages/e2e_tests/package.json
Due: azure-pipelines-ci.yml

chore: improve e2e_tests stability and fixed typo (idas-322)
  .prettierignore
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/support/e2e.js
Due: azure-pipelines-ci.yml

fix(tests): resolve test failures after Node 22 upgrade (idas-322)
  package-lock.json
  package.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  turbo.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: upgraded node to v22.22 from v20 (idas-322)
  .nvmrc
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/ni-redirects/package.json
Due: azure-pipelines-ci.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(ni-redirects): enable ES module support in Jest for Node 22 (idas-322)
  packages/ni-redirects/jest.config.js
  packages/ni-redirects/package.json
Due: azure-pipelines-ci.yml

chore(web): reverted e2e changes, updated pckage scripts, turbo.json
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete/regsitration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
  e2e-tests/cypress/support/common-methods/clickContentsLink.js
  e2e-tests/cypress/support/common-methods/clickOnBackLink.js
  e2e-tests/cypress/support/common-methods/clickProjectLink.js
  package-lock.json
  package.json
  packages/e2e_tests/cypress/pageObject/basePage.js
  turbo.json
Due: azure-pipelines-ci.yml

chore: upgrade to Node v22 (idas-322)
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/forms-web-app/src/pages/projects-map/controller.js
  packages/forms-web-app/src/pages/projects-map/controller.test.js
  packages/ni-redirects/jest.config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(e2e): updated e2e pipe to split tasks, run-tests to run them
  azure-pipelines-e2e-test.yml
  packages/e2e_tests/run-tests.sh
Due: azure-pipelines-ci.yml

chore(e2e): updated test timeouts, removed setup from e2e
  azure-pipelines-e2e-test.yml
  packages/e2e_tests/cypress.config.js
Due: azure-pipelines-ci.yml

chore(e2e): updated test timeout
  packages/e2e_tests/cypress.config.js
Due: azure-pipelines-ci.yml

chore(e2e): reverted file changes
  azure-pipelines-e2e-test.yml
  e2e-tests/cypress/support/common-methods/clickOnBackLink.js
  e2e-tests/cypress/support/common-methods/selectRadioYesOrNo.js
  e2e-tests/cypress/support/e2e.js
  e2e-tests/cypress/support/register-type-of-party-page/selectRadioOption.js
  packages/e2e_tests/cypress/support/e2e.js
  packages/e2e_tests/run-tests.sh
Due: azure-pipelines-ci.yml

chore(e2e): reverted e2e config changes
  e2e-tests/cypress.config.js
  packages/e2e_tests/cypress.config.js
Due: azure-pipelines-ci.yml

chore(e2e): renamed mis-spelled registration
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/myself/registration-complete.feature
  e2e-tests/cypress/e2e/registration/myself/registration-complete/PageObjects/PO_RegComplete.js
  e2e-tests/cypress/e2e/registration/myself/registration-complete/registration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration.feature
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
Due: azure-pipelines-ci.yml

feat(subscribers): use update query in nsip-representation-update
  packages/back-office-subscribers/lib/__tests__/build-prisma-update-query.test.js
  packages/back-office-subscribers/lib/_utils/is-null-undefined.js
  packages/back-office-subscribers/lib/build-merge-query.js
  packages/back-office-subscribers/lib/build-prisma-update-query.js
  packages/back-office-subscribers/nsip-representation-update/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation-update/index.js
Due: azure-pipelines-ci.yml

feat(web): add session expiry warning to RHYS and HYS start screens (IDAS-301)
  packages/forms-web-app/src/pages/examination/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/examination/_translations/cy.json
  packages/forms-web-app/src/pages/examination/_translations/en.json
  packages/forms-web-app/src/pages/examination/have-your-say/view.njk
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
  packages/forms-web-app/src/pages/projects/register/index/_includes/open.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): clarify rhys and hys copy on comments and published details part 1 of (IDAS-36)
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project.feature
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/PageObjects/PO_RegisterToSayAboutNationalInfraProject.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/cy.json
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/cy.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/en.json
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/en.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(infrastructure): removing un-used tooling azurerm provider
  infrastructure/providers.tf
Due: none

feat: upgrade to Node.js v22.22 (IDAS-322)
  .nvmrc
  .prettierignore
  README.md
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy.yml
  docker-compose.yml
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/e2e_tests/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/ni-redirects/package.json
  turbo.json
Due: azure-pipelines-ci.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): redirect legacy ni home pages (IDAS-415)
  packages/ni-redirects/src/index.js
Due: azure-pipelines-ci.yml

feat(web): update contact page Welsh content (IDAS-249)
  packages/forms-web-app/src/pages/contact/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/contact/_translations/cy.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: create get updates form questions
  packages/forms-web-app/src/pages/projects/get-updates/form/config.js
  packages/forms-web-app/src/pages/projects/get-updates/form/controller.js
  packages/forms-web-app/src/pages/projects/get-updates/form/journey.js
  packages/forms-web-app/src/pages/projects/get-updates/form/questions.js
  packages/forms-web-app/src/views/forms/custom-components/index.js
  packages/forms-web-app/src/views/forms/custom-components/inverted-html-single-line-input/index.njk
  packages/forms-web-app/src/views/forms/custom-components/inverted-html-single-line-input/question.js
  packages/forms-web-app/src/views/forms/html-templates/get-updates/email.html
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ci: try github actions
  .github/workflows/pr-checks.yml
Due: azure-pipelines-ci.yml

ci: fix parallelism
  .github/workflows/pr-checks.yml
Due: azure-pipelines-ci.yml

feat: redirect from form to existing email confirmation functionality
  packages/forms-web-app/src/pages/projects/get-updates/router.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml
