Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix(web): assign correct value to DateOfReOpenRelevantRepresentationClose variable (applics-1870)
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): corrections after qa testing (applics-1869)
  packages/forms-web-app/src/pages/accessibility-statement/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/accessibility-statement/_translations/cy.json
  packages/forms-web-app/src/pages/accessibility-statement/_translations/en.json
  packages/forms-web-app/src/pages/accessibility-statement/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(infrastructure): exclude examination comment field from waf rules
  infrastructure/front-door.tf
Due: none

fix(web): fix(web): update postal address in General Enquiries section (1862)
  packages/forms-web-app/src/pages/contact/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(maps): poc all projects map geojson intergration
  packages/forms-web-app/src/public/scripts/leaflet.script.js
  packages/forms-web-app/src/scripts/leaflet/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(tooling): adding npm caching for pipelines
  azure-pipelines-ci.yml
  azure-pipelines-variables.yml
Due: azure-pipelines-ci.yml

fix(web): set register middleware to send 500 status code on error
  packages/forms-web-app/src/pages/projects/register/_middleware/register-middleware.js
  packages/forms-web-app/src/pages/projects/register/_middleware/register-middleware.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(infrastructure): exclude register journey fields from WAF rules
  infrastructure/front-door.tf
Due: none

feat(tooling): cooldown period for dependabot updates
  .github/dependabot.yml
Due: azure-pipelines-ci.yml

chore: upgrade to prisma v7
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/prisma.config.js
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/src/lib/prisma.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/repositories/timetable.backoffice.repository.js
  packages/back-office-subscribers/lib/prisma.js
  packages/back-office-subscribers/package.json
Due: azure-pipelines-ci.yml

feat(infrastructure): set rule 92110 to log
  infrastructure/front-door.tf
Due: none

feat(infrastructure): set rule 920240 to log
  infrastructure/front-door.tf
Due: none

feat(web): support links in global banner
  packages/forms-web-app/src/views/includes/global-info-banner.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add link to project map view on landing page (IDAS-43)
  packages/forms-web-app/src/pages/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/index/_translations/cy.json
  packages/forms-web-app/src/pages/index/_translations/en.json
  packages/forms-web-app/src/pages/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): added feature flag (IDAS-43)
  packages/forms-web-app/src/pages/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(tooling): adding npm caching for pipelines
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-deploy-ni-redirects.yml
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
  azure-pipelines-variables.yml
  infrastructure/pipelines/terraform-ci-commit.yaml
Due: azure-pipelines-ci.yml

fix(tooling): removing npm caching for deploy pipelines
  azure-pipelines-deploy-ni-redirects.yml
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: azure-pipelines-ci.yml

feat(web): update ctrl config and docker and test (IDAS-43)
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/index/controller.js
  packages/forms-web-app/src/pages/index/controller.test.js
  packages/forms-web-app/src/pages/index/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update ctrl config and docker and test (IDAS-43)
  packages/applications-service-api/src/lib/config.js
  packages/forms-web-app/src/pages/index/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): remove blanket form sanitisation (idas-23)
  packages/forms-web-app/__tests__/unit/lib/sanitise-encode-string.test.js
  packages/forms-web-app/__tests__/unit/lib/sanitise-string.test.js
  packages/forms-web-app/__tests__/unit/middleware/form-formatting.test.js
  packages/forms-web-app/__tests__/unit/middleware/form-sanitisation.test.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/lib/format-form-string.js
  packages/forms-web-app/src/lib/sanitise-encode-string.js
  packages/forms-web-app/src/lib/sanitise-string.js
  packages/forms-web-app/src/middleware/form-formatting.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): make the links dynamic and add config (IDAS-43)
  packages/forms-web-app/src/pages/index/controller.test.js
  packages/forms-web-app/src/pages/index/utils/get-page-data.js
  packages/forms-web-app/src/pages/index/view.njk
  packages/forms-web-app/src/pages/projects-map/config.js
  packages/forms-web-app/src/pages/projects-map/config.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(api): move to new prisma-client generator and compile output to js
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-release.yml
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/applications-service-api/prisma.config.js
  packages/applications-service-api/prisma/client-func-tsconfig.json
  packages/applications-service-api/prisma/client-tsconfig.json
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/src/lib/prisma.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/repositories/timetable.backoffice.repository.js
  packages/back-office-subscribers/lib/prisma.js
Due: azure-pipelines-ci.yml
