Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: amend material changes stage content
  packages/forms-web-app/src/pages/process-guide/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/_utils/__snapshots__/get-material-change-process-guide-stages.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  8db553426e1bf67697774ac1cc5af5c5316408ed
Due: none

fix: add English update data if Welsh update data missing
  packages/forms-web-app/src/pages/projects/_utils/format-project-update.js
  packages/forms-web-app/src/pages/projects/_utils/format-project.update.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: amend material changes examination stage content
  packages/forms-web-app/src/pages/process-guide/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/_utils/__snapshots__/get-material-change-process-guide-stages.test.js.snap
  packages/forms-web-app/src/pages/process-guide/_utils/get-material-change-process-guide-stages.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: add missing full stop and fix spacing
  packages/forms-web-app/src/locales/__snapshots__/errors.test.js.snap
  packages/forms-web-app/src/locales/en/errors.json
  packages/forms-web-app/src/views/error/have-your-say-journey-error.njk
  packages/forms-web-app/src/views/error/not-found.njk
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: make error page titles consistent
  packages/forms-web-app/src/locales/__snapshots__/errors.test.js.snap
  packages/forms-web-app/src/locales/cy/errors.json
  packages/forms-web-app/src/locales/en/errors.json
  packages/forms-web-app/src/views/error/not-found.njk
  packages/forms-web-app/src/views/error/planned-outage.njk
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: create shared error contact details template
  packages/forms-web-app/src/views/error/_includes/contact-details.njk
  packages/forms-web-app/src/views/error/have-your-say-journey-error.njk
  packages/forms-web-app/src/views/error/not-found.njk
  packages/forms-web-app/src/views/error/planned-outage.njk
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update error messages
  packages/forms-web-app/src/locales/__snapshots__/common.test.js.snap
  packages/forms-web-app/src/locales/__snapshots__/errors.test.js.snap
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/errors.json
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/errors.json
  packages/forms-web-app/src/pages/contact/view.njk
  packages/forms-web-app/src/pages/examination/submission-complete/view.njk
  packages/forms-web-app/src/pages/examination/submission-error/controller.js
  packages/forms-web-app/src/pages/examination/submission-error/controller.test.js
  packages/forms-web-app/src/pages/examination/submission-error/utils/get-page-data.js
  packages/forms-web-app/src/pages/examination/submission-error/utils/getPageData.test.js
  packages/forms-web-app/src/pages/examination/submission-error/view.njk
  packages/forms-web-app/src/pages/projects/index/_includes/contact.njk
  packages/forms-web-app/src/pages/projects/register/_middleware/register-middleware.js
  packages/forms-web-app/src/pages/projects/register/_middleware/register-middleware.test.js
  packages/forms-web-app/src/views/error/have-your-say-journey-error.njk
  packages/forms-web-app/src/views/error/not-found.njk
  packages/forms-web-app/src/views/error/planned-outage.njk
  packages/forms-web-app/src/views/error/register-journey-error.njk
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: update spacing
  packages/forms-web-app/src/views/error/unhandled-exception.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(refactor to existing tests, rthys on behalf of someone else and changes to the rthys flow): ref
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/cookie-banner.cy.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/cypress.config.js
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/examination-timetable-myself-submission.cy.js
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-relevant-reps.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
  packages/e2e_tests/cypress/e2e/get-updates-sign-up.cy.js
  packages/e2e_tests/cypress/e2e/locale-switcher.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-agent.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself-over18-to-have-my-say.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/fixtures/caseData.json
  packages/e2e_tests/cypress/fixtures/s51Data.json
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_DocumentsAkan.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/cypress/pageObject/Relevant-representations/PO_RelevantReps.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectPage.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectSearch.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/pageObject/section-51-advice/PO_Section51.js
  packages/e2e_tests/cypress/support/commands.js
Due: azure-pipelines-e2e-test.yml

fix: update rthys error page path
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update mapApplicationsToCSV test to cover the new case
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
Due: none

feat: use alternate stage labels in CSV for Material Change cases
  packages/applications-service-api/src/utils/application.mapper.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: none

test: add unit tests for the new stageNameFromValue function
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
Due: none

feat: add param and labels for material change
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

test: update api documents test for material change param
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
Due: none

docs: add is material change param to swagger
  packages/applications-service-api/api/openapi.yaml
Due: none

feat: add is material change param to documents request
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/body/getBody.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/body/getBody.test.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: updated representation search query to AND instead of OR
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/utils/stopwords.js
Due: none

fix: removed console logging
  docker-compose.yml
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

style: removed redundant require
  packages/applications-service-api/src/repositories/representation.ni.repository.js
Due: none

feat: add welsh translations
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
