Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: add translations for relevant representations page (#1173)
  packages/forms-web-app/src/pages/projects/representations/index/_includes/active-filters.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/no-results-post-decision.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/no-results-pre-decision.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results-not-found.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results-per-page.njk
  packages/forms-web-app/src/pages/projects/representations/index/_includes/search.njk
  packages/forms-web-app/src/pages/projects/representations/index/_middleware/add-representations-index-translations-middleware.js
  packages/forms-web-app/src/pages/projects/representations/index/_middleware/add-representations-index-translations-middleware.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/representations/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/representations/index/config.js
  packages/forms-web-app/src/pages/projects/representations/index/config.test.js
  packages/forms-web-app/src/pages/projects/representations/index/view.njk
  packages/forms-web-app/src/pages/projects/representations/router.js
  packages/forms-web-app/src/pages/projects/representations/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@458f070c37f4b812fa5851acbfb409195a977d4b 🚀
  master/workspace.json
Due: none

fix: update translations
  packages/forms-web-app/src/pages/process-guide/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/_translations/en.test.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-process-guide-stages.test.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-process-guide-steps.test.js
  packages/forms-web-app/src/pages/process-guide/examination/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/examination/_translations/cy.test.js
  packages/forms-web-app/src/pages/process-guide/examination/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/examination/_translations/en.test.js
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/cy.json
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/cy.test.js
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/en.json
  packages/forms-web-app/src/pages/process-guide/pre-application/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@45b78a2ba7c5885130ae811b9078efb5bcf39a72 🚀
  master/workspace.json
Due: none

test: mirgration of cookie settings and footer links (#1175)
  packages/e2e_tests/cypress/e2e/cookie-banner.cy.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
  packages/e2e_tests/cypress/pageObject/Cookies/PO_Cookies.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@797291c72d910ee00acbd1430f592eeb5d020577 🚀
  master/workspace.json
Due: none

feat: add welsh fields to documents DB
  packages/applications-service-api/prisma/migrations/20240522145333_welsh_fields/migration.sql
  packages/applications-service-api/prisma/migrations/20240604112931_add_welsh_documents_fields/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/back-office-subscribers/nsip-document/index.js
Due: none

feat: add additional guide page translations
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/_includes/have-your-say-guide-steps.njk
  packages/forms-web-app/src/pages/have-your-say-guide/_translations/cy.json
  packages/forms-web-app/src/pages/have-your-say-guide/_translations/cy.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/index/_translations/cy.json
  packages/forms-web-app/src/pages/have-your-say-guide/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/process-guide/_includes/process-guide-steps.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ci: add training environment for deployment
  azure-pipelines-deploy.yml
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@3121770cf3c4ea71fc647804a933701f65881af9 🚀
  master/workspace.json
Due: none

test: add additional welsh fields to mock message
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@a65d463ed81dcb659db1e8ebe0b10fd42028b874 🚀
  master/workspace.json
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@74936cc93309fe700a8fd9ed1668223ef0455844 🚀
  master/workspace.json
Due: none

test: update test for cookies controller
  packages/forms-web-app/src/pages/cookies/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add welsh fields to documents api
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

feat: add welsh fields to filters and search terms
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: none

ci: set app names for training env deploy
  azure-pipelines-deploy.yml
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@4f76e18660daaf163e2552a9c5602cb152f3f522 🚀
  master/workspace.json
Due: none

feat: organisation journey
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectPage.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

Notes added by 'git notes add'
  4f76e18660daaf163e2552a9c5602cb152f3f522
Due: none

fix(i18n.js): change debug log to false for i18n
  packages/forms-web-app/src/i18n.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@d6a1c0513db97776d50b86916febfdebf513b92a 🚀
  master/workspace.json
Due: none

refactor: alphabetise keys in common translation files and tests
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@4afcc6541b52aa55092d2460f6f159ebd7379b8a 🚀
  master/workspace.json
Due: none

feat: add additional documents page translations
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.json
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/documents/_translations/en.json
  packages/forms-web-app/src/pages/projects/documents/_translations/en.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: map stage label to documents response
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

feat: add translations to dates filter
  packages/forms-web-app/src/pages/projects/documents/_utils/dates/config.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-after-to-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-after-today-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-before-to-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-invalid-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-missing-date-values-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-no-query-values-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/get-dates-filter.component.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/get-dates-filter.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/utils/build-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.component.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add translations to documents
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/document-view-model.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/documents-view-model.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/getDocuments.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-proposal.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add translations to view
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
  packages/forms-web-app/src/views/components/section/results.njk
  packages/forms-web-app/src/views/components/ui/checkbox-accordion.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
