Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

fix(infrastructure): remove node installs from test pipelines
  pipelines/templates/e2e-job-steps.yml
Due: azure-pipelines-ci.yml

feat: service start page changes IDAS-743
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/index/_includes/open.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ci(e2e): ai usage declaration (idas-622)
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration.feature
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration/PageObjects/PO_AIusagedecleration.js
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration/ai-usage-decleration.js
Due: azure-pipelines-ci.yml

ci(e2e): add ai deleration e2e (idas-622)
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration.feature
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration/PageObjects/PO_AIusagedecleration.js
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration/ai-usage-decleration.js
Due: azure-pipelines-ci.yml

feat(e2e): add AI usage declaration and refactored registration (idas-622)
  e2e-tests/cypress/e2e/PageObject.js
  e2e-tests/cypress/e2e/registration/agent/ai-usage-decleration.feature
  e2e-tests/cypress/e2e/registration/agent/ai-usage-decleration/PageObjects/PO_AIusagedecleration.js
  e2e-tests/cypress/e2e/registration/agent/ai-usage-decleration/ai-usage-decleration.js
  e2e-tests/cypress/e2e/registration/myself/ai-usage-decleration.feature
  e2e-tests/cypress/e2e/registration/myself/check-your-answers-before-registering/check-your-answers-before-registering.js
  e2e-tests/cypress/e2e/registration/myself/registration-complete/PageObjects/PO_RegComplete.js
  e2e-tests/cypress/e2e/registration/myself/registration-complete/registration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/ai-usage-decleration.feature
  e2e-tests/cypress/e2e/registration/organisation/ai-usage-decleration/PageObjects/PO_AIusagedecleration.js
  e2e-tests/cypress/e2e/registration/organisation/ai-usage-decleration/ai-usage-decleration.js
  e2e-tests/cypress/e2e/registration/organisation/check-your-answers-before-registering-organisation/check-your-answers-before-registering-organisation.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/shared/registerCommentPageSteps.js
  e2e-tests/cypress/support/common-methods/page-expectations.js
Due: azure-pipelines-ci.yml

feat(web): rhys declaration screens improvements (IDAS-571)
  packages/forms-web-app/src/pages/projects/register/_common/declaration/view.njk
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): update project information contact section
  e2e-tests/cypress/e2e/projects/project-information/project-information.feature
  packages/forms-web-app/src/pages/projects/index/_includes/contact.njk
  packages/forms-web-app/src/pages/projects/index/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): handling long urls with styling (IDAS-529)
  packages/forms-web-app/src/pages/projects/representations/index/_includes/results.njk
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/ui/results.scss
  packages/forms-web-app/src/sass/page/rte.scss
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(infrastructure): remove local node installs from pipeline
  azure-pipelines-e2e-test.yml
  pipelines/templates/e2e-job-steps.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): remove local node installs from pipeline
  pipelines/templates/e2e-job-steps.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): remove local node installs from pipeline
  azure-pipelines-e2e-test.yml
Due: azure-pipelines-ci.yml

fix(api): change default register of advice date sort direction to descending (idas-756)
  packages/applications-service-api/__tests__/unit/services/advice.service.test.js
  packages/applications-service-api/src/services/advice.service.js
Due: azure-pipelines-ci.yml

chore: remove unnecessary eslint-disable/eslint-env comments
  packages/applications-service-api/__tests__/unit/routes/index.todo.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/database/test/test_connection.js
  packages/applications-service-api/src/factories/interested-party/interested-party-agent.js
  packages/applications-service-api/src/factories/interested-party/interested-party-organisation.js
  packages/applications-service-api/src/factories/interested-party/interested-party-own.js
  packages/applications-service-api/src/factories/interested-party/interested-party.js
  packages/forms-web-app/__tests__/unit/scripts/cookie-preferences-page.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie-preferences/index.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-consent-accepted.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-consent-rejected.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-consent.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-dom-helpers.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/cookie-jar.test.js
  packages/forms-web-app/__tests__/unit/scripts/cookie/index.test.js
  packages/forms-web-app/__tests__/unit/scripts/google-analytics.test.js
  packages/forms-web-app/__tests__/unit/scripts/google-tag-manager.test.js
  packages/forms-web-app/__tests__/unit/scripts/index.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/lib/filter-by-key.js
  packages/forms-web-app/src/scripts/cookie-preferences-page.js
  packages/forms-web-app/src/scripts/cookie-preferences/index.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent-accepted.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent-rejected.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent.js
  packages/forms-web-app/src/scripts/cookie/cookie-dom-helpers.js
  packages/forms-web-app/src/scripts/cookie/cookie-jar.js
  packages/forms-web-app/src/scripts/google-analytics.js
  packages/forms-web-app/src/scripts/google-tag-manager.js
  packages/forms-web-app/src/scripts/index.js
  packages/forms-web-app/src/scripts/javascript-requiring-consent.js
  packages/forms-web-app/src/scripts/step-by-step-navigation.js
  packages/forms-web-app/src/services/advice.service.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: fix no-useless-assignment linting errors
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/utils/representation.mapper.js
  packages/forms-web-app/src/lib/decode-string.js
  packages/forms-web-app/src/lib/encode-string.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/testHelper.js
  packages/forms-web-app/src/pages/projects/register/_common/are-you-18/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/name/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/services.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: use @planning-inspectorate/coding-standards
  .eslintignore
  .eslintrc.js
  .github/CODEOWNERS
  .prettierrc
  commitlint.config.js
  commitlint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
Due: azure-pipelines-ci.yml

chore: fix no-unused-vars linting errors
  packages/applications-service-api/src/utils/document.mapper.js
Due: azure-pipelines-ci.yml

chore: fix preserve-caught-error linting errors
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore: run format
  package.json
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
  packages/applications-service-api/src/services/advice.service.js
  packages/forms-web-app/__tests__/unit/utils/build-query-params.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/_utils/get-govuk-urls.test.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/get-submitting-items-subtitle.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/testHelper.js
  packages/forms-web-app/src/pages/examination/select-file/utils/helpers.js
  packages/forms-web-app/src/pages/projects/_utils/format-project.update.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/get-examination-library-document-html.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/utils/validate-date-filter-obj/add-errors-to-empty-values-form-group.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/view-model/get-date-filter-view-model.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-breadcrumbs-items.js
  packages/forms-web-app/src/sass/components/ui/checkbox-accordion.scss
  packages/forms-web-app/src/sass/components/ui/step-by-step-navigation/_step-by-step-navigation.scss
  packages/forms-web-app/src/sass/components/ui/step-nav.scss
  packages/forms-web-app/src/scripts/cookie-preferences-page.js
  packages/forms-web-app/src/scripts/cookie-preferences/index.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent-accepted.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent-rejected.js
  packages/forms-web-app/src/scripts/cookie/cookie-consent.js
  packages/forms-web-app/src/scripts/cookie/cookie-dom-helpers.js
  packages/forms-web-app/src/scripts/cookie/cookie-jar.js
  packages/forms-web-app/src/scripts/google-tag-manager.js
  packages/forms-web-app/src/scripts/index.js
  packages/forms-web-app/src/scripts/javascript-requiring-consent.js
  packages/forms-web-app/src/scripts/projects-map/__tests__/test-helpers.js
  packages/forms-web-app/src/scripts/projects-map/layers.js
  packages/forms-web-app/src/scripts/step-by-step-navigation.js
  packages/forms-web-app/src/services/advice.service.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): apply styling on the update banner (IDAS-529)
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/page/rte.scss
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(tooling): updating required condition for terraform
  infrastructure/providers.tf
Due: none

fix(web): project information page contact section (idas-737)
  packages/forms-web-app/src/pages/projects/index/_includes/contact.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): rhys guide page improvements naming (IDAS-573)
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project.feature
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/cy.json
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/cy.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/en.json
  packages/forms-web-app/src/pages/have-your-say-guide/registering/_translations/en.test.js
  packages/forms-web-app/src/pages/have-your-say-guide/registering/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add hint text on rhys journey (IDAS-564)
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
  packages/forms-web-app/src/pages/projects/register/registering-for/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): update ai declaration copy and translation (idas-622)
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml
