Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

chore: remove allowRepresentation and allowSection51 feature flags from the codebase
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: filter counts
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

test: update unit test for projectsMiddleware
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: fix projectMiddleware unit test following merge with main
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix issues with opening register period in register to have your say journey
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.unit.test.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(web): remove comment from test
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): fix issues with opening register period in register to have your say journey (#1131)
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.js
  packages/forms-web-app/src/pages/projects/register/index/_utils/is-registration-open.unit.test.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: add config to projectsMiddleware unit test
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add re-open register dates to projects locals
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add re-open register dates to projects locals (#1132)
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: remove projectMigrationCaseReferences feature flag from codebase
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/_utils/is-string-part-of-array.js
  packages/forms-web-app/src/pages/_utils/is-string-part-of-array.test.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/get-updates/router.js
  packages/forms-web-app/src/pages/projects/get-updates/router.test.js
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: register as an agent
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/register-as-an-agent.cy.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
Due: azure-pipelines-e2e-test.yml

fix: updated filters query to exclude empty service users
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

chore(web): remove usePrivateBetaV1RoutesOnly feature flag from the c… (#1123)
  docker-compose.yml
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/_middleware/add-globals-middleware.test.js
  packages/forms-web-app/src/pages/_utils/get-links/get-primary-navigation-links.js
  packages/forms-web-app/src/pages/_utils/get-links/get-primary-navigation-links.test.js
  packages/forms-web-app/src/pages/index/controller.test.js
  packages/forms-web-app/src/pages/index/utils/get-page-data.js
  packages/forms-web-app/src/pages/index/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add new deadline event type trigger (#1121)
  packages/forms-web-app/src/utils/timetables/check-timetable-state.js
  packages/forms-web-app/src/utils/timetables/check-timetable-state.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: remove allowHaveYourSay feature flag from the codebase
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore(web): remove feature flags: allowDocumentLibrary and allowExaminationTimetable (#1125)
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: validation endpoint wip
  package-lock.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/controllers/validate-migration.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/validate-migration.js
Due: none

feat: c4 diagrams added with structurizr (#1110)
  .gitignore
  README.md
  doc/images/pins-applications-c1-context.drawio.png
  doc/images/pins-applications-c2-context.drawio.png
  package.json
  workspace.dsl
Due: none

chore: remove allowGetUpdates feature flag from the codebase
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: validate migration endpoint ready
  packages/applications-service-api/src/controllers/validate-migration.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
Due: none

feat: validate ep working via function
  packages/applications-service-api/src/controllers/validate-migration.js
  packages/applications-service-api/src/routes/index.js
  packages/back-office-subscribers/validate-migration/function.json
  packages/back-office-subscribers/validate-migration/index.js
Due: none

feat: added axios to dependancies
  package-lock.json
  package.json
Due: none

chore: remove allowHaveYourSay and allowGetUpdates feature flags from the codebase (#1133)
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/view.njk
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: added axios to dependancies correctly
  package-lock.json
  packages/back-office-subscribers/package.json
Due: none

feat: validation migration function
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/controllers/validate-migration.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/validate-migration.js
  packages/back-office-subscribers/package.json
  packages/back-office-subscribers/validate-migration/function.json
  packages/back-office-subscribers/validate-migration/index.js
Due: none

Notes added by 'git notes add'
  acb6e26c7ccf4d3afe9a3dc0fd9c2d8ba33db7fe
Due: none

fix(web): correctly open timetable based on two name versions of prcedural deadline event type
  packages/forms-web-app/src/utils/timetables/check-timetable-state.js
  packages/forms-web-app/src/utils/timetables/check-timetable-state.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): correctly open timetable based on two name versions of procedural deadline event type (#1138)
  packages/forms-web-app/src/utils/timetables/check-timetable-state.js
  packages/forms-web-app/src/utils/timetables/check-timetable-state.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add detailed information page translations
  packages/forms-web-app/src/pages/_middleware/i18n/add-common-translations-middleware.js
  packages/forms-web-app/src/pages/_middleware/i18n/add-common-translations-middleware.test.js
  packages/forms-web-app/src/pages/detailed-information/_middleware/add-detailed-information-translations-middleware.js
  packages/forms-web-app/src/pages/detailed-information/_middleware/add-detailed-information-translations-middleware.test.js
  packages/forms-web-app/src/pages/detailed-information/_translations/cy.json
  packages/forms-web-app/src/pages/detailed-information/_translations/cy.test.js
  packages/forms-web-app/src/pages/detailed-information/_translations/en.json
  packages/forms-web-app/src/pages/detailed-information/_translations/en.test.js
  packages/forms-web-app/src/pages/detailed-information/_utils/get-page-data.js
  packages/forms-web-app/src/pages/detailed-information/config.js
  packages/forms-web-app/src/pages/detailed-information/config.test.js
  packages/forms-web-app/src/pages/detailed-information/view.njk
  packages/forms-web-app/src/pages/index/controller.test.js
  packages/forms-web-app/src/pages/index/utils/get-page-data.js
  packages/forms-web-app/src/pages/index/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: c4 diagrams deployment gh action added
  .github/workflows/deploy_c4_diagrams.yml
  .gitignore
  architecture/index.md
  workspace.dsl
Due: none

feat: updated workflow yml name
  .github/workflows/deploy-c4-diagrams.yml
Due: none

feat: c4 diagrams deployment gh action
  .github/workflows/deploy-c4-diagrams.yml
  .gitignore
  architecture/index.md
  workspace.dsl
Due: none
