Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

feat: add filtered results translations
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.json
  packages/forms-web-app/src/pages/projects/documents/_translations/en.json
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/get-dates-filter.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/utils/get-active-date-filters.js
  packages/forms-web-app/src/pages/projects/documents/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update translations tests
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/documents/_translations/en.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add cookies page translations (#1170)
  packages/forms-web-app/src/locales/cy/common.json
  packages/forms-web-app/src/locales/cy/common.test.js
  packages/forms-web-app/src/locales/en/common.json
  packages/forms-web-app/src/locales/en/common.test.js
  packages/forms-web-app/src/pages/cookies/_includes/cookies-updated-successfully-message.njk
  packages/forms-web-app/src/pages/cookies/_includes/cookies-without-js.njk
  packages/forms-web-app/src/pages/cookies/_middleware/add-cookies-translations-middleware.js
  packages/forms-web-app/src/pages/cookies/_middleware/add-cookies-translations-middleware.test.js
  packages/forms-web-app/src/pages/cookies/_translations/cy.json
  packages/forms-web-app/src/pages/cookies/_translations/cy.test.js
  packages/forms-web-app/src/pages/cookies/_translations/en.json
  packages/forms-web-app/src/pages/cookies/_translations/en.test.js
  packages/forms-web-app/src/pages/cookies/config.js
  packages/forms-web-app/src/pages/cookies/config.test.js
  packages/forms-web-app/src/pages/cookies/controller.js
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/views/components/flash-message.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@8365210b3cef96767236f5eaa38bcb4a6997e255 🚀
  master/workspace.json
Due: none

fix(api): mapper fix and add missing feature flag to docker env
  docker-compose.yml
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

feat(web): update project information logic to handle welsh fields
  packages/forms-web-app/src/pages/_utils/is-lang-welsh.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): translate latest update banner
  packages/forms-web-app/src/pages/projects/_utils/format-project-update.js
  packages/forms-web-app/src/pages/projects/index/_components/latest-update.njk
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/utils/date-utils.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): rework and translate project stage 'accordion'
  packages/forms-web-app/src/pages/projects/index/_components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/index/_includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/acceptance/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/post-decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/recommendation/details.njk
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/modded/govuk-details.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): hardcode welsh translation flag value
  packages/applications-service-api/src/lib/config.js
Due: none

fix: move flash message middlewares to after the i18n middleware
  packages/forms-web-app/src/app.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@20ae2d145098bd31e382a7cbdf6fbe0529ba2073 🚀
  master/workspace.json
Due: none

feat: add translations to dates filter
  packages/forms-web-app/src/pages/projects/documents/_utils/dates/config.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-after-to-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-after-today-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-from-date-is-before-to-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-invalid-date-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-missing-date-values-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/fixtures/expected-no-query-values-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/get-dates-filter.component.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/get-dates-filter.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/dates/utils/build-dates-filter-obj.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.component.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.js
  packages/forms-web-app/src/pages/projects/documents/_utils/filters/getFilters.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: map stage label to documents response
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

feat: add additional documents page translations
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.json
  packages/forms-web-app/src/pages/projects/documents/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/documents/_translations/en.json
  packages/forms-web-app/src/pages/projects/documents/_translations/en.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add translations to documents
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/document-view-model.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/documents-view-model.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/getDocuments.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-proposal.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add translations to view
  packages/forms-web-app/src/pages/projects/_components/vertical-tabs-wrapper.njk
  packages/forms-web-app/src/views/components/section/results.njk
  packages/forms-web-app/src/views/components/ui/checkbox-accordion.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@63e349395099e9070e982cb96619c0d4a378e528 🚀
  master/workspace.json
Due: none

feat: add welsh fields to documents api
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

feat: add welsh fields to filters and search terms
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: none

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@caada0cfb2dd682d1c8ec73b69b5592dd2233335 🚀
  master/workspace.json
Due: none

feat: organisation journey (#1182)
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectPage.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@7c7e07df2574b00f330e74a08d9c1c6d26ba90d6 🚀
  master/workspace.json
Due: none

Feature/applics 192 project information welsh fields (#1185)
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/forms-web-app/src/pages/_utils/is-lang-welsh.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/_utils/format-project-update.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/index/_components/latest-update.njk
  packages/forms-web-app/src/pages/projects/index/_components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/index/_includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/acceptance/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/post-decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/recommendation/details.njk
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/modded/govuk-details.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@7e82af4c3cc0f8601a9702586db14561b38da38e 🚀
  master/workspace.json
Due: none

feat: get language-specific project title on documents page
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: use descriptionWelsh for document names when Welsh is enabled
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/view.njk
  packages/forms-web-app/src/views/components/section/results.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add Welsh translations for the 'From'/'On behalf of' text
  packages/forms-web-app/src/views/components/section/results.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: add langIsWelsh property to expect in unit test for documents
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: update translation for project info stages
  packages/forms-web-app/src/pages/projects/index/_includes/stages/withdrawn/description.njk
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Feature/applics 192 project information welsh fields (#1185)
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/forms-web-app/src/pages/_utils/is-lang-welsh.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/_utils/format-project-update.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/index/_components/latest-update.njk
  packages/forms-web-app/src/pages/projects/index/_components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/index/_includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/_includes/email-request-text.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/acceptance/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/acceptance/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/decision/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/examination/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/post-decision/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/post-decision/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-examination/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-examination/details.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/recommendation/description.njk
  packages/forms-web-app/src/pages/projects/index/_includes/stages/recommendation/details.njk
  packages/forms-web-app/src/pages/projects/index/_translations/cy.json
  packages/forms-web-app/src/pages/projects/index/_translations/cy.test.js
  packages/forms-web-app/src/pages/projects/index/_translations/en.json
  packages/forms-web-app/src/pages/projects/index/_translations/en.test.js
  packages/forms-web-app/src/pages/projects/index/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
  packages/forms-web-app/src/pages/projects/index/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/modded/govuk-details.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: correctly map filter1Welsh and descriptionWelsh from API
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/documents-view-model.js
  packages/forms-web-app/src/views/components/section/results.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Deploying to gh-pages from @ Planning-Inspectorate/applications-service@c44fc0aeb40d19f14e58b869b6d55a3c96fa2b2b 🚀
  master/workspace.json
Due: none
