Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

test: update api documents test for material change param
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
Due: none

feat: add param and labels for material change
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

fix: add is material change document labels to mapper
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

fix: update logic to check for first or last name
  packages/forms-web-app/src/pages/projects/section-51/index/_utils/advice-helpers.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

style: removed redundant comment
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
Due: none

fix: add material change labels to documents
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
  packages/applications-service-api/src/utils/document.mapper.js
Due: none

test(change search term in project navigate and change method name): changes to method names
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/examination-timetable-myself-submission.cy.js
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-relevant-reps.cy.js
  packages/e2e_tests/cypress/e2e/get-updates-sign-up.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-agent.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

test(fix breaking tests with updated methods): fixed failing tests with new methods
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
Due: azure-pipelines-e2e-test.yml

style: removed redundant require
  packages/applications-service-api/src/repositories/representation.ni.repository.js
Due: none

feat: updated tests
  docker-compose.yml
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

fix: removed console logging
  docker-compose.yml
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

feat: updated representation search query to AND instead of OR
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/utils/stopwords.js
Due: none

test(refactor to existing tests, rthys on behalf of someone else and changes to the rthys flow): ref
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/cookie-banner.cy.js
  packages/e2e_tests/cypress/e2e/cookie-settings.cy.js
  packages/e2e_tests/cypress/e2e/cypress.config.js
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/examination-timetable-myself-submission.cy.js
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-relevant-reps.cy.js
  packages/e2e_tests/cypress/e2e/footer-links.cy.js
  packages/e2e_tests/cypress/e2e/get-updates-sign-up.cy.js
  packages/e2e_tests/cypress/e2e/locale-switcher.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-agent.cy.js
  packages/e2e_tests/cypress/e2e/register-as-an-organisation.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself-over18-to-have-my-say.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/fixtures/caseData.json
  packages/e2e_tests/cypress/fixtures/s51Data.json
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_DocumentsAkan.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/cypress/pageObject/Relevant-representations/PO_RelevantReps.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectPage.js
  packages/e2e_tests/cypress/pageObject/Search-and-project-pages/PO_ProjectSearch.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/pageObject/section-51-advice/PO_Section51.js
  packages/e2e_tests/cypress/support/commands.js
Due: azure-pipelines-e2e-test.yml

chore(config): config change to remove go live case which did not go live
  packages/ni-redirects/src/config.prod.json
Due: none

feat(ni-redirects): activate first project for redirects
  packages/ni-redirects/src/config.prod.json
  packages/ni-redirects/src/config.test.json
Due: none

refactor: implement ternary operator in conditional logic
  packages/forms-web-app/src/pages/projects/section-51/index/_utils/advice-helpers.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: remove ga implementation
  packages/forms-web-app/__tests__/unit/scripts/__snapshots__/google-analytics.test.js.snap
  packages/forms-web-app/__tests__/unit/scripts/google-analytics.test.js
  packages/forms-web-app/__tests__/unit/scripts/javascript-requiring-consent.test.js
  packages/forms-web-app/src/public/scripts/index.script.js
  packages/forms-web-app/src/scripts/google-analytics.js
  packages/forms-web-app/src/scripts/javascript-requiring-consent.js
  packages/forms-web-app/src/views/includes/head.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: update service worker tests
  packages/forms-web-app/__tests__/unit/scripts/register-service-worker.test.js
  packages/forms-web-app/__tests__/unit/scripts/service-worker.test.js
  packages/forms-web-app/__tests__/unit/scripts/unregister-service-worker.test.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/scripts/service-worker/unregister-service-worker.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: add service worker scripts to webpack config
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/public/scripts/checkboxAccordion.script.js
  packages/forms-web-app/src/public/scripts/cookie-preferences.script.js
  packages/forms-web-app/src/public/scripts/register-service-worker.script.js
  packages/forms-web-app/src/public/scripts/sanitiseForm.script.js
  packages/forms-web-app/src/public/scripts/service-worker.script.js
  packages/forms-web-app/src/public/scripts/unregister-service-worker.script.js
  packages/forms-web-app/src/public/scripts/unregister-sw.script.js
  packages/forms-web-app/src/scripts/service-worker/index.js
  packages/forms-web-app/src/scripts/service-worker/register-service-worker.js
  packages/forms-web-app/src/scripts/service-worker/unregister-service-worker.js
  packages/forms-web-app/src/views/includes/head.njk
  packages/forms-web-app/src/views/layouts/default.njk
  packages/forms-web-app/webpack.config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore(web): add cache control max-age
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web): improve efficiency of API calls in page controllers
  packages/forms-web-app/src/pages/projects/documents/controller.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/_utils/get-page-data.js
  packages/forms-web-app/src/pages/projects/index/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  67dfab3ffe85096b7515870f7ab7b0e7cc096b47
Due: none

chore(api): reduce prisma and sequelize logging
  packages/applications-service-api/src/database/config/config.js
  packages/applications-service-api/src/lib/prisma.js
Due: none

fix: remove log on api wrapper
  packages/forms-web-app/src/lib/application-api-wrapper.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  41193066de6776fe37b2feda571dc8c2d3466b56
Due: none

fix(web): update service worker loading path
  packages/forms-web-app/src/app.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: updating common pipeline tag to 3.18.2
  azure-pipelines-deploy.yml
Due: none
