Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: add new api route to get doc by doc reference (applics-1543)
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/routes/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/routes/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
Due: azure-pipelines-ci.yml

refactor(web): amend router name and create route with origin url
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-url.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.js
  packages/forms-web-app/src/routes/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

style: format openapi spec (applics-1543)
  packages/applications-service-api/api/openapi.yaml
Due: azure-pipelines-ci.yml

fix: correct structurizr syntax for deploys
  workspace.dsl
Due: azure-pipelines-ci.yml

fix(web): adding test and refining code
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: azure-pipelines-ci.yml

refactor(web): correct doc link path getter name
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-path.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-path.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): url for blob store is got from env vars
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/src/utils/get-url-for-blob-store-docs.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

refactor(infra): terraform format for waf rule changes
  infrastructure/front-door.tf
Due: none

feat: add new route in front end to redirect to pulished docs
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/redirects/short-document-link/config.js
  packages/forms-web-app/src/pages/redirects/short-document-link/config.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-url.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/_utils/get-short-doc-link-url.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/controller.js
  packages/forms-web-app/src/pages/redirects/short-document-link/index/controller.test.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.js
  packages/forms-web-app/src/pages/redirects/short-document-link/router.test.js
  packages/forms-web-app/src/pages/services.js
  packages/forms-web-app/src/pages/services.unit.test.js
  packages/forms-web-app/src/routes/index.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: return document path as json (applics-1543)
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
Due: azure-pipelines-ci.yml

chore(infra): update waf rules
  infrastructure/front-door.tf
Due: none

fix(web): welsh translation of project name on /examination-timetable is used
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): refactor destructuring of project name
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): mocked locals variable for test
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(api): exclude unpublished project records from prisma query results (applics-1658)
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/project.backoffice.repository.js
Due: azure-pipelines-ci.yml

chore(infrastructure): ignoring dependabot commit length
  commitlint.config.js
Due: azure-pipelines-ci.yml

docs(api): add comment explaining change to blob url upload path (applics-1596)
  packages/applications-service-api/src/utils/file.js
Due: azure-pipelines-ci.yml

fix(api): standardize blob upload path to use a fixed identifier instead of filename (applics-1596)
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/__tests__/unit/utils/file.test.js
  packages/applications-service-api/src/utils/file.js
Due: azure-pipelines-ci.yml

fix(web): add default charset encoding for document upload (applics-1596)
  packages/applications-service-api/__tests__/unit/routes/submissions.test.js
  packages/applications-service-api/src/routes/submissions.js
  packages/forms-web-app/src/config.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): add datepublished filter for migrated case
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: azure-pipelines-ci.yml

fix(web): feat(web): ensure back to list url always returns to base list for all lang (applics-1617)
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.js
  packages/forms-web-app/src/pages/projects/section-51/advice-detail/_utils/get-back-to-list-url.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(subscriber function): update project record publish status when depublished (applics-1613)
  packages/back-office-subscribers/nsip-project-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-unpublish/index.js
Due: azure-pipelines-ci.yml

feat(api): url to quality guide spreadsheet is appended to csv file of all projects
  packages/applications-service-api/__tests__/unit/services/application.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.merge.service.test.js
  packages/applications-service-api/__tests__/unit/services/application.ni.service.test.js
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/services/application.backoffice.service.js
  packages/applications-service-api/src/services/application.merge.service.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/get-url-for-blob-store-docs.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
Due: azure-pipelines-ci.yml

feat(api): added env var for blob store host to docker-compose (applics-1620)
  docker-compose.yml
Due: azure-pipelines-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
