Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app

ci: change release pipeline config to allow deploying from a git tag
  azure-pipelines-deploy.yml
Due: none

test: add test for persisting the query in the URL redirect
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add redirect middleware to examination journey if no examination session
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.js
  packages/forms-web-app/src/pages/examination/_middleware/examination.middleware.test.js
  packages/forms-web-app/src/routes/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: updated welsh translations for cookie banner and associated tests
  packages/forms-web-app/src/locales/__snapshots__/global.test.js.snap
  packages/forms-web-app/src/locales/cy/global.json
  packages/forms-web-app/src/views/macros/cookie-banner-rejected.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: welsh translations for cookie banner
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/nunjucks-render-helper.js
  packages/forms-web-app/src/locales/__snapshots__/global.test.js.snap
  packages/forms-web-app/src/locales/cy/global.json
  packages/forms-web-app/src/locales/en/global.json
  packages/forms-web-app/src/views/includes/cookie-banner.njk
  packages/forms-web-app/src/views/macros/cookie-banner-accepted.njk
  packages/forms-web-app/src/views/macros/cookie-banner-rejected.njk
  packages/forms-web-app/src/views/macros/cookie-banner.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Update basePage.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: none

test: update baepage with missing bracket which is failing test
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: none

refactor: reformat 500 error for consistency
  packages/applications-service-api/__tests__/integration/advice.test.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/src/middleware/apiErrorHandler.js
Due: none

fix: always display English name, summary and location for English cases
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: removed encryption_secret_key from docker compose file
  .env.example
  README.md
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
Due: none

fix: prefix name of submission comments pdf with the users name
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/src/services/submission.service.js
Due: none

fix: suffix name of submission comments pdf with the submission id
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/src/services/submission.service.js
Due: none

fix: added with context to the representations pagination template to fix bug
  packages/forms-web-app/src/pages/projects/representations/index/_includes/pagination.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: replace hard coded name of submission comments pdf with the submission type
  packages/applications-service-api/__tests__/integration/submission.test.js
  packages/applications-service-api/src/services/submission.service.js
Due: none

fix: added require("dotenv") to config.js to allow local env files to be picked up
  package-lock.json
  package.json
  packages/applications-service-api/src/lib/config.js
Due: none

docs: updated documentation with details of new environment variable
  README.md
  packages/applications-service-api/.env.example
Due: none

refactor: removed a redundant commented line
  packages/applications-service-api/src/lib/config.js
Due: none

test(fix broken e2e tests): e2e tests were broken in the pipeline so fix applied to tests
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
Due: azure-pipelines-e2e-test.yml

feat: update notify error logging and remove sendMagicLinkToIP function
  docker-compose.yml
  packages/applications-service-api/__tests__/unit/lib/notify.test.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/lib/notify.js
Due: none

test(adding in examination timetable test for organisation): organisation test and basepage updates
  packages/e2e_tests/cypress/e2e/examinaton-timetable-organisation-submission.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/pageObject/basePage.js
Due: azure-pipelines-e2e-test.yml

test(change to it test block): change to it test block
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
Due: azure-pipelines-e2e-test.yml

refactor: remove redundant wrapper functions around API library
  packages/forms-web-app/src/pages/examination/have-your-say/utils/setup/setup-examination-journey.component.test.js
  packages/forms-web-app/src/pages/examination/have-your-say/utils/setup/setup-examination-journey.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-document.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-examination-library-document.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/search-examination-library-document.test.js
  packages/forms-web-app/src/pages/projects/documents/_utils/documents/searchDocuments.js
  packages/forms-web-app/src/pages/projects/documents/controller.test.js
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.js
  packages/forms-web-app/src/pages/projects/examination-timetable/controller.test.js
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.js
  packages/forms-web-app/src/pages/projects/register/index/controller.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
  packages/forms-web-app/src/services/applications.service.js
  packages/forms-web-app/src/services/document.service.js
  packages/forms-web-app/src/services/registration.service.js
  packages/forms-web-app/src/services/representation.service.js
  packages/forms-web-app/src/services/timetable.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: added dummy key to crypto tests so it uses consistent key for testing
  README.md
  packages/applications-service-api/__tests__/unit/lib/crypto.test.js
  packages/applications-service-api/src/lib/config.js
Due: none

feat: throw a custom NotFoundError when API returns 404
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/lib/errors.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/services/applications.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: removed redundant env.example file in applications-service-api
  packages/applications-service-api/.env.example
Due: none

refactor: use applicationData from res.locals instead of fetching again
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: throw a NotFoundError when a representation is not found
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(small refactor along with update to project information test): refactor of methods and tests
  packages/e2e_tests/cypress/e2e/examination-timetable-agent-submission.cy.js
  packages/e2e_tests/cypress/e2e/project-information.cy.js
  packages/e2e_tests/cypress/e2e/section-51-advice.cy.js
  packages/e2e_tests/cypress/pageObject/Examination-TimeTable/PO_ExaminationTimetable.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/pageObject/section-51-advice/PO_Section51.js
Due: azure-pipelines-e2e-test.yml
