Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines-e2e-test.yml, pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e-test.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications_FO
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
  ...

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat(web): add hint text on rhys journey (IDAS-564)
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
  packages/forms-web-app/src/pages/projects/register/registering-for/view.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(web): project information page contact section (idas-737)
  e2e-tests/cypress/e2e/projects/shared/PageObjects/BasePage.js
  eslint.config.mjs
  packages/forms-web-app/src/pages/projects/index/_includes/contact.njk
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(api): update ai declaration copy and translation (idas-622)
  packages/applications-service-api/api/openapi.yaml
Due: azure-pipelines-ci.yml

chore(tooling): updating required condition for terraform
  infrastructure/providers.tf
Due: none

feat(web): rhys registration complex question updates (IDAS-562)
  e2e-tests/cypress/e2e/registration/agent/what-do-you-want-to-tell-about-project/PageObjects/PO_TellAboutProject.js
  e2e-tests/cypress/e2e/registration/myself/what-do-you-want-to-tell-about-project/PageObjects/PO_TellAboutProject.js
  e2e-tests/cypress/e2e/registration/organisation/what-do-you-want-to-tell-about-project/PageObjects/PO_TellAboutProject.js
  e2e-tests/cypress/support/common-methods/page-expectations.js
  packages/forms-web-app/src/pages/projects/register/_common/about-project/view.njk
  packages/forms-web-app/src/pages/projects/register/_translations/__snapshots__/translations.test.js.snap
  packages/forms-web-app/src/pages/projects/register/_translations/cy.json
  packages/forms-web-app/src/pages/projects/register/_translations/en.json
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(applications-service-api): add project type to downloadable CSV (IDAS-269)
  packages/applications-service-api/__tests__/unit/utils/map-applications-to-csv.test.js
  packages/applications-service-api/prisma/migrations/20260921120000_add_subprojecttype_to_project/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/src/utils/application.mapper.js
  packages/applications-service-api/src/utils/map-applications-to-csv.js
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
Due: azure-pipelines-ci.yml

chore(infrastructure): terraform upgrade azurerm and update ignore file
  infrastructure/.terraform.lock.hcl
Due: none

chore(infrastructure): updating kv name in Schema migration pipeline
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

feat(api): add new el fields to document table (idas-761)
  packages/applications-service-api/prisma/migrations/20260930105804_add_exam_library_fields_to_document/migration.sql
  packages/applications-service-api/prisma/schema.prisma
Due: azure-pipelines-ci.yml

feat(api): updating unpublish flow (idas-770)
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
Due: azure-pipelines-ci.yml

feat(functions): updating unpublish flow (idas-770)
  packages/back-office-subscribers/nsip-document-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document-unpublish/index.js
Due: azure-pipelines-ci.yml

chore(api): ensure local dev has access to legacy NI DB, mock otherwise
  packages/applications-service-api/src/models/index.js
Due: azure-pipelines-ci.yml

feat: updating unpublish flow (idas-770)
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/back-office-subscribers/nsip-document-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document-unpublish/index.js
Due: azure-pipelines-ci.yml

feat(web): caching for project and advice data (idas-813)
  packages/back-office-subscribers/nsip-advice-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-advice-unpublish/index.js
  packages/back-office-subscribers/nsip-advice/__tests__/index.test.js
  packages/back-office-subscribers/nsip-advice/index.js
  packages/back-office-subscribers/nsip-document-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-document-unpublish/index.js
  packages/back-office-subscribers/nsip-document/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-unpublish/index.js
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/register-of-advice/index/controller.test.js
  packages/forms-web-app/src/services/advice.service.js
  packages/forms-web-app/src/services/advice.service.unit.test.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(web): add caching to exam timetable and project updates (idas-813)
  packages/back-office-subscribers/nsip-exam-timetable-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-exam-timetable-unpublish/index.js
  packages/back-office-subscribers/nsip-exam-timetable/__tests__/index.test.js
  packages/back-office-subscribers/nsip-exam-timetable/index.js
  packages/back-office-subscribers/nsip-project-update-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-update-unpublish/index.js
  packages/back-office-subscribers/nsip-project-update/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project-update/index.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
Due: azure-pipelines-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e-test.yml: any of: packages/e2e_tests/cypress/e2e
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
