Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

ASB-185: Changed representations endpoint to longer return 404 but instead an empty list when no representations found. Changed frontend to handle an empty list of representations
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/src/controllers/representations.js
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-185: Handle no documents available vs no documents found properly (#264)
  packages/applications-service-api/__tests__/unit/controllers/document-filter.test.js
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
  packages/applications-service-api/src/controllers/documents.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-185: Changed representations endpoint to longer return 404 but instead an empty list when no representations found. Changed frontend to handle an empty list of representations (#266)
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/src/controllers/representations.js
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASb-304 Rename slugified to types, keep one form of query object
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

ASB-300 add search box for represenatation
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-300 add search box for represenatation
  packages/forms-web-app/src/controllers/projects/representations.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-304 Fix failing test
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/src/controllers/representations.js
Due: none

ASB-281: Corrected filter field labels
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-281: Corrected filter field labels (#268)
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-300 add search box for represenatation
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

acceptance tests
  e2e-tests/cypress/integration/project-application-documents.feature
Due: none

ASB-185: acceptance tests
  Makefile
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add queryUrl to pagination
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Feature/asb 185 acceptance tests (#269)
  Makefile
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

implement type filter for representation
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/src/controllers/representations.js
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

implement type filter for representation
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-310 Add test for representation service
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

ASB-288: acceptance tests
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
  init/wp_ipc_representations.sql
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-289 Implememented acceptance test for first scenario - matching comments
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
  init/wp_ipc_representations.sql
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Add missing resource group variable and bump templates version
  azure-pipelines-variables.yml
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-289: Added acceptance test for no matches scenario
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
Due: none

ASB-298 Fixes to go with acceptance tests
  packages/forms-web-app/src/public/stylesheets/unbranded.css
  packages/forms-web-app/src/views/layouts/project.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-311 Add getRepresentation
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/views/projects/representation.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-288: acceptance tests (#272)
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
  init/wp_ipc_representations.sql
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-311 Fix style
  packages/forms-web-app/src/views/projects/representation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Add missing resource group variable and bump templates version (#274)
  azure-pipelines-variables.yml
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-285: acceptance tests
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
Due: none

ASB-357: Remove unnecessary call to JSON.stringify which adds unwanted escaping of new line and return characters to comments persisted in database
  packages/applications-service-api/src/services/interested-party.service.js
Due: none

ASB-357: Changes to align with new Azure pipeline configuration
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/Dockerfile
  packages/common/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-357: Changes to align with new Azure pipeline configuration
  azure-pipelines-variables.yml
Due: none

ASB-357: Bumped major version number for dev mainline which is targetting release 2 next
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-357: Soften assertion for error message which appears to be platform/version dependent
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
Due: none

Fix for ASB-357 on prod baseline: Additional characters included in comments text box (#277)
  azure-pipelines-variables.yml
  e2e-tests/cypress/integration/registration/agent/complete-registration.feature
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
  packages/applications-service-api/junit.xml
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/applications-service-api/src/services/interested-party.service.js
  packages/common/Dockerfile
  packages/common/package.json
  packages/common/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/src/public/stylesheets/main.css
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Fix for ASB-357 on mainline: Additional characters included in comments text box (#276)
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/applications-service-api/src/services/interested-party.service.js
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Added missing attachments information to comments list
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-311 fix failing tests and add tests
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/__tests__/unit/routes/projects/index.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix comments section
  packages/forms-web-app/__tests__/unit/controllers/register/confirm-email.test.js
  packages/forms-web-app/src/controllers/register/confirm-email.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix display of comments while in save mode
  packages/applications-service-api/__tests__/unit/controllers/interested-party.test.js
  packages/applications-service-api/src/factories/interested-party/interested-party-agent.js
  packages/applications-service-api/src/factories/interested-party/interested-party-organisation.js
  packages/applications-service-api/src/factories/interested-party/interested-party-own.js
Due: none

Added C1 ad C2 architecture diagrams to README
  README.md
  doc/images/pins-applications-c1-context.drawio.png
  doc/images/pins-applications-c2-context.drawio.png
Due: none
