Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

Added C1 ad C2 architecture diagrams to README (#281)
  README.md
  doc/images/pins-applications-c1-context.drawio.png
  doc/images/pins-applications-c2-context.drawio.png
Due: none

ASB-311 Retrieve attachment details by dataID
  init/wp_ipc_documents_api.sql
  init/wp_ipc_representations.sql
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/views/projects/representation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-311 Fix failing test
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Addressed a few styling issues
  packages/forms-web-app/src/views/layouts/project-2-columns.njk
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/layouts/project.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

hide register link if period closed
  packages/forms-web-app/__tests__/unit/controllers/projects/examination.test.js
  packages/forms-web-app/src/controllers/projects/examination.js
  packages/forms-web-app/src/views/projects/examination.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

hide register link if period closed
  packages/forms-web-app/__tests__/unit/controllers/examination/examination.test.js
  packages/forms-web-app/src/controllers/examination/examination.js
  packages/forms-web-app/src/views/examination/examination.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add back link to representation
  packages/forms-web-app/src/views/projects/representation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

update read.me, fix tests, package
  packages/forms-web-app/__tests__/unit/utils/date-utils.test.js
  packages/forms-web-app/src/public/stylesheets/main.css
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-292: acceptance tests and README file updated
  e2e-tests/README.md
  e2e-tests/cypress/integration/registration-comments.feature
  e2e-tests/cypress/integration/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/integration/registration-comments/registration-comments.js
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  init/wp_ipc_representations.sql
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/views/projects/representation.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

README file updated
  e2e-tests/README.md
Due: none

stop registration after close date
  packages/forms-web-app/__tests__/unit/controllers/examination/examination.test.js
  packages/forms-web-app/src/controllers/examination/examination.js
  packages/forms-web-app/src/views/examination/examination.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

update packages, tests and removed uused API
  packages/applications-service-api/__tests__/unit/utils/date-utils.test.js
Due: none

update read.me, fix tests, package
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/public/stylesheets/main.css
Due: pipelines/forms-web-app/forms-web-app-ci.yml

populated DateOfRelevantRepresentationClose field with future date to fix the test data
  init/wp_ipc_projects.sql
Due: none

handover changes
  packages/applications-service-api/__tests__/unit/controllers/interested-party.test.js
  packages/applications-service-api/__tests__/unit/routes/interested-party.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/interested-party.js
  packages/applications-service-api/src/routes/interested-party.js
  packages/applications-service-api/src/services/interested-party.service.js
Due: none

disable registration when date is closed
  packages/forms-web-app/__tests__/unit/controllers/register/start.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/controllers/projects/examination.js
  packages/forms-web-app/src/controllers/register/registration-period-closed.js
  packages/forms-web-app/src/controllers/register/start.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/routes/register/index.js
  packages/forms-web-app/src/routes/register/registration-period-closed.js
  packages/forms-web-app/src/views/register/registration-period-closed.njk
  packages/forms-web-app/src/views/register/start.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

disable registration when date is closed
  packages/forms-web-app/__tests__/unit/controllers/register/start.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/controllers/examination/examination.js
  packages/forms-web-app/src/controllers/register/registration-period-closed.js
  packages/forms-web-app/src/controllers/register/start.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/routes/register/index.js
  packages/forms-web-app/src/routes/register/registration-period-closed.js
  packages/forms-web-app/src/views/register/registration-period-closed.njk
  packages/forms-web-app/src/views/register/start.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

disable registration when date is closed
  packages/forms-web-app/src/controllers/register/registration-period-closed.js
  packages/forms-web-app/src/views/register/registration-period-closed.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix lint
  packages/applications-service-api/src/controllers/interested-party.js
Due: none

update release pipelines to use app service slots
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(pipelines): update CPT version and separate deploy and swap stages
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(pipelines): add deploy dependency on stage
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore(pipelines): uplift build pipeline CPT version references to 2.5.1
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(pipelines): update pipelines to version 2.5.3
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

chore(pipelines): update pipelines to version 2.5.3 (#292)
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Testing
  azure-pipelines-semantic-release.yml
Due: none

feat(updated accessibility statement): changed some of the information on the accessibility terms
  package-lock.json
  package.json
  packages/forms-web-app/src/views/footer-pages/accessibility-statement.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

docs(accessibility-statement): updated the terms on the accessbility statement
  package-lock.json
  package.json
Due: none

chore(keep.pp): remove file which was incorrectly included
  packages/applications-service-api/keeep.pp
Due: none

chore(junit.xml): remov auto-generated junit.xml file
  packages/applications-service-api/junit.xml
Due: none

build(application-service-api tests): temporarily disable pipeline test run due to linting issues
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
Due: none

build(dockerfile): remove test run from within Dockerfile temporarily
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

build(dockerfile): removing tests in build temporarily due to linting issues
  packages/applications-service-api/Dockerfile
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(prettier): run prettier from root
  .eslintrc
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  commitlint.config.js
  package-lock.json
  package.json
  packages/applications-service-api/.eslintrc
  packages/applications-service-api/.prettierrc
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/common/.eslintrc
  packages/common/.prettierrc
  packages/common/package-lock.json
  packages/common/package.json
  packages/forms-web-app/.eslintrc
  packages/forms-web-app/.prettierignore
  packages/forms-web-app/.prettierrc
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(jest): update jest and config to run from root
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  packages/applications-service-api/jest.config.js
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/common/jest.config.js
  packages/common/package-lock.json
  packages/common/package.json
  packages/forms-web-app/jest.config.js
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ci: stop tests running in Docker container
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
