Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: add project page navigation sidebar to have your say page
  packages/forms-web-app/src/pages/examination/exmaination.router.js
  packages/forms-web-app/src/pages/examination/have-your-say/controller.js
  packages/forms-web-app/src/pages/examination/have-your-say/controller.unit.test.js
  packages/forms-web-app/src/pages/examination/have-your-say/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  325e90a96fdcc1683eb5732456e9c760e7c20fc0
Due: none

feat: relabel documents filter option
  packages/applications-service-api/__tests__/unit/utils/documentFilterLabelMapper.test.js
  packages/applications-service-api/src/utils/documentFilterLabelMapper.js
Due: none

feat(applications-service-api): remove data-service, add prisma to api
  azure-pipelines-deploy.yml
  docker-compose.yml
  package-lock.json
  package.json
  packages/applications-service-api/.env.development
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/package.json
  packages/applications-service-api/prisma/migrations/20230405153152_init/migration.sql
  packages/applications-service-api/prisma/migrations/20230414103432_add_case_reference_constraint/migration.sql
  packages/applications-service-api/prisma/migrations/20230414123850_change_p_kto_case_ref/migration.sql
  packages/applications-service-api/prisma/migrations/migration_lock.toml
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/src/controllers/applications.v2.js
  packages/applications-service-api/src/lib/prisma.js
  packages/applications-service-api/src/repositories/project.repository.js
  packages/applications-service-api/src/routes/applications.v2.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/services/application.v2.service.js
  packages/data-service/.gitignore
  packages/data-service/README.md
  packages/data-service/__tests__/index.test.js
  packages/data-service/jest.config.js
  packages/data-service/package.json
  packages/data-service/src/index.js
Due: none

refactor: move async-route helper to common package
  packages/applications-service-api/__tests__/unit/utils/validate-parameters.test.js
  packages/applications-service-api/__tests__/unit/utils/validate-types.test.js
  packages/applications-service-api/src/utils/validate-parameters.js
  packages/common/src/utils/async-route.js
  packages/common/src/utils/async-route.test.js
  packages/forms-web-app/src/pages/projects/projects.router.js
  packages/forms-web-app/src/routes/register/agent/tell-us-about-project.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/routes/register/confirm-email.js
  packages/forms-web-app/src/routes/register/myself/tell-us-about-project.js
  packages/forms-web-app/src/routes/register/organisation/tell-us-about-project.js
  packages/forms-web-app/src/routes/register/start.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: applications v2 backend with v1 back compat
  docker-compose.yml
  package-lock.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/__tests__/__data__/application.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/setup-jest.js
  packages/applications-service-api/__tests__/unit/controllers/applications.test.js
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/__tests__/unit/routes/applications.test.js
  packages/applications-service-api/__tests__/unit/utils/parse.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/package.json
  packages/applications-service-api/src/controllers/applications.js
  packages/applications-service-api/src/controllers/applications.v2.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/routes/applications.v2.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/services/application.v2.service.js
  packages/applications-service-api/src/utils/parse.js
Due: none

fix(applications-service-api): add windows and linux arm64 as prisma client binary targets
  packages/applications-service-api/prisma/schema.prisma
Due: none

fix: add sidebar to no deadlines view
  packages/forms-web-app/src/pages/examination/have-your-say/no-deadlines-view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(applications-service-api): openapi validation undefined guard
  packages/applications-service-api/src/middleware/validator/openapi.js
Due: none

fix(forms-web-app): return 500 status code on unhandled exception
  packages/forms-web-app/src/pages/projects/documents/controller.component.test.js
  packages/forms-web-app/src/pages/projects/documents/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(forms-web-app): only send allowed document filters to api and ignore rest
  packages/forms-web-app/src/pages/projects/documents/utils/documents/body/delete-dates-filter-from-query.js
  packages/forms-web-app/src/pages/projects/documents/utils/documents/body/getBody.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(process.js): fix for caseRef issue causing horizon not to process submission
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.js
  packages/forms-web-app/src/pages/examination/process-submission/utils/process.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(applications-service-api): release pipeline run prisma generate
  azure-pipelines-build.yml
  azure-pipelines-release.yml
  packages/applications-service-api/package.json
Due: none

Notes added by 'git notes add'
  12616bd03c8290d41482db4fbc62c89ab818f010
Due: none

feat(asb 1417): removed cucumber and updated one registration journey using cypress
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/user-registers-to-have-their-say.cy.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/package-lock.json
  packages/e2e_tests/package.json
Due: none

feat(forms-web-app): remove all page specific sanitisation code
  packages/forms-web-app/__tests__/unit/controllers/register/agent/tell-us-about-project.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/common/full-name/controller.component.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/myself/tell-us-about-project.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/tell-us-about-project.test.js
  packages/forms-web-app/__tests__/unit/scripts/sanitise-form.test.js
  packages/forms-web-app/src/controllers/register/agent/tell-us-about-project.js
  packages/forms-web-app/src/controllers/register/common/full-name/controller.js
  packages/forms-web-app/src/controllers/register/myself/tell-us-about-project.js
  packages/forms-web-app/src/controllers/register/organisation/tell-us-about-project.js
  packages/forms-web-app/src/controllers/register/organisation/what-job-title-or-role.js
  packages/forms-web-app/src/pages/examination/enter-comment/controller.js
  packages/forms-web-app/src/pages/examination/enter-comment/controller.test.js
  packages/forms-web-app/src/pages/examination/enter-comment/view.njk
  packages/forms-web-app/src/pages/examination/name/controller.js
  packages/forms-web-app/src/pages/examination/name/controller.test.js
  packages/forms-web-app/src/pages/examination/name/view.njk
  packages/forms-web-app/src/public/scripts/stepByStep.script.js
  packages/forms-web-app/src/scripts/sanitise-form.js
  packages/forms-web-app/src/utils/sanitise-form-post.js
  packages/forms-web-app/src/views/register/agent/full-name.njk
  packages/forms-web-app/src/views/register/agent/tell-us-about-project.njk
  packages/forms-web-app/src/views/register/common/full-name.njk
  packages/forms-web-app/src/views/register/myself/full-name.njk
  packages/forms-web-app/src/views/register/myself/tell-us-about-project.njk
  packages/forms-web-app/src/views/register/organisation/full-name.njk
  packages/forms-web-app/src/views/register/organisation/tell-us-about-project.njk
  packages/forms-web-app/src/views/register/organisation/what-job-title-or-role.njk
  packages/forms-web-app/webpack.config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: updates files based on PR comments
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/user-registers-to-have-their-say.cy.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
Due: none

feat(applications-service-api): add regex validation for caseReference format
  packages/applications-service-api/__tests__/unit/middleware/validator/openapi.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/middleware/validator/openapi.js
Due: none

fix: replace request body with form data entries to retrieve data
  packages/forms-web-app/__tests__/unit/scripts/sw.test.js
  packages/forms-web-app/src/public/scripts/sw.script.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update package lock
  package-lock.json
Due: none

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
