Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

refactor: scope applications download URL to folder
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.js
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.test.js
  packages/forms-web-app/src/api/_utils/get-url/index.js
  packages/forms-web-app/src/api/applications-download/config.js
  packages/forms-web-app/src/api/applications-download/config.test.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(examination/select-file): correct text content
  packages/forms-web-app/src/pages/examination/select-file/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: updated tests to work with new data config on test env
  packages/e2e_tests/cypress/e2e/cypress.config.js
  packages/e2e_tests/cypress/e2e/exam-timetable-register-as-myself.cy.js
  packages/e2e_tests/cypress/e2e/exam-timtable-register-as-an-agent.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself-over18-to-have-my-say.cy.js
  packages/e2e_tests/cypress/pageObject/Examination-TimeTable/PO_ExaminationTimetable.js
Due: none

chore(applications-service-api): add project column migration file
  packages/applications-service-api/prisma/migrations/20231004105518_project_column_updates/migration.sql
Due: none

fix: fixing more e2e tests wip
  e2e-tests/cypress/e2e/common/actions.js
  e2e-tests/cypress/e2e/registration-comments.feature
  e2e-tests/cypress/e2e/registration/myself/are-you-18-or-over/are-you-18-or-over.js
  e2e-tests/cypress/e2e/registration/myself/check-your-answers-before-registering/check-your-answers-before-registering.js
  e2e-tests/cypress/e2e/registration/myself/full-name/full-name.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete/regsitration-complete.js
  e2e-tests/cypress/e2e/registration/myself/uk-address-details/uk-address-details.js
  e2e-tests/cypress/e2e/registration/myself/what-do-you-want-to-tell-about-project/what-do-you-want-to-tell-about-project.js
  e2e-tests/cypress/e2e/registration/myself/what-is-your-email-address/what-is-your-email-address.js
  e2e-tests/cypress/e2e/registration/myself/what-is-your-telephone-number/what-is-your-telephone-number.js
  e2e-tests/cypress/e2e/registration/organisation/are-you-sure-you-want-to-remove-this-comment/are-you-sure-you-want-to-remove-this-comment.js
  e2e-tests/cypress/e2e/registration/organisation/check-your-answers-before-registering-organisation/check-your-answers-before-registering-organisation.js
  e2e-tests/cypress/e2e/registration/organisation/do-you-want-to-add-another-comment/do-you-want-to-add-another-comment.js
  e2e-tests/cypress/e2e/registration/organisation/full-name/full-name.js
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  e2e-tests/package.json
  init/wp_ipc_projects.sql
Due: none

fix: e2e automation fixes
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/services/application.ni.service.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/prisma/migrations/20231004105518_project_column_updates/migration.sql
  packages/applications-service-api/src/repositories/project.ni.repository.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/e2e_tests/cypress/e2e/exam-timetable-register-as-myself.cy.js
  packages/e2e_tests/cypress/e2e/exam-timtable-register-as-an-agent.cy.js
  packages/e2e_tests/cypress/e2e/filter-and-search-project-documents.cy.js
  packages/e2e_tests/cypress/e2e/registers-as-myself-over18-to-have-my-say.cy.js
  packages/e2e_tests/cypress/pageObject/Examination-TimeTable/PO_ExaminationTimetable.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/api/_services/get-applications-csv.js
  packages/forms-web-app/src/api/applications-download/config.js
  packages/forms-web-app/src/api/applications-download/config.test.js
  packages/forms-web-app/src/api/applications-download/controller.js
  packages/forms-web-app/src/api/applications-download/controller.test.js
  packages/forms-web-app/src/api/applications-download/router.js
  packages/forms-web-app/src/api/config.js
  packages/forms-web-app/src/api/router.js
  packages/forms-web-app/src/pages/_fixtures/applications/get-applications-fixture.js
  packages/forms-web-app/src/pages/examination/select-file/view.njk
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/services/applications.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: register of apps default sort DateOfDCOSubmission asc to dsc
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: register of apps default sort DateOfDCOSubmission to dsc
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(examination/select-file): add details component
  packages/forms-web-app/src/pages/examination/select-file/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/modded/govuk-file-upload.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add process guide page link to related guides navigation
  packages/forms-web-app/__tests__/unit/controllers/decision-making-process-guide.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/__tests__/unit/routes/decision-making-process-guide.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/controllers/decision-making-process-guide.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-page-data.js
  packages/forms-web-app/src/pages/process-guide/config.js
  packages/forms-web-app/src/pages/process-guide/config.test.js
  packages/forms-web-app/src/pages/process-guide/controller.js
  packages/forms-web-app/src/pages/process-guide/controller.test.js
  packages/forms-web-app/src/pages/process-guide/router.js
  packages/forms-web-app/src/pages/process-guide/router.test.js
  packages/forms-web-app/src/pages/process-guide/view.njk
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/routes/decision-making-process-guide.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/views/components/ui/vertical-tabs.njk
  packages/forms-web-app/src/views/components/wrappers/related-guides-wrapper.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add results per page to representations page
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/get-relevant-representations-query.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/get-relevant-representations-query.test.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/is-query-search-or-type-present.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/is-query-search-or-type-present.test.js
  packages/forms-web-app/src/pages/projects/relevant-representations/includes/pagination.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/includes/results-per-page.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.js
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: update csp to align with ga-4 with google signals docs
  packages/forms-web-app/src/csp.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/examination/select-file/view.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/get-relevant-representations-query.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/get-relevant-representations-query.test.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/is-query-search-or-type-present.js
  packages/forms-web-app/src/pages/projects/relevant-representations/_utils/is-query-search-or-type-present.test.js
  packages/forms-web-app/src/pages/projects/relevant-representations/includes/pagination.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/includes/results-per-page.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.js
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.njk
  packages/forms-web-app/src/pages/projects/relevant-representations/representations.test.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/modded/govuk-file-upload.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: updating node to 18 wip
  .nvmrc
  README.md
  azure-pipelines-build.yml
  docker-compose.yml
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: update csp to align with ga-4 with google signals docs
  packages/forms-web-app/src/csp.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: updating node to 18 wip
  e2e-tests/package-lock.json
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: enhance map accessibility
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/includes/location.njk
  packages/forms-web-app/src/public/scripts/map.script.js
  packages/forms-web-app/src/scripts/map/get-controls.js
  packages/forms-web-app/src/scripts/map/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: minor bug fixes after update
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/src/controllers/subscriptions.js
  packages/applications-service-api/src/models/attachment.js
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: using BACK_OFFICE_INTEGRATION_GET_TIMETABLE_CASE_REFERENCES ff
  docker-compose.yml
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  8c3861bed6fe70a4106cff2738c6edb209938a62
Due: none

feat: adding ExaminationTimetable and ExaminationTimetable schema
  packages/applications-service-api/prisma/schema.prisma
Due: none

chore: updated common-pipeline-templates version
  azure-pipelines-build.yml
Due: none

fix: process guide issues
  packages/forms-web-app/src/pages/process-guide/_utils/get-back-link-url.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-back-link-url.test.js
  packages/forms-web-app/src/pages/process-guide/_utils/get-page-data.js
  packages/forms-web-app/src/pages/process-guide/controller.js
  packages/forms-web-app/src/pages/process-guide/controller.test.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/views/components/ui/vertical-tabs.njk
  packages/forms-web-app/src/views/components/wrappers/related-guides-wrapper.njk
  packages/forms-web-app/src/views/decision-making-process-guide/recommendation-and-decision.njk
  packages/forms-web-app/src/views/decision-making-process-guide/what-happens-after-the-decision-is-made.njk
  packages/forms-web-app/src/views/includes/dco-step-by-step-navigation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: removed accidental console log
  packages/applications-service-api/src/controllers/subscriptions.js
Due: none

chore: removed some automatically added deps from feedback
  package-lock.json
  package.json
  packages/back-office-subscribers/package.json
  packages/forms-web-app/package.json
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: updated config with ff
  packages/applications-service-api/src/lib/config.js
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: feat: ran prisma migrate
  packages/applications-service-api/prisma/migrations/20231010153926_/migration.sql
Due: none

feat: renamed migration to be more descriptive
  packages/applications-service-api/prisma/migrations/20231010153926_add_examtimetable_table/migration.sql
Due: none

Notes added by 'git notes add'
  f1048747286d9fdf538ee5164078c11fc04cdfbc
Due: none

feat: upgrade to node 18
  .nvmrc
  README.md
  azure-pipelines-build.yml
  docker-compose.yml
  e2e-tests/package-lock.json
  e2e-tests/package.json
  package-lock.json
  package.json
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/package.json
  packages/applications-service-api/src/models/attachment.js
  packages/common/package.json
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-accepted.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner-rejected.njk.test.js.snap
  packages/forms-web-app/__tests__/unit/views/macros/__snapshots__/cookie-banner.njk.test.js.snap
  packages/forms-web-app/package.json
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: backoffice sub node_modules
  azure-pipelines-build.yml
Due: none

fix: changed merge node modules step
  azure-pipelines-build.yml
  packages/back-office-subscribers/package.json
Due: none

fix: backoffice sub node_modules
  azure-pipelines-build.yml
  packages/back-office-subscribers/package.json
Due: none

feat: using back office get timetable ff
  docker-compose.yml
  packages/applications-service-api/src/lib/config.js
Due: none
