Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

ASB-273 Amend search fields
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-267 Fix routes
  packages/forms-web-app/src/views/projects/all-examination-documents.njk
  packages/forms-web-app/src/views/projects/documents.njk
  packages/forms-web-app/src/views/projects/project-timeline.njk
  packages/forms-web-app/src/views/projects/recommendations.njk
  packages/forms-web-app/src/views/projects/representations.njk
  packages/forms-web-app/src/views/projects/timetable.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Remove unused build pipelines and update Dockerfiles (#236)
  .gitignore
  azure-pipelines-variables.yml
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/azure-applications-service-api-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/Dockerfile
  packages/common/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/azure-forms-web-app-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
  pipelines/applications-service-api/Dockerfile
  pipelines/common/common-ci.yml
  pipelines/common/variables.yml
  pipelines/forms-web-app/Dockerfile
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Fix frontend image being empty
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Fix frontend image being empty (#241)
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-267 Fix routes
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270: Added new dataset for documents to verify new document list styling. Made a tweak to query to exclude registration commment attachments.
  init/wp_ipc_documents_api.sql
  init/wp_ipc_projects.sql
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270 Fixed prettier violation
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270: Fixes to pagination
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/lib/pagination.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-267: acceptance tests amended as per new routes
  e2e-tests/cypress/integration/registration/agent/complete-registration.feature
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
Due: none

ASB-270: Added temporary class to main.scss to check whether it will get packaged as main.css deployment binary
  packages/forms-web-app/src/sass/main.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270 Removed test css class
  packages/forms-web-app/src/sass/main.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add pagination scss
  packages/forms-web-app/src/sass/pagination.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-274/275 implement search box
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-274/275 implement search box
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix lint
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-279 Add filter options and counts
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-179: acceptance tests for dates descending order
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  init/wp_ipc_documents_api.sql
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-279 Exclude stage 0 from filters
  packages/applications-service-api/src/services/document.service.js
Due: none

refactor tmplate
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/layouts/contentHeader.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor tmplate
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

applied review comments
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASb-279 Remove failing test
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
Due: none

update blocks
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

update blocks
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASb-279 Re-instate exclusion of Stage 0
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-184: Fixed inconsistent parameter name for result page between frontend and backend. Also changed searchTerm to only be passed by frontend if truthy.
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

initial changes
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/views/includes/scripts.njk
  packages/forms-web-app/src/views/layouts/layout.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-184: Fixed issue where only first word of search text was being retained which was due to missing double-quotes around the value attribute
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-184: Removed extra double quote inserted by IDE
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-184: Fix for search box to retail complete value (#248)
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add stage filter
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/services/document.service.js
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add stage filter
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

updated query to include case_ref
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-310 Revise endpoint to allow filtering by search text
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

split type filters
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml
