Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

feat(project-information): remove bottom border from last item in summary list
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/modded/govuk-list-summary.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project information): move doc dict to common pins
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
  packages/common/src/constants.js
  packages/common/src/index.js
Due: pipelines/common/common-ci.yml

feat(project information): use mappers to respond
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.ni.service.js
Due: none

feat(project information): use mappers to respond
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
Due: none

feat(project info): add document type endpoint
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/repositories/document.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/document.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/routes/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/middleware/validator/validateGetDocumentWithTypeRequestOpenAPI.js
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
  packages/applications-service-api/src/routes/documents.v3.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
Due: none

feat(project information): use snake case enum
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/routes/documents.v3.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/middleware/validator/validateGetDocumentWithTypeRequestOpenAPI.js
  packages/applications-service-api/src/routes/documents.v3.js
Due: none

feat(project information): add document type endpoint
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
Due: none

feat(project information): move mappers to services
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.backoffice.service.test.js
  packages/applications-service-api/__tests__/unit/services/document.ni.service.test.js
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/docType.js
  packages/applications-service-api/src/services/document.backoffice.service.js
  packages/applications-service-api/src/services/document.ni.service.js
Due: none

feat(project-informatino): package-lock update
  package-lock.json
Due: none

feat(project-information): add stage progress tag and refactor project stages
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/project-information/controller.js
  packages/forms-web-app/src/pages/projects/project-information/controller.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stage-selector.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/acceptance/details.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-application/details.njk
  packages/forms-web-app/src/pages/projects/project-information/view.njk
  packages/forms-web-app/src/public/stylesheets/main.css
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): introduce html parser and add ptogress tag tests
  packages/forms-web-app/package.json
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
  packages/forms-web-app/src/pages/projects/project-information/controller.unit.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): stop tag text from wrapping
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/project-information/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): show no tag when project is at post-decision stage
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/components/stage-progress-tag.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): don't show the progress tag after post-decision stage has been completed
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/components/stage-progress-tag.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): remove unnecessary divs and tweak progress tag
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/components/stage-progress-tag.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(get-virtual-tabs): using featureflag case-id list to show/hide links
  docker-compose.yml
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.js
  packages/forms-web-app/src/pages/projects/_middleware/_utils/get-vertical-tabs.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/get-updates/router.js
  packages/forms-web-app/src/pages/projects/projects.router.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(get-updates): update subscribed and unsubscribed success templates
  packages/forms-web-app/src/pages/projects/get-updates/subscribed/includes/subscription-successful.njk
  packages/forms-web-app/src/pages/projects/get-updates/unsubscribed/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: added / updated tests for navigation link and project migration middleware
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/project-information/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: updated project_migration_case_references for local docker
  docker-compose.yml
Due: none

test: added / updated tests for navigation link and project migration middleware
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(applications-service-api): add representation table
  packages/applications-service-api/prisma/migrations/20230815090647_add_representation_table/migration.sql
  packages/applications-service-api/prisma/schema.prisma
Due: none

feat(applications-service-api): add representationId to Document
  packages/applications-service-api/prisma/migrations/20230815143109_add_representationid_to_document/migration.sql
  packages/applications-service-api/prisma/schema.prisma
Due: none

feat(project information): add pre exam details
  packages/forms-web-app/src/controllers/register/common/declaration/controller.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
  packages/forms-web-app/src/pages/projects/project-information/controller.js
  packages/forms-web-app/src/pages/projects/project-information/controller.unit.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-examination/description.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-examination/details.njk
  packages/forms-web-app/src/pages/projects/project-information/utils/pre-examination-sub-stages.js
  packages/forms-web-app/src/pages/projects/project-information/utils/pre-examination-sub-stages.unit.test.js
  packages/forms-web-app/src/pages/projects/project-information/view.njk
  packages/forms-web-app/src/pages/services.js
  packages/forms-web-app/src/services/document.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project information): add pre exam details
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(project information): add pre exam details
  packages/common/src/constants.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-examination/description.njk
  packages/forms-web-app/src/pages/projects/project-information/utils/pre-examination-sub-stages.js
  packages/forms-web-app/src/pages/services.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat(project-information): add post-decision stage
  packages/forms-web-app/src/pages/_fixtures/application-data.js
  packages/forms-web-app/src/pages/_fixtures/index.js
  packages/forms-web-app/src/pages/_fixtures/project-documents.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.js
  packages/forms-web-app/src/pages/projects/project-information/controller.unit.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/project-stage.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/post-decision/description.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/post-decision/details.njk
  packages/forms-web-app/src/pages/projects/project-information/utils/formatters.js
  packages/forms-web-app/src/pages/projects/project-information/utils/get-application-decision.js
  packages/forms-web-app/src/pages/projects/project-information/utils/get-application-decision.unit.test.js
  packages/forms-web-app/src/pages/services.js
  packages/forms-web-app/src/pages/services.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(project-info): case ids that are not migrated now return 404 instead of 500 correctly
  packages/forms-web-app/src/pages/projects/_middleware/middleware.component.test.js
  packages/forms-web-app/src/pages/projects/_middleware/middleware.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml
