Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

chore(.prettierignore): update prettier ignore file to ignore generated jest reports
  .prettierignore
Due: none

chore(husky): add pre-push hook
  .husky/pre-push
Due: none

chore(jest): drop common package coverage threshold to 80%
  packages/common/jest.config.js
Due: pipelines/common/common-ci.yml

ci(common): remove pipelines and dockerfile
  packages/common/Dockerfile
  packages/common/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml

chore(editorconfig): update .editorconfig file to use tabs with indent of 2
  .editorconfig
Due: none

refactor(prettier): run prettier from root
  .eslintrc
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  commitlint.config.js
  package-lock.json
  package.json
  packages/applications-service-api/.eslintrc
  packages/applications-service-api/.prettierrc
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/common/.eslintrc
  packages/common/.prettierrc
  packages/common/package-lock.json
  packages/common/package.json
  packages/forms-web-app/.eslintrc
  packages/forms-web-app/.prettierignore
  packages/forms-web-app/.prettierrc
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(jest): update jest and config to run from root
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  packages/applications-service-api/jest.config.js
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/common/jest.config.js
  packages/common/package-lock.json
  packages/common/package.json
  packages/forms-web-app/jest.config.js
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ci: stop tests running in Docker container
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Task/accessibility statement (#298)
  packages/forms-web-app/src/views/footer-pages/accessibility-statement.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

build(azure-pipelines-release.yml): remove slots for Stage in pipeline
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

build(azure-pipelines-release.yml): remove slots for Stage in pipeline (#299)
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: documentHost prefix added to reg. comment
  packages/applications-service-api/src/controllers/representations.js
Due: none

build(package.json): limit npm and node versions
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

build(package.json): limit npm and node versions (#300)
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: added empty attachment case
  packages/applications-service-api/src/controllers/representations.js
Due: none

build(package.json): include chokidar dependency required by nunjucks
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

build(package.json): include chokidar dependency required by nunjucks (#302)
  packages/applications-service-api/package.json
  packages/common/package.json
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix: add middleware functions to sanitise and unescape specified strings
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/middleware/sanitise-strings.js
  packages/forms-web-app/src/middleware/unescape-strings.js
  packages/forms-web-app/src/routes/register/myself/check-your-answers.js
  packages/forms-web-app/src/routes/register/myself/tell-us-about-project.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: logger added
  packages/applications-service-api/src/controllers/representations.js
Due: none

fix: documentHost prefix added to reg. comment (#301)
  packages/applications-service-api/src/controllers/representations.js
Due: none

ci: add build, release, and deploy pipelines
  .gitignore
  Makefile
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
  package-lock.json
  package.json
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ci: fix build pipeline with PRs
  azure-pipelines-build.yml
  package.json
Due: none

ci: fix params in deploy pipeline
  azure-pipelines-deploy.yml
Due: none

ci: bump templates to 3.0.1
  azure-pipelines-deploy.yml
Due: none

ci: update release env
  azure-pipelines-release.yml
Due: none

ci(azure-pipelines-build.yml): do not run commitlint on main
  azure-pipelines-build.yml
  azure-pipelines-release.yml
Due: none

style: helper class added and applied to retain string formatting when displayed
  packages/forms-web-app/src/middleware/sanitise-strings.js
  packages/forms-web-app/src/sass/helpers/white-space.scss
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/page/link.scss
  packages/forms-web-app/src/views/register/myself/check-answers.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml
