Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat(web/applications): updated unsubscribe template
  packages/forms-web-app/src/pages/projects/get-updates/unsubscribe/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: unpublish advice bo function
  packages/back-office-subscribers/nsip-advice-unpublish/__tests__/index.test.js
  packages/back-office-subscribers/nsip-advice-unpublish/function.json
  packages/back-office-subscribers/nsip-advice-unpublish/index.js
Due: none

test: added test cases for missing representative
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/src/utils/representation.mapper.js
Due: none

feat: extend get representation by id endpoint for bo integration
  docker-compose.yml
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/__data__/serviceUser.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/middleware/parseParamProperties.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/serviceUser.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/routes/advice.test.js
  packages/applications-service-api/__tests__/unit/routes/representations.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/utils/document.mapper.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/middleware/parseParamProperties.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/serviceUser.backoffice.repository.js
  packages/applications-service-api/src/routes/advice.js
  packages/applications-service-api/src/routes/applications.js
  packages/applications-service-api/src/routes/representations.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/document.mapper.js
  packages/applications-service-api/src/utils/representation.mapper.js
  packages/forms-web-app/__tests__/unit/lib/application-api-wrapper.test.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/pages/projects/representations/representation/controller.js
  packages/forms-web-app/src/services/representation.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: adding get all reps BO endpoint wip
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/routes/representations.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-relevant-representations-query.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-relevant-representations-query.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: unit + integration tests added + minor refactor
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/middleware/parseFormDataProperties.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/routes/project-updates.test.js
  packages/applications-service-api/__tests__/unit/routes/representations.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/src/middleware/parseFormDataProperties.js
  packages/applications-service-api/src/routes/representations.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
Due: none

fix: revert schema committed by accident
  packages/applications-service-api/prisma/schema.prisma
Due: none

feat: extend get all representations for case reference endpoint for bo integration
  packages/applications-service-api/__tests__/__data__/representation.js
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/middleware/parseFormDataProperties.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/routes/project-updates.test.js
  packages/applications-service-api/__tests__/unit/routes/representations.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/middleware/parseFormDataProperties.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/routes/representations.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-relevant-representations-query.js
  packages/forms-web-app/src/pages/projects/representations/index/_utils/get-relevant-representations-query.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: wip representation filters
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

feat: wip refactor
  packages/applications-service-api/prisma/migrations/20231218145543_representation_serviceusers_relation/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
Due: none

feat: wip refactor, endpoints done
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
Due: none

feat: bo functions updated
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation/index.js
Due: none

feat: tidy up
  packages/applications-service-api/__tests__/unit/repositories/serviceUser.backoffice.repository.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/repositories/serviceUser.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

test(e2e-tests): add screenshots within tests to help create sitemap
  e2e-tests/cypress.config.js
  e2e-tests/cypress/e2e/common/actions.js
  e2e-tests/cypress/e2e/cookies-banner/cookies-banner.js
  e2e-tests/cypress/e2e/decision-making-process-guide/decision-making-process-guide.js
  e2e-tests/cypress/e2e/footer-links.feature
  e2e-tests/cypress/e2e/footer-links/footer-links.js
  e2e-tests/cypress/e2e/project-application-documents/project-application-documents.js
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project.js
  e2e-tests/cypress/e2e/registration/agent/complete-registration/complete-registration.js
  e2e-tests/cypress/e2e/registration/agent/who-are-you-representing/PageObjects/PO_WhoYouRepresenting.js
  e2e-tests/cypress/e2e/registration/myself/regsitration-complete/regsitration-complete.js
  e2e-tests/cypress/e2e/registration/organisation/complete-registration/complete-registration.js
  e2e-tests/cypress/support/commands/navigation-commands.js
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  e2e-tests/cypress/support/common-methods/captureScreenForSiteMap.js
Due: none

feat: refactor register name pages
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/register/common/full-name/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/name/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/name/_utils/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/name/config.js
  packages/forms-web-app/src/pages/projects/register/_common/name/config.test.js
  packages/forms-web-app/src/pages/projects/register/_common/name/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/name/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/name/_utils/get-register-agent-name-url.js
  packages/forms-web-app/src/pages/projects/register/agent/name/_utils/get-register-agent-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/name/_utils/get-register-myself-name-url.js
  packages/forms-web-app/src/pages/projects/register/myself/name/_utils/get-register-myself-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/name/_utils/get-register-organisation-name-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/name/_utils/get-register-organisation-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/pages/projects/router.js
  packages/forms-web-app/src/pages/projects/router.test.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/routes/register/middleware.js
  packages/forms-web-app/src/routes/register/organisation/middleware.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web/aplications): cookies page refactor
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/__tests__/unit/routes/cookies.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/cookies/_includes/cookies-updated-successfully-message.njk
  packages/forms-web-app/src/pages/cookies/_includes/cookies-without-js.njk
  packages/forms-web-app/src/pages/cookies/_utils/get-cookies-url.js
  packages/forms-web-app/src/pages/cookies/_utils/get-existing-cookie-policy.js
  packages/forms-web-app/src/pages/cookies/_validators/validate-cookies.js
  packages/forms-web-app/src/pages/cookies/_validators/validate-cookies.test.js
  packages/forms-web-app/src/pages/cookies/config.js
  packages/forms-web-app/src/pages/cookies/controller.js
  packages/forms-web-app/src/pages/cookies/controller.test.js
  packages/forms-web-app/src/pages/cookies/view.njk
  packages/forms-web-app/src/pages/router.js
  packages/forms-web-app/src/pages/router.test.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/validators/cookies.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test(web/applications): add missing tests
  packages/forms-web-app/src/pages/cookies/_utils/get-cookies-url.test.js
  packages/forms-web-app/src/pages/cookies/config.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register email pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/_common/email/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/email/_utils/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/email/config.js
  packages/forms-web-app/src/pages/projects/register/_common/email/config.test.js
  packages/forms-web-app/src/pages/projects/register/_common/email/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/email/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/email/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/email/_utils/get-register-agent-email-url.js
  packages/forms-web-app/src/pages/projects/register/agent/email/_utils/get-register-agent-email-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/email/_utils/get-register-myself-email-url.js
  packages/forms-web-app/src/pages/projects/register/myself/email/_utils/get-register-myself-email-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/email/_utils/get-register-organisation-email-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/email/_utils/get-register-organisation-email-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/views/register/common/are-you-18-over.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register number pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/_common/number/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/number/_utils/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/number/config.js
  packages/forms-web-app/src/pages/projects/register/_common/number/config.test.js
  packages/forms-web-app/src/pages/projects/register/_common/number/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/number/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/number/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/number/_utils/get-register-agent-number-url.js
  packages/forms-web-app/src/pages/projects/register/agent/number/_utils/get-register-agent-number-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/number/_utils/get-register-myself-number-url.js
  packages/forms-web-app/src/pages/projects/register/myself/number/_utils/get-register-myself-number-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/number/_utils/get-register-organisation-number-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/number/_utils/get-register-organisation-number-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/common.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(pre-application): update content
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/description.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: tidy up
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
Due: none

test(web/applications): update test
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(pre-application): update content
  packages/forms-web-app/src/pages/projects/index/_includes/stages/pre-application/description.njk
  packages/forms-web-app/src/pages/projects/index/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register declaration pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/_utils/get-redirect-url.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/_utils/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/config.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/config.test.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/declaration/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/declaration/_utils/get-register-agent-declaration-url.js
  packages/forms-web-app/src/pages/projects/register/agent/declaration/_utils/get-register-agent-declaration-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/declaration/_utils/get-register-myself-declaration-url.js
  packages/forms-web-app/src/pages/projects/register/myself/declaration/_utils/get-register-myself-declaration-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/declaration/_utils/get-register-organisation-declaration-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/declaration/_utils/get-register-organisation-declaration-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/views/register/common/declaration.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: remove registration-saved page and routes
  packages/forms-web-app/__tests__/unit/controllers/register/common/registration-saved/controller.component.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/src/controllers/register/common/registration-complete/controller.js
  packages/forms-web-app/src/controllers/register/common/registration-saved/controller.js
  packages/forms-web-app/src/controllers/register/common/registration-saved/viewModel.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/views/register/common/registration-saved.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: added tests and minor ac update for missing represented
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

feat: refactor register complete pages
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/register/common/registration-complete/controller.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/_utils/viewModel.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/config.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/config.test.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/controller.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/controller.test.js
  packages/forms-web-app/src/pages/projects/register/_common/complete/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/complete/_utils/get-register-agent-complete-url.js
  packages/forms-web-app/src/pages/projects/register/agent/complete/_utils/get-register-agent-complete-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/complete/_utils/get-register-myself-complete-url.js
  packages/forms-web-app/src/pages/projects/register/myself/complete/_utils/get-register-myself-complete-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/complete/_utils/get-register-organisation-complete-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/complete/_utils/get-register-organisation-complete-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/common.js
  packages/forms-web-app/src/routes/register/index.js
  packages/forms-web-app/src/views/register/common/registration-complete.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register myself about project page
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/_utils/get-register-myself-about-project-url.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/_utils/get-register-myself-about-project-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/config.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/config.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/view.njk
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/routes/register/myself/index.js
  packages/forms-web-app/src/routes/register/myself/tell-us-about-project.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: remove Prometheus package and metric route
  package-lock.json
  packages/common/README.md
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/prometheus.js
  packages/common/src/prometheus.spec.js
  packages/forms-web-app/src/app.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
