Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

ASB-296 Add pagination
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

ASB-297: Added handling for long comments
  init/wp_ipc_representations.sql
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/routes/projects/index.js
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

split type filters
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-297: Added pagination to frontend for representations
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

split type filters
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix linting
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-297: Updated unit test for representations controller. Added additional endpoint mapping for project search controller.
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/src/routes/projects/index.js
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add projectName from API
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-297: Corrected some test failures
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/__tests__/unit/routes/projects/index.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

add projectName from API
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-297 Frontend: Implement new registration comments page (#254)
  init/wp_ipc_representations.sql
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/__tests__/unit/routes/projects/index.test.js
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/routes/projects/index.js
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-301 Fix failing test
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
Due: none

ASB-304 Apply filters to DB query
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

fix lint
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

preserve checkboxes value
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-184: acceptance tests added for search functionality on project documents page
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Removed console.log used for debugging
  packages/applications-service-api/src/services/document.service.js
Due: none

add everythingelse type filter
  packages/applications-service-api/__tests__/unit/controllers/document-filter.test.js
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

applied review comments
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
Due: none

ASB-304 Fix failing tests
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
Due: none

ASB-305 Fix broken tests
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
Due: none

show everything checkbox when more than 5 filters
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

show everything checkbox when more than 5 filters
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-184: acceptance tests added for search functionality on project d… (#259)
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-310 Add endpoint GET /api/v1/representations/{id}
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/representations.js
  packages/applications-service-api/src/error/apiError.js
  packages/applications-service-api/src/routes/representations.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

Aligned test with new controller function name. Fixed formatting of getOrderedDocuments in document business service within API
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-326: Resolved unit tests in API for documents and removed unused code from documents controller in web app
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
  packages/applications-service-api/src/controllers/documents.js
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-326: Removed commented unused code
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
Due: none

ASB-326: Addressed issue where type query params were not being preserved in pagination links in project application documents section.
  packages/applications-service-api/src/services/document.service.js
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-326: Added handling for stage query param in pagination links in project application documents section
  packages/forms-web-app/src/controllers/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Pin version of pipeline templates
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Pin version of pipeline templates (#262)
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-326: Restrict Project Stage filtering (#255)
  docker-compose.yml
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
  packages/applications-service-api/package-lock.json
  packages/applications-service-api/package.json
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
  packages/common/package.json
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.test.js
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/routes/projects/documents.js
  packages/forms-web-app/src/server.js
  packages/forms-web-app/src/services/document.service.js
  packages/forms-web-app/src/utils/status.js
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

acceptance tests for ASB-185
  e2e-tests/cypress/integration/project-application-documents.feature
  e2e-tests/cypress/integration/project-application-documents/PageObjects/PO_ProjectAppDocs.js
  e2e-tests/cypress/integration/project-application-documents/project-application-documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-185: Resolved linting issue in unit test
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
Due: none

add search box for representation
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
  packages/forms-web-app/src/views/projects/representations.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix lint
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
