Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

fix: add secondary sort when sorting stage in get applications
  packages/applications-service-api/__tests__/__data__/application.js
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/__tests__/unit/services/application.ni.service.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/controllers/applications.v2.js
  packages/applications-service-api/src/controllers/interested-party.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/applications-service-api/src/utils/mapLocation.js
Due: none

feat: remove AnticipatedDateOfSubmission from project-information page
  packages/forms-web-app/src/pages/_fixtures/applications/get-applications-fixture.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.test.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-application/description.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update step by step navigation
  package-lock.json
  packages/forms-web-app/__tests__/unit/scripts/step-by-step.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/public/scripts/step-by-step-navigation.script.js
  packages/forms-web-app/src/public/scripts/stepByStep.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/app/app-step-nav.scss
  packages/forms-web-app/src/sass/components/ui/next-step.scss
  packages/forms-web-app/src/sass/components/ui/step-by-step-navigation/_step-by-step-navigation-related.scss
  packages/forms-web-app/src/sass/components/ui/step-by-step-navigation/_step-by-step-navigation.scss
  packages/forms-web-app/src/sass/components/ui/step-by-step-navigation/index.scss
  packages/forms-web-app/src/sass/components/ui/step-nav.scss
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/page/body.scss
  packages/forms-web-app/src/scripts/step-by-step-navigation.js
  packages/forms-web-app/src/scripts/step-by-step.js
  packages/forms-web-app/src/views/components/ui/next-step.njk
  packages/forms-web-app/src/views/components/ui/step-by-step-navigation.njk
  packages/forms-web-app/src/views/decision-making-process-guide/decision-making-process-guide.njk
  packages/forms-web-app/src/views/decision-making-process-guide/examination-of-the-application.njk
  packages/forms-web-app/src/views/decision-making-process-guide/pre-application.njk
  packages/forms-web-app/src/views/decision-making-process-guide/pre-examination.njk
  packages/forms-web-app/src/views/decision-making-process-guide/recommendation-and-decision.njk
  packages/forms-web-app/src/views/decision-making-process-guide/review-of-the-application.njk
  packages/forms-web-app/src/views/having-your-say-guide/get-involved-preliminary-meeting.njk
  packages/forms-web-app/src/views/having-your-say-guide/have-your-say-examination.njk
  packages/forms-web-app/src/views/having-your-say-guide/interested-party.njk
  packages/forms-web-app/src/views/having-your-say-guide/registering-have-your-say.njk
  packages/forms-web-app/src/views/having-your-say-guide/taking-part-pre-application.njk
  packages/forms-web-app/src/views/having-your-say-guide/what-happens-after-decision.njk
  packages/forms-web-app/src/views/includes/dco-step-by-step-navigation.njk
  packages/forms-web-app/src/views/includes/step-by-step-navigation.njk
  packages/forms-web-app/src/views/layouts/layout.njk
  packages/forms-web-app/webpack.config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(applications-service-api): remove getBackOfficeApplication from exports
  packages/applications-service-api/__tests__/unit/services/application.service.test.js
  packages/applications-service-api/src/services/application.service.js
Due: none

feat(applications-service-api): allow subscribing to project updates for ni application
  packages/applications-service-api/__tests__/__data__/application.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/integration/subscriptions.test.js
  packages/applications-service-api/__tests__/setup-jest.js
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/__tests__/unit/controllers/subscriptions.test.js
  packages/applications-service-api/__tests__/unit/services/application.service.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/__tests__/unit/utils/mapLocation.test.js
  packages/applications-service-api/src/controllers/subscriptions.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/application.mapper.js
  packages/applications-service-api/src/utils/mapLocation.js
Due: none

feat: add applicant name to project information page
  packages/forms-web-app/src/pages/projects/_utils/get-application-data.js
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.component.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/about.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update content pre-examination and examination content
  packages/forms-web-app/src/pages/projects/project-information/__snapshots__/controller.component.test.js.snap
  packages/forms-web-app/src/pages/projects/project-information/controller.unit.test.js
  packages/forms-web-app/src/pages/projects/project-information/includes/contact.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/_includes/email-request-text.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/examination/description.njk
  packages/forms-web-app/src/pages/projects/project-information/includes/stages/pre-examination/description.njk
  packages/forms-web-app/src/pages/projects/project-information/utils/get-page-data.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

docs: github PR template
  .github/pull_request_template.md
Due: none

fix: changed default sort to dateo of submission
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

merge common
  packages/common/README.md
  packages/common/src/__tests__/lib/prometheus.test.js
  packages/common/src/index.js
  packages/common/src/lib/prometheus.js
  packages/forms-web-app/src/app.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix(back-office-subscribers): nsip-project property updates and positive selection
  package-lock.json
  packages/applications-service-api/prisma/migrations/20230925171537_new_project_columns_and_regions_table/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/back-office-subscribers/README.md
  packages/back-office-subscribers/host.json
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/function.json
  packages/back-office-subscribers/nsip-project/index.js
  packages/back-office-subscribers/package.json
Due: none

feat: prisma nsip-project wip
  package-lock.json
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/function.json
  packages/back-office-subscribers/nsip-project/index.js
  packages/back-office-subscribers/package.json
  packages/common/prisma/schema.prisma
Due: pipelines/common/common-ci.yml

refactor: align plugin versions
  package-lock.json
  package.json
  packages/applications-service-api/package.json
  packages/back-office-subscribers/package.json
  packages/common/package.json
  packages/forms-web-app/package.json
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

wip
  azure-pipelines-build.yml
Due: none

fix: changed default sort to date of submission
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-register-of-applications-query-string.unit.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(back-office-subscribers): nsip-project property updates and positive selection
  package-lock.json
  packages/applications-service-api/package.json
  packages/applications-service-api/prisma/schema.prisma
  packages/back-office-subscribers/.gitignore
  packages/back-office-subscribers/README.md
  packages/back-office-subscribers/nsip-project/__tests__/index.test.js
  packages/back-office-subscribers/nsip-project/index.js
  packages/back-office-subscribers/package.json
Due: none

fix: applications CSV download link
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/api/_services/get-applications-csv.js
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.js
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.test.js
  packages/forms-web-app/src/api/_utils/get-url/index.js
  packages/forms-web-app/src/api/applications-download/config.js
  packages/forms-web-app/src/api/applications-download/controller.js
  packages/forms-web-app/src/api/applications-download/controller.test.js
  packages/forms-web-app/src/api/applications-download/router.js
  packages/forms-web-app/src/api/config.js
  packages/forms-web-app/src/api/router.js
  packages/forms-web-app/src/pages/_fixtures/applications/get-applications-fixture.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/services/applications.service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(applications-service-api): validate applications filter values
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/services/application.ni.service.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/repositories/project.ni.repository.js
  packages/applications-service-api/src/services/application.ni.service.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

fix(e2e): fixing e2e tests wip
  e2e-tests/cypress/downloads/downloads.html
  e2e-tests/cypress/e2e/decision-making-process-guide.feature
  e2e-tests/cypress/e2e/decision-making-process-guide/decision-making-process-guide.js
  e2e-tests/cypress/e2e/examination-of-the-application.feature
  e2e-tests/cypress/e2e/examination-of-the-application/examination-of-the-application.js
  e2e-tests/cypress/e2e/get-involved-in-preliminary-meeting/get-involved-in-preliminary-meeting.js
  e2e-tests/cypress/e2e/registration/who-are-you-registering-for/PageObjects/PO_WhoYouRegisterFor.js
  e2e-tests/cypress/support/common-methods/clickLinkTonavigateToPage.js
  init/wp_ipc_projects.sql
Due: none

chore: removed accidental file
  e2e-tests/cypress/downloads/downloads.html
Due: none

feat: set api applications download error message
  packages/forms-web-app/src/api/applications-download/controller.js
  packages/forms-web-app/src/api/applications-download/controller.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  55dabd07f81be47e4067f2f4f75546f85d5e6c44
Due: none

fix: fixing more e2e tests wip
  e2e-tests/cypress/e2e/pre-application/pre-application.js
  e2e-tests/cypress/e2e/pre-examination/pre-examination.js
  e2e-tests/cypress/e2e/project-application-documents.feature
  e2e-tests/cypress/support/common-methods/clickLinkTonavigateToPage.js
  packages/forms-web-app/src/nunjucks-configure.js
  packages/forms-web-app/src/views/includes/step-by-step-navigation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: fixing more e2e tests wip
  e2e-tests/cypress/e2e/pre-application.feature
  e2e-tests/cypress/e2e/pre-examination.feature
  e2e-tests/cypress/e2e/recommendation-and-decision.feature
  e2e-tests/cypress/e2e/recommendation-and-decision/recommendation-and-decision.js
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project.feature
  e2e-tests/cypress/e2e/register-to-say-about-national-infra-project/register-to-say-about-national-infra-project.js
  e2e-tests/cypress/e2e/review-of-the-application.feature
  e2e-tests/cypress/e2e/review-of-the-application/review-of-the-application.js
  e2e-tests/cypress/e2e/say-about-national-infra-project.feature
  e2e-tests/cypress/e2e/say-about-national-infra-project/say-about-national-infra-project.js
  e2e-tests/cypress/e2e/say-at-pre-application-stage/say-at-pre-application-stage.js
  e2e-tests/cypress/e2e/say-during-examination-of-project/say-during-examination-of-project.js
  e2e-tests/cypress/e2e/start-page/start-page.js
  e2e-tests/cypress/e2e/what-after-decision-made/what-after-decision-made.js
Due: none

fix(examination/select-file): correct text content
  packages/forms-web-app/src/pages/examination/select-file/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: scope applications download URL to folder
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.js
  packages/forms-web-app/src/api/_utils/get-url/applications-download/index.test.js
  packages/forms-web-app/src/api/_utils/get-url/index.js
  packages/forms-web-app/src/api/applications-download/config.js
  packages/forms-web-app/src/api/applications-download/config.test.js
  packages/forms-web-app/src/pages/project-search/controller.test.js
  packages/forms-web-app/src/pages/project-search/utils/get-page-data.js
  packages/forms-web-app/src/pages/project-search/view.njk
  packages/forms-web-app/src/pages/register-of-applications/controller.test.js
  packages/forms-web-app/src/pages/register-of-applications/utils/get-page-data.js
  packages/forms-web-app/src/pages/register-of-applications/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: fixing more e2e tests wip
  e2e-tests/cypress/e2e/registration-comments/PageObjects/PO_RegComments.js
  e2e-tests/cypress/e2e/registration/who-are-you-registering-for.feature
Due: none

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
