Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

chore: remove Prometheus package and metric route
  package-lock.json
  packages/common/README.md
  packages/common/package.json
  packages/common/src/index.js
  packages/common/src/prometheus.js
  packages/common/src/prometheus.spec.js
  packages/forms-web-app/src/app.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

test: added file for project info test
  packages/e2e_tests/cypress/e2e/project-information.cy.js
Due: none

feat: added better represented filters
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
Due: none

refactor(web/applications): register organisation name page
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/_utils/get-register-organisation-org-name-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/_utils/get-register-organisation-org-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/config.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/view.njk
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/organisation/index.js
  packages/forms-web-app/src/routes/register/organisation/name-of-organisation-or-charity.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web/applications): pr comments
  packages/forms-web-app/src/pages/projects/register/organisation/organisation-name/_utils/get-register-organisation-org-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register check answers pages
  packages/forms-web-app/__tests__/unit/controllers/register/agent/check-answers.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/myself/check-your-answers.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/check-your-answers.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/register/agent/check-answers.js
  packages/forms-web-app/src/controllers/register/myself/check-your-answers.js
  packages/forms-web-app/src/controllers/register/organisation/check-answers.js
  packages/forms-web-app/src/pages/projects/register/_common/check-answers/config.js
  packages/forms-web-app/src/pages/projects/register/_common/check-answers/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representee-details.njk
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_includes/representor-details.njk
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_utils/get-register-agent-check-answers-url.js
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/_utils/get-register-agent-check-answers-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/check-answers/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/_utils/get-register-myself-check-answers-url.js
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/_utils/get-register-myself-check-answers-url.test.js
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/controller.js
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/controller.test.js
  packages/forms-web-app/src/pages/projects/register/myself/check-answers/view.njk
  packages/forms-web-app/src/pages/projects/register/myself/router.js
  packages/forms-web-app/src/pages/projects/register/myself/router.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/check-answers/_utils/get-register-organisation-check-answers-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/check-answers/_utils/get-register-organisation-check-answers-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/check-answers/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/check-answers/controller.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/check-answers/view.njk
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/agent/check-answers.js
  packages/forms-web-app/src/routes/register/agent/index.js
  packages/forms-web-app/src/routes/register/index.js
  packages/forms-web-app/src/routes/register/myself/check-your-answers.js
  packages/forms-web-app/src/routes/register/myself/index.js
  packages/forms-web-app/src/routes/register/organisation/check-answers.js
  packages/forms-web-app/src/routes/register/organisation/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: get all representations with pagination and filters for bo integration
  packages/applications-service-api/__tests__/integration/representations.test.js
  packages/applications-service-api/__tests__/unit/controllers/representations.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/representation.ni.repository.test.js
  packages/applications-service-api/__tests__/unit/repositories/serviceUser.backoffice.repository.test.js
  packages/applications-service-api/__tests__/unit/services/representation.service.test.js
  packages/applications-service-api/__tests__/unit/utils/representation.mapper.test.js
  packages/applications-service-api/prisma/migrations/20231218145543_representation_serviceusers_relation/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/src/repositories/representation.backoffice.repository.js
  packages/applications-service-api/src/repositories/representation.ni.repository.js
  packages/applications-service-api/src/repositories/serviceUser.backoffice.repository.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/utils/representation.mapper.js
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation/index.js
Due: none

style(web/applications): add class to projects link
  packages/forms-web-app/src/pages/index/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: added applicantId to project table
  packages/applications-service-api/prisma/migrations/20240105120607_add_and_link_applicantid/migration.sql
  packages/applications-service-api/prisma/schema.prisma
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/prisma/utils.js
Due: none

feat: refactor register about project pages
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/tell-us-about-project.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/_common/about-project/config.js
  packages/forms-web-app/src/pages/projects/register/_common/about-project/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/_utils/get-register-agent-about-project-url.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/_utils/get-register-agent-about-project-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/about-project/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/_utils/get-register-myself-about-project-url.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/config.js
  packages/forms-web-app/src/pages/projects/register/myself/about-project/config.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/_utils/get-register-organisation-about-project-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/_utils/get-register-organisation-about-project-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/controller.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/about-project/view.njk
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/agent/index.js
  packages/forms-web-app/src/routes/register/agent/tell-us-about-project.js
  packages/forms-web-app/src/routes/register/organisation/index.js
  packages/forms-web-app/src/routes/register/organisation/tell-us-about-project.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register organisation job title page
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/name-of-organisation-or-charity.js
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/what-job-title-or-role.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/register/organisation/what-job-title-or-role.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/_utils/get-register-organisation-job-title-url.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/_utils/get-register-organisation-job-title-url.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/config.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/config.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/controller.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/controller.test.js
  packages/forms-web-app/src/pages/projects/register/organisation/job-title/view.njk
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
  packages/forms-web-app/src/routes/register/index.js
  packages/forms-web-app/src/routes/register/middleware.unit.test.js
  packages/forms-web-app/src/routes/register/organisation/index.js
  packages/forms-web-app/src/routes/register/organisation/what-job-title-or-role.js
  packages/forms-web-app/src/views/register/agent/are-they-18-over.njk
  packages/forms-web-app/src/views/register/myself/full-name.njk
  packages/forms-web-app/src/views/register/organisation/full-name.njk
  packages/forms-web-app/src/views/register/organisation/what-job-title-or-role.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: update validation naming for org name
  packages/forms-web-app/src/pages/projects/register/organisation/router.js
  packages/forms-web-app/src/pages/projects/register/organisation/router.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: added applicant details to get application endpoint
  packages/applications-service-api/prisma/seed.js
  packages/applications-service-api/prisma/utils.js
  packages/applications-service-api/src/controllers/applications.v2.js
  packages/applications-service-api/src/repositories/project.repository.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

style(web/applications): add class to projects link (#965)
  packages/forms-web-app/src/pages/index/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: applicant details endpoint with user details
  packages/applications-service-api/__tests__/__data__/application.js
  packages/applications-service-api/__tests__/integration/applications.test.js
  packages/applications-service-api/__tests__/unit/controllers/applications.v2.test.js
  packages/applications-service-api/__tests__/unit/repositories/project.repository.test.js
  packages/applications-service-api/__tests__/unit/utils/application.mapper.test.js
  packages/applications-service-api/src/utils/application.mapper.js
Due: none

refactor(web/applications): refactor agent organisation name page
  packages/forms-web-app/__tests__/unit/controllers/register/agent/name-of-organisation.test.js
  packages/forms-web-app/__tests__/unit/controllers/register/organisation/name-of-organisation-or-charity.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-register-agent-organisation-name-url.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-register-agent-organisation-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web/applications): register agent organisation name page
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/routes/register/agent/index.js
  packages/forms-web-app/src/routes/register/agent/name-of-organisation.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: only create or connect service user if id exists in message
  packages/back-office-subscribers/nsip-representation/__tests__/index.test.js
  packages/back-office-subscribers/nsip-representation/index.js
Due: none

refactor(web/applications): register agent organisation name page
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(web/applications): refactor agent organisation name page
  packages/forms-web-app/__tests__/unit/controllers/register/agent/name-of-organisation.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-register-agent-organisation-name-url.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/_utils/get-register-agent-organisation-name-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/organisation-name/view.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: refactor register agent representing for page
  packages/forms-web-app/__tests__/unit/controllers/register/agent/who-representing.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_utils/get-register-agent-representing-who-url.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/_utils/get-register-agent-representing-who-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/config.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/representing-who/view.njk
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/routes/register/agent/index.js
  packages/forms-web-app/src/routes/register/agent/who-representing.js
  packages/forms-web-app/src/views/register/agent/who-representing.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  ac46c17d7929f50bbc287c26ffef6af4c9042aac
Due: none

fix: added check for null value in get documents for rep endpoint
  packages/applications-service-api/src/repositories/document.backoffice.repository.js
  packages/applications-service-api/src/repositories/document.ni.repository.js
Due: none

Notes added by 'git notes add'
  5d31ef3697ca88f64e8113ded700f91214524b31
Due: none

refactor(web/applications): refactor register agent their postal address page
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/pages/projects/register/agent/router.js
  packages/forms-web-app/src/pages/projects/register/agent/router.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/_utils/get-register-agent-their-address-url.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/_utils/get-register-agent-their-address-url.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/config.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/config.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/controller.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/controller.test.js
  packages/forms-web-app/src/pages/projects/register/agent/their-address/view.njk
  packages/forms-web-app/src/routes/register/agent/index.js
  packages/forms-web-app/src/routes/register/agent/their-postal-address.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml
