Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

chore: merge fix
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/controller.component.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: documents page: filter documents by date
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/controller.component.test.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

test: fixed broken tests
  packages/e2e_tests/cypress/e2e/features/DocumentPage/1_Documents_page_filtered_results.feature
  packages/e2e_tests/cypress/e2e/features/DocumentPage/2_Document_page_filter_by_date.feature
  packages/e2e_tests/cypress/e2e/step_definitions/CommonStepDefinitions/commonSteps.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_03_select-all- document-type-filters-in-1-project-stage.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_04_select-1-document-type-filter-for-all-available-projects.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_05_Select-all-filters-for-all-available-projects.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_13_User-completes-both-publish-box.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_01_exam-table-as-myself_fileUpload.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_02_exam-table-as-a-agent_fileUpload.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_03_exam-table-as-an-organisation_fileUpload.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_04_exam-table-as-myself_comment&fileUplaod.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_05_exam-table-as-a-agent_comment&fileUpload.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_06_exam-table-as-an-organisation_comment&fileUpload.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_07_exam-table-as-myself_drag&drop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_08_exam-table-as-a-agent_drag&drop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_09_exam-table-as-an-organisation_drag&drop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_10_exam-table-as-an-myself_comment&dragDrop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_11_exam-table-as-an-agent_comment&dragDrop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_12_exam-table-as-an-organisation_comment&dragDrop.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_08-User-reports-an-abuse.cy.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
  packages/e2e_tests/cypress/pageObject/Examination-TimeTable/PO_ExaminationTimetable.js
  packages/e2e_tests/cypress/pageObject/Register-to-have-your-say/PO_HaveYourSay.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/support/commands.js
Due: none

test: added filter by date tests
  packages/e2e_tests/cypress/e2e/features/DocumentPage/1_Documents_page_filtered_results.feature
  packages/e2e_tests/cypress/e2e/features/DocumentPage/2_Document_page_filter_by_date.feature
  packages/e2e_tests/cypress/e2e/features/ExamtimeTablePage/1_Examination_timetable_fileUpload.feature
  packages/e2e_tests/cypress/e2e/features/RegistrationPage/4_User_report_abuse.feature
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_01_select-1- document-type-filters-in-1-project-stage.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_02_select-2- document-type-filters-in-1-project-stage.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_03_select-all- document-type-filters-in-1-project-stage.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_04_select-1-document-type-filter-for-all-available-projects.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_05_Select-all-filters-for-all-available-projects.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_06_verify-dates-are-displayed-in-descending-order.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_14_User-enters-To-date-earlier-than-the-from-date.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_15_User-enters-text-into-the-from-publish-box.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_16_User-enters-text-into-the-to-publish-box.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_17_FiterByDate-user-enters-to-month&day-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_18_FiterByDate-user-enters-from-month&day-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Examination-timeTable/TC_13_exam-table-unsupported-file-is-uploaded.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_08-User-reports-an-abuse.cy.js
  packages/e2e_tests/cypress/fixtures/Testing.txt
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
Due: none

test: add some document date filter tests
  packages/e2e_tests/cypress.config.js
  packages/e2e_tests/cypress/e2e/features/DocumentPage/2_Document_page_filter_by_date.feature
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_05_Select-all-filters-for-all-available-projects.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_07_FilterByDate-user-enters-from-date-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_08_FilterByDate-user-enters-to-date-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_09_FilterByDate-user-enters-from-month&year-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_10_FiterByDate-user-enters-to-month&year-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_11_FilterByDay-user-enters-from-day&year-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Documents-page/TC_12_FilterByDay-user-enters-to-day&year-only.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_01-myself-over-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_02-myself-under-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_03-organistation-over-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_04-organistation-under-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_05-agent-over-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_06-agent-under-18.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_07-User-completes-a-survey-form.cy.js
  packages/e2e_tests/cypress/e2e/step_definitions/Register-to-have-your-say/TC_08-User-reports-an-abuse.cy.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_DateFilter.js
  packages/e2e_tests/cypress/pageObject/Documents/PO_Documents.js
  packages/e2e_tests/cypress/pageObject/basePage.js
  packages/e2e_tests/cypress/support/commands.js
  packages/e2e_tests/cypress/support/customCommands/yesNoCheckBox.js
Due: none

feat: documents page: filters mobile view
  package-lock.json
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/controller.component.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/documents/get-examination-library-document-html.test.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/controllers/projects/documents/utils/documents/get-examination-library-document-html.js
  packages/forms-web-app/src/public/scripts/checkbox-accordion.script.js
  packages/forms-web-app/src/public/scripts/modal.script.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/components/layout/slots.scss
  packages/forms-web-app/src/sass/components/ui/checkbox-accordion.scss
  packages/forms-web-app/src/sass/components/ui/search-bar.scss
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/scripts/checkbox-accordion/accordion/utils/builders.js
  packages/forms-web-app/src/scripts/checkbox-accordion/accordion/utils/config.js
  packages/forms-web-app/src/scripts/checkbox-accordion/accordion/utils/getters.js
  packages/forms-web-app/src/scripts/modal/add-event-listeners.js
  packages/forms-web-app/src/scripts/modal/builders.js
  packages/forms-web-app/src/scripts/modal/config.js
  packages/forms-web-app/src/scripts/modal/getters.js
  packages/forms-web-app/src/scripts/modal/handle-modal-on-resize.js
  packages/forms-web-app/src/scripts/modal/helpers.js
  packages/forms-web-app/src/scripts/modal/index.js
  packages/forms-web-app/src/scripts/modal/initiate.js
  packages/forms-web-app/src/scripts/modal/setters.js
  packages/forms-web-app/src/scripts/modal/state.js
  packages/forms-web-app/src/views/components/layout/slots.njk
  packages/forms-web-app/src/views/components/ui/checkbox-accordion.njk
  packages/forms-web-app/src/views/components/ui/search-bar.njk
  packages/forms-web-app/src/views/projects/documents.njk
  packages/forms-web-app/webpack.config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: further copy changes
  packages/forms-web-app/src/views/decision-making-process-guide/examination-of-the-application.njk
  packages/forms-web-app/src/views/decision-making-process-guide/pre-application.njk
  packages/forms-web-app/src/views/decision-making-process-guide/pre-examination.njk
  packages/forms-web-app/src/views/includes/dco-step-by-step-navigation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: update e2e tests
  e2e-tests/cypress/e2e/decision-making-process-guide.feature
  e2e-tests/cypress/support/common-methods/assertUserOnThePage.js
  packages/forms-web-app/src/views/decision-making-process-guide/pre-application.njk
  packages/forms-web-app/src/views/decision-making-process-guide/pre-examination.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

chore: update e2e tests
  e2e-tests/cypress/e2e/examination-of-the-application.feature
  e2e-tests/cypress/e2e/pre-application.feature
Due: none

chore: update e2e tests
  e2e-tests/cypress/e2e/pre-examination.feature
  e2e-tests/cypress/e2e/recommendation-and-decision.feature
  e2e-tests/cypress/e2e/review-of-the-application.feature
Due: none

chore: update e2e tests
  e2e-tests/cypress/e2e/what-happens-after-the-decision-is-made.feature
  e2e-tests/cypress/e2e/what-happens-after-the-decision-is-made/what-happens-after-the-decision-is-made.js
Due: none

test: config file amended
  packages/e2e_tests/cypress.config.js
Due: none

feat(back-office-subscribers): build pipeline
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  package-lock.json
  packages/back-office-subscribers/.gitignore
  packages/back-office-subscribers/package-lock.json
  packages/back-office-subscribers/package.json
Due: none

refactor: remove unused healthcheck module
  packages/applications-service-api/src/server.js
  packages/common/jest.config.js
  packages/common/src/health.js
  packages/common/src/health.spec.js
  packages/common/src/index.js
  packages/common/src/index.spec.js
  packages/forms-web-app/__tests__/unit/lib/healthchecks.test.js
  packages/forms-web-app/src/lib/healthchecks.js
  packages/forms-web-app/src/server.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

feat: add size param for items per page
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.v3.js
  packages/applications-service-api/src/services/document.v3.service.js
Due: none

feat: pagination test
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
Due: none

feat: add tests
  packages/applications-service-api/__tests__/unit/controllers/documents.v3.test.js
  packages/applications-service-api/__tests__/unit/services/document.v3.service.test.js
Due: none

test: resolve conflict
  packages/e2e_tests/cypress.config.js
Due: none

feat: set font-family property value to arial
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/pins-customised-govuk-frontend/font-family.scss
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add aria-label to project pages nav
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: correction to content for have your say guide
  packages/forms-web-app/src/views/having-your-say-guide/interested-party.njk
  packages/forms-web-app/src/views/includes/step-by-step-navigation.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(documents per page): add document per page functionality
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/controller.component.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/documents/body/getBody.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents/utils/pagination/documentsPerPage.test.js
  packages/forms-web-app/src/controllers/projects/documents/controller.js
  packages/forms-web-app/src/controllers/projects/documents/utils/common/buildQuerySring.js
  packages/forms-web-app/src/controllers/projects/documents/utils/documents/body/getBody.js
  packages/forms-web-app/src/controllers/projects/documents/utils/pagination/documentsPerPage.js
  packages/forms-web-app/src/views/components/ui/results-per-page.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: allow open-api UI to be used on Envs
  packages/applications-service-api/api/openapi.yaml
Due: none

feat: pagination
  packages/applications-service-api/__tests__/unit/controllers/advice.test.js
  packages/applications-service-api/__tests__/unit/services/advice.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/advice.js
  packages/applications-service-api/src/services/advice.service.js
Due: none
