Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
      validateName: Build and Push
      validationSteps:
  ...

pipelines/forms-web-app/forms-web-app-ci.yml:
  pool:
    vmImage: ubuntu-latest
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      azurecrName: $(azurecrName)
      authType: acr
      globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
  ...

feat: add redis session store
  packages/forms-web-app/package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat: add redis session store
  docker-compose.yml
Due: none

ASB-232 Add endpoint api/v1/banners/:tag
  init/wp_posts.sql
  init/wp_term_relationships.sql
  init/wp_terms.sql
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/posts.js
  packages/applications-service-api/src/error/apiError.js
  packages/applications-service-api/src/models/post.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/posts.js
  packages/applications-service-api/src/services/post.service.js
Due: none

fix lint issues
  packages/forms-web-app/src/app.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

externalize redis url
  docker-compose.yml
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

externalize redis url
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

externalize redis url
  docker-compose.yml
  packages/forms-web-app/src/config.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-266 API: Remove stage filter from documents endpoint ASB-271 API: Add sorting by publication date
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
Due: none

ASB-266 remove grouping by type
  packages/applications-service-api/src/controllers/documents.js
Due: none

ASB-266 Restore endpoint /api/v1/documents/{caseRef}
  packages/applications-service-api/src/controllers/documents.js
Due: none

ASb-271 Add endpoint /api/v2/documents?caseRef=TR040009
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/routes/documents.js
  packages/applications-service-api/src/routes/index.js
Due: none

ASB-271 Remove hardcoded parameter value
  packages/applications-service-api/api/openapi.yaml
Due: none

change layout and styling
  packages/forms-web-app/src/public/stylesheets/unbranded.css
  packages/forms-web-app/src/sass/main.scss
  packages/forms-web-app/src/sass/pagination.scss
  packages/forms-web-app/src/views/examination/about-the-application.njk
  packages/forms-web-app/src/views/examination/all-examination-documents.njk
  packages/forms-web-app/src/views/examination/examination.njk
  packages/forms-web-app/src/views/examination/project-timeline.njk
  packages/forms-web-app/src/views/examination/recommendations.njk
  packages/forms-web-app/src/views/examination/representations.njk
  packages/forms-web-app/src/views/examination/timetable.njk
  packages/forms-web-app/src/views/layouts/layout.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

change layout and styling
  packages/forms-web-app/src/views/layouts/layout.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

change layout and styling
  packages/forms-web-app/src/views/examination/about-the-application copy.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASb-271 Convert v2 endpoint to get, add new service method
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/routes/documents.js
  packages/applications-service-api/src/services/document.service.js
Due: none

Attempting fix so that both CI builds (for each respective app) are triggered for PRs in order to have GitHub merge checks satisfied
  pipelines/applications-service-api/applications-service-api-ci.yml
  pipelines/forms-web-app/forms-web-app-ci.yml
Due: none

Trying out different config based on paths instead of branch
  pipelines/applications-service-api/applications-service-api-ci.yml
  pipelines/forms-web-app/forms-web-app-ci.yml
Due: none

ASB-271 Add tests
  packages/applications-service-api/__tests__/unit/controllers/documents.test.js
Due: none

style and layout changes
  packages/forms-web-app/src/public/stylesheets/unbranded.css
  packages/forms-web-app/src/views/examination/about-the-application.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270 Got fundamentals in place for new style presentation of documents
  packages/forms-web-app/__tests__/unit/lib/file-type-display-helper.test.js
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/controllers/examination/about-the-application-2.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/lib/file-type-display-helper.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/public/stylesheets/unbranded.css
  packages/forms-web-app/src/routes/examination/about-the-application.js
  packages/forms-web-app/src/services/document.service.js
  packages/forms-web-app/src/views/examination/about-the-application-2.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-267 Rename examination to projects, rename about-the-application to documents
  packages/forms-web-app/__tests__/unit/controllers/projects/all-examination-documents.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/documents.js
  packages/forms-web-app/__tests__/unit/controllers/projects/examination.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/project-timeline.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/recommendations.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/representations.test.js
  packages/forms-web-app/__tests__/unit/controllers/projects/timetable.test.js
  packages/forms-web-app/__tests__/unit/lib/views.test.js
  packages/forms-web-app/__tests__/unit/routes/index.test.js
  packages/forms-web-app/src/controllers/projects/all-examination-documents.js
  packages/forms-web-app/src/controllers/projects/documents.js
  packages/forms-web-app/src/controllers/projects/examination.js
  packages/forms-web-app/src/controllers/projects/project-timeline.js
  packages/forms-web-app/src/controllers/projects/recommendations.js
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/controllers/projects/timetable.js
  packages/forms-web-app/src/lib/views.js
  packages/forms-web-app/src/routes/examination/about-the-application.js
  packages/forms-web-app/src/routes/examination/index.js
  packages/forms-web-app/src/routes/index.js
  packages/forms-web-app/src/routes/projects/documents.js
  packages/forms-web-app/src/routes/projects/index.js
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
  packages/forms-web-app/src/views/project-search.njk
  packages/forms-web-app/src/views/projects/all-examination-documents.njk
  packages/forms-web-app/src/views/projects/documents.njk
  packages/forms-web-app/src/views/projects/examination.njk
  packages/forms-web-app/src/views/projects/project-timeline.njk
  packages/forms-web-app/src/views/projects/recommendations.njk
  packages/forms-web-app/src/views/projects/representations.njk
  packages/forms-web-app/src/views/projects/timetable.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-267 Rename examination to projects, rename about-the-application to documents
  packages/forms-web-app/__tests__/unit/routes/projects/documents.tests.js
  packages/forms-web-app/__tests__/unit/routes/projects/index.test.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-269 Introduced project specific layouts with 2 and 3 column variants, ready to house the new documents design
  packages/forms-web-app/src/public/stylesheets/unbranded.css
  packages/forms-web-app/src/views/examination/about-the-application.njk
  packages/forms-web-app/src/views/examination/all-examination-documents.njk
  packages/forms-web-app/src/views/examination/examination.njk
  packages/forms-web-app/src/views/examination/project-timeline.njk
  packages/forms-web-app/src/views/examination/recommendations.njk
  packages/forms-web-app/src/views/examination/representations.njk
  packages/forms-web-app/src/views/examination/timetable.njk
  packages/forms-web-app/src/views/layouts/project-2-columns.njk
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/layouts/project.njk
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Remove unused build pipelines and update Dockerfiles
  .gitignore
  azure-pipelines-variables.yml
  packages/applications-service-api/Dockerfile
  packages/applications-service-api/azure-applications-service-api-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/applications-service-api/pipelines/azure-pipelines-release.yml
  packages/applications-service-api/pipelines/azure-pipelines-variables.yml
  packages/common/Dockerfile
  packages/common/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-variables.yml
  packages/forms-web-app/Dockerfile
  packages/forms-web-app/azure-forms-web-app-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-release.yml
  packages/forms-web-app/pipelines/azure-pipelines-variables.yml
  pipelines/applications-service-api/Dockerfile
  pipelines/common/variables.yml
  pipelines/forms-web-app/Dockerfile
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270: Integrated new document list style with new layout from the main branch
  packages/forms-web-app/__tests__/unit/controllers/examination/about-the-application.test.js
  packages/forms-web-app/__tests__/unit/routes/examination/about-the-application.tests.js
  packages/forms-web-app/src/controllers/examination/about-the-application.js
  packages/forms-web-app/src/controllers/examination/about-the-application.old.js
  packages/forms-web-app/src/routes/examination/about-the-application.js
  packages/forms-web-app/src/views/examination/about-the-application-2.njk
  packages/forms-web-app/src/views/examination/about-the-application.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Implement search box and search submission
  packages/forms-web-app/src/routes/projects/documents.js
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270: Fixed some lint issues
  packages/forms-web-app/src/app.js
  packages/forms-web-app/src/controllers/examination/about-the-application.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ASB-270: Fixed failing tests
  packages/forms-web-app/__tests__/unit/controllers/examination/about-the-application.test.js
  packages/forms-web-app/src/lib/views.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Implement search box and search submission
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Removed routes to controller methods which have been deleted
  packages/forms-web-app/src/routes/projects/documents.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

ABS-273 Amend endpoint /api/v2/documents?caseRef=&page=&searchTerm= to accept search term
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/documents.js
  packages/applications-service-api/src/services/document.service.js
Due: none

Remove comma from build name
  packages/applications-service-api/pipelines/azure-pipelines-build.yml
  packages/common/pipelines/azure-pipelines-build.yml
  packages/forms-web-app/pipelines/azure-pipelines-build.yml
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

fix layout
  packages/forms-web-app/src/views/layouts/project-3-columns.njk
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix layout
  packages/forms-web-app/src/views/projects/documents.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Fix eslint
  .gitignore
  packages/applications-service-api/Dockerfile
  packages/forms-web-app/Dockerfile
Due: pipelines/forms-web-app/forms-web-app-ci.yml

Add prettier files to test image
  packages/applications-service-api/Dockerfile
  packages/common/Dockerfile
  packages/forms-web-app/Dockerfile
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Install devDependencies in build image
  packages/common/Dockerfile
Due: pipelines/common/common-ci.yml

Path conditions:
  pipelines/common/common-ci.yml: any of: packages/common
  pipelines/forms-web-app/forms-web-app-ci.yml: any of: packages/forms-web-app
