Repository Planning-Inspectorate/applications-service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

pipelines/common/common-ci.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - packages/common

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates
      ref: feature/terraform-rename-azure-cli-step

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    globalVariables:
      - template: pipelines/common/variables.yml@self
      - template: pipelines/variables.yml@self
    validateName: Build and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - task: AzureCLI@2
        displayName: Build and Push Docker Image to ACR
        inputs:
          azureSubscription: $(azureServiceConnection)
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            az acr login --name $(azureContainerRegistryName)

            docker build . -t $(azureContainerRegistryName).azurecr.io/$(repository):latest

            docker push -a $(azureContainerRegistryName).azurecr.io/$(repository)
          workingDirectory: $(Build.Repository.LocalPath)/packages/common

pipelines/forms-web-app/forms-web-app-ci.yml:

trigger:
  paths:
    include:
      - packages/forms-web-app

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Applications Token
      name: Planning-Inspectorate/common-pipeline-templates

pool:
  vmImage: ubuntu-latest

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    azurecrName: $(azurecrName)
    authType: acr
    globalVariables:
      - template: pipelines/forms-web-app/variables.yml@self
      - template: pipelines/variables.yml@self
    projectName: $(projectName)
    validateName: Build Test and Push
    validationSteps:
      - script: |
          buildName=$(versionNumber)_$(Build.BuildId)
          echo "Setting the name of the build to '$buildName'."
          echo "##vso[build.updatebuildnumber]$buildName"
        displayName: Set Build Number
      - template: steps/azure_web_app_acr_push.yml@templates
        parameters:
          azurecrName: $(azurecrName)
          dockerfilePath: $(Build.Repository.LocalPath)/pipelines/forms-web-app/Dockerfile
          repository: $(repository)
          versionNumber: $(versionNumber)
          workingDirectory: $(Build.Repository.LocalPath)/packages/forms-web-app

fix(representations.js): asyncRoute handlers and 404 checks
  packages/forms-web-app/src/controllers/projects/representations.js
  packages/forms-web-app/src/routes/projects/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: change let to const
  packages/forms-web-app/src/controllers/projects/representations.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(relevant rep - have your say guide link): relevant Rep - Have your say guide link
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: relevant rep - have your say guide not found
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: remove unnecessary async keyword from synchronous functions
  packages/applications-service-api/__tests__/unit/lib/crypto.test.js
  packages/applications-service-api/__tests__/unit/middleware/validator/submission.test.js
  packages/applications-service-api/src/main.js
  packages/applications-service-api/src/services/ni.file.service.js
  packages/applications-service-api/src/services/representation.service.js
  packages/applications-service-api/src/services/timetable.service.js
  packages/common/src/health.spec.js
  packages/common/src/utils.spec.js
  packages/forms-web-app/__tests__/unit/controllers/register/type-of-party.test.js
  packages/forms-web-app/__tests__/unit/scripts/sanitise-form.test.js
  packages/forms-web-app/__tests__/unit/utils/async-route.test.js
  packages/forms-web-app/src/controllers/examination/email.js
  packages/forms-web-app/src/controllers/examination/enter-comment/controller.js
  packages/forms-web-app/src/controllers/examination/evidence-or-comment/controller.js
  packages/forms-web-app/src/controllers/examination/have-your-say.js
  packages/forms-web-app/src/controllers/examination/name.js
  packages/forms-web-app/src/controllers/projects/all-examination-documents.js
  packages/forms-web-app/src/controllers/projects/project-timeline.js
  packages/forms-web-app/src/controllers/projects/recommendations.js
  packages/forms-web-app/src/lib/application-api-wrapper.js
  packages/forms-web-app/src/services/document.service.js
  packages/forms-web-app/src/services/representation.service.js
  packages/forms-web-app/src/services/timetable.service.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor(server.js): move forms-web-app server.js to common and use in applications-service-api too
  docker-compose.yml
  package-lock.json
  packages/applications-service-api/jest.config.js
  packages/applications-service-api/package.json
  packages/applications-service-api/src/server.js
  packages/common/src/index.js
  packages/common/src/server.js
  packages/forms-web-app/jest.config.js
  packages/forms-web-app/package.json
  packages/forms-web-app/src/main.js
  packages/forms-web-app/src/server.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

refactor: use asyncRoute wrapper function on routes which require async error handling
  packages/applications-service-api/src/main.js
  packages/applications-service-api/src/server.js
  packages/forms-web-app/src/routes/project-search.js
  packages/forms-web-app/src/routes/projects/index.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor: introduce eslint rule to disallow labelling a function async that doesn't contain an await
  .eslintrc.js
Due: none

refactor: rename 'hideProjectTimelineLink' feature flag
  packages/forms-web-app/__tests__/unit/routes/projects/index.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/routes/projects/index.js
  packages/forms-web-app/src/views/layouts/vertical-tabs.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

refactor(common): move common tests in own directory
  packages/common/src/__tests__/__mocks__/config.js
  packages/common/src/__tests__/functional.spec.js
  packages/common/src/__tests__/health.spec.js
  packages/common/src/__tests__/prometheus.spec.js
  packages/common/src/__tests__/utils.spec.js
  packages/common/src/index.spec.js
Due: pipelines/common/common-ci.yml

chore: update test:cov exceptions
  packages/applications-service-api/jest.config.js
  packages/common/jest.config.js
  packages/forms-web-app/jest.config.js
Due: pipelines/common/common-ci.yml, pipelines/forms-web-app/forms-web-app-ci.yml

Notes added by 'git notes add'
  1bd8a7a5fe0e62eed525bc9fdc5c16a0130fa2f5
Due: none

fix(add another deadline item): change link set the selected deadline to the active item
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/controller.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.test.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/controller.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.js
  packages/forms-web-app/src/routes/config.js
  packages/forms-web-app/src/routes/examination/index.js
  packages/forms-web-app/src/views/pages/examination/add-another-deadline-item.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(you have not added a deadline item): show different page if no deadline items submitted
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/get-page-data.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.test.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/get-page-data.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.js
  packages/forms-web-app/src/views/pages/examination/add-another-deadline-item.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: asb-905: Add complete flag for submission items
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/filter-submission-items.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/check-submission-item/controller.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/session/deadlineItems-session.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/session/submission-items-session.test.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/filter-submission-items.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.js
  packages/forms-web-app/src/controllers/examination/check-submission-item/controller.js
  packages/forms-web-app/src/controllers/examination/session/deadlineItems-session.js
  packages/forms-web-app/src/controllers/examination/session/submission-items-session.js
  packages/forms-web-app/src/routes/examination/index.js
  packages/forms-web-app/src/views/pages/examination/add-another-deadline-item.njk
  packages/forms-web-app/src/views/pages/examination/check-submission-item.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: replace submissionItems length with filterdSubmissionItems length
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix(add another deadline item): change link set the selected deadline to the active item
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/controller.test.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/controller.js
  packages/forms-web-app/src/controllers/examination/session/submission-items-session.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: change a submission item on the add another page
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/controller.test.js
  packages/forms-web-app/__tests__/unit/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.test.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/controller.js
  packages/forms-web-app/src/controllers/examination/add-another-deadline-item/utils/mapSubmissionItems.js
  packages/forms-web-app/src/controllers/examination/session/submission-items-session.js
  packages/forms-web-app/src/public/stylesheets/main.css
  packages/forms-web-app/src/routes/config.js
  packages/forms-web-app/src/routes/examination/index.js
  packages/forms-web-app/src/sass/helpers/white-space.scss
  packages/forms-web-app/src/views/pages/examination/add-another-deadline-item.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

feat(applications-service-api): complete submission endpoint
  packages/applications-service-api/__tests__/__data__/submission.js
  packages/applications-service-api/__tests__/unit/controllers/submissions.test.js
  packages/applications-service-api/__tests__/unit/middleware/parseFormDataProperties.test.js
  packages/applications-service-api/__tests__/unit/middleware/validator/openapi.test.js
  packages/applications-service-api/__tests__/unit/middleware/validator/submission.test.js
  packages/applications-service-api/__tests__/unit/routes/submissions.test.js
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/api/openapi.yaml
  packages/applications-service-api/src/controllers/submissions.js
  packages/applications-service-api/src/error/apiError.js
  packages/applications-service-api/src/lib/notify.js
  packages/applications-service-api/src/middleware/parseFormDataProperties.js
  packages/applications-service-api/src/middleware/validator/openapi.js
  packages/applications-service-api/src/middleware/validator/submission.js
  packages/applications-service-api/src/routes/index.js
  packages/applications-service-api/src/routes/submissions.js
  packages/applications-service-api/src/services/submission.service.js
  packages/applications-service-api/src/utils/openapi.js
Due: none

fix: pr feedback
  packages/applications-service-api/src/services/submission.service.js
Due: none

feat(process submission): and process submission page and api submission logic
  package-lock.json
  packages/forms-web-app/package.json
  packages/forms-web-app/src/controllers/examination/process-submission/controller.js
  packages/forms-web-app/src/controllers/examination/process-submission/utils/service.js
  packages/forms-web-app/src/routes/config.js
  packages/forms-web-app/src/routes/examination/index.js
  packages/forms-web-app/src/views/pages/examination/check-your-answers.njk
  packages/forms-web-app/src/views/pages/examination/process-submission.njk
Due: pipelines/forms-web-app/forms-web-app-ci.yml

fix: return nice error from openapi validation if property is not of correct datatype
  packages/applications-service-api/__tests__/unit/middleware/validator/openapi.test.js
  packages/applications-service-api/src/middleware/validator/openapi.js
Due: none

feat(applications-service-api): integrate /submissions/:id/complete with gov notify
  docker-compose.yml
  packages/applications-service-api/__tests__/unit/lib/notify.test.js
  packages/applications-service-api/__tests__/unit/services/submission.service.test.js
  packages/applications-service-api/src/error/apiError.js
  packages/applications-service-api/src/lib/config.js
  packages/applications-service-api/src/lib/notify.js
  packages/applications-service-api/src/middleware/apiErrorHandler.js
  packages/applications-service-api/src/services/submission.service.js
Due: none

fix(applications-service-api): fix bug when validating create submission request
  packages/applications-service-api/__tests__/unit/middleware/validator/submission.test.js
  packages/applications-service-api/src/middleware/validator/submission.js
Due: none

feat(applicatons-service-api): mock server for ni api calls
  docker-compose.yml
  mock-server/init.json
Due: none

feat(process submission): and process submission page and api submission logic
  packages/forms-web-app/__tests__/unit/controllers/examination/process-submission/utils/process.test.js
  packages/forms-web-app/src/config.js
  packages/forms-web-app/src/controllers/examination/process-submission/controller.js
  packages/forms-web-app/src/controllers/examination/process-submission/utils/map-session-to-form-data.js
  packages/forms-web-app/src/controllers/examination/process-submission/utils/process.js
  packages/forms-web-app/src/controllers/examination/process-submission/utils/service.js
Due: pipelines/forms-web-app/forms-web-app-ci.yml
